<h4 style="text-align: center; font: bold">Remorquage</h4>
<div *ngIf="modeHistoire==1">
  <button (click)="onHistoire()" class="btn btn-link">Retour</button>    
  <table class="table">
    <tr>
      <th>code couleur - </th>
      <th>vert : en attent</th>
      <th>jaune : en cours</th>
      <th>rouge : fini</th>
    </tr>
    <tr style="background-color: whitesmoke">
      <th>#Bon</th><th (click)="dateSort()">Date</th><th (click)="entSort()">Entreprise</th><th (click)="contactSort()">Contact</th><th>Status</th><th></th>
    </tr>
    <tr *ngFor="let r of listRqs" style="color: green; background-color: whitesmoke">
      <td (dblclick)="gotoDetailRemorquage(r)">{{r.id}}</td>
      <td (dblclick)="gotoDetailRemorquage(r)">{{r.dateDepart}}</td>
      <td (dblclick)="gotoDetailRemorquage(r)">{{r.nomEntreprise}}</td>
      <td (dblclick)="gotoDetailRemorquage(r)">{{r.nomContact}}</td>
      <td>en attente</td>
      <td><button class="btn btn-link" (click)="gotoDetailRemorquage(r)">Detail</button></td>
      <td><button class="btn btn-link" (click)="onDelete(r)">Delete</button></td>
    </tr>
    <tr *ngFor="let r of listRqsSent" style="color:orange; background-color: whitesmoke">
      <td (dblclick)="gotoDetailRemorquage(r)">{{r.id}}</td>
      <td (dblclick)="gotoDetailRemorquage(r)">{{r.dateDepart}}</td>
      <td (dblclick)="gotoDetailRemorquage(r)">{{r.nomEntreprise}}</td>
      <td (dblclick)="gotoDetailRemorquage(r)">{{r.nomContact}}</td>
      <td>en cours</td>
      <td><button class="btn btn-link" (click)="gotoDetailRemorquage(r)">Detail</button></td>
      <td><button class="btn btn-link" (click)="onDelete(r)">Delete</button></td>
    </tr>
    <tr *ngFor="let r of listRqsFini" style="color: red; background-color: whitesmoke">
      <td (dblclick)="gotoDetailRemorquage(r)">{{r.id}}</td>
      <td (dblclick)="gotoDetailRemorquage(r)">{{r.dateDepart}}</td>
      <td (dblclick)="gotoDetailRemorquage(r)">{{r.nomEntreprise}}</td>
      <td (dblclick)="gotoDetailRemorquage(r)">{{r.nomContact}}</td>
      <td>fini</td>
      <td><button class="btn btn-link" (click)="gotoDetailRemorquage(r)">Detail</button></td>
      <td><button class="btn btn-link" (click)="onDelete(r)">Delete</button></td>
    </tr>
  </table>
</div>

<div *ngIf="modeHistoire==-1">
  <div class="panel panel-primary">
    <div class="col-sm-12 col-lg-12 col-md-12">
      <div class="row">
        <button (click)="printBonDeRemorquage('toprint')" class="btn btn-link">Print</button>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <button (click)="onFermer()" class="btn btn-link" >Fermer</button>          
      </div>
      <hr style="border: 2px solid lightgray"/>
      <!-- <div class="row">
        <div class="col-md-4 col-sm-4 col-lg-4">
          
          <h4><label>Repartiteur <input disabled type="text" [(ngModel)]="remorquage.nomDispatch" name="nomDispatch" class="form-control">
          </label></h4>
        </div>
        <div class="col-md-4 col-sm-4 col-lg-4">
          <h4>
            {{remorquage.dateDepart | date: 'dd-MMM-yyyy'}} - {{remorquage.timeCall}}
            
          </h4>
        </div>
        <div class="col-md-4 col-sm-4 col-lg-4">
          <h4>#Bon : {{remorquage.id}} </h4>
        </div>
      </div>
      <hr style="border: 1px solid lightgray"/> -->
    </div>
    <!-- <div class="panel-body">
      <div class="row">
        <div class="col-sm-6 col-md-3 col-lg-3">
          <div class="form-group">
            <label for="">Entreprise</label>
            <input disabled type="text" [(ngModel)]="remorquage.nomEntreprise"
                 name="nomEntreprise" (change)="nomEntrepriseInputChange()" class="form-control"
                 (focusout)="typeServiceChange(remorquage.typeService)" list="defaultShippers">
            
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3">
          <div class="form-group">
            <label for="">#PO</label>
            <input disabled type="text" [(ngModel)]="remorquage.numPO" name="numPO"
                 class="form-control">
          </div>
        </div>
        <div class="col-sm-6 col-md-1 col-lg-1">
          <div class="form-group">
            <label for="" style="text-align: center; align-content: center;">Rush</label>
            <input disabled type="checkbox" style="align-content: center;" [(ngModel)]="remorquage.rush" class="form-control" name="rush"/>
          </div>
        </div>
        <div *ngIf="!remorquage.rush" class="col-sm-6 col-md-3 col-lg-3">
          <div class="form-group">
            <label for="">DateReserve</label>
            <input disabled type="date" [ngModel]="remorquage.dateReserve | date: 'yyyy-MM-dd'"
            name="dateReserve" min="{{today | date: 'yyyy-MM-dd'}}"
            class="form-control" (change)="dateChange($event)"/>
          </div>
        </div>
        <div *ngIf="!remorquage.rush" class="col-sm-6 col-md-3 col-lg-3">
          <div class="form-group">
            <label for="">HeureReserve</label>
            <input disabled type="time" [(ngModel)]="remorquage.timeResrvation"
                 name="timeResrvation" class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-md-3 col-lg-">
          <div class="form-group">
            <label for="">Commande par</label>
            <input disabled type="text"  [(ngModel)]="remorquage.nomContact"
                 name="nomContact" class="form-control" list="defaultContacts">
            
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-">
          <div class="form-group">
            <label for="">Telephone</label>
            <input disabled type="tel" [(ngModel)]="remorquage.telContact" name="telContact"
                 class="form-control" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="xxx-xxx-xxxx"
                 (focusout)="remorquage.telContact=reformTelEvent($event)" required>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-">
          <div class="form-group">
            <label for="">Extension</label>
            <input disabled type="text" [(ngModel)]="remorquage.extTelContact" name="extTelContact"
                 class="form-control">
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3">
          <div class="form-group">
            <label for="">Courriel</label>
            <input disabled type="email" [(ngModel)]="remorquage.emailContact" name="emailContact" class="form-control" required>
          </div>
        </div>
      </div>        

      <hr style="border: 2px solid lightgray"/>
      
      <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-4">
          <div class="form-group">
            <label for="">Contact</label>
            <input disabled type="text"  [(ngModel)]="remorquage.nomClient"
                 name="nomClient" class="form-control">
          </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
          <div class="form-group">
            <label for="">Tel 1er</label>
            <input disabled type="tel" [(ngModel)]="remorquage.telClient" name="telClient"
                 class="form-control" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="xxx-xxx-xxxx"
                 (focusout)="remorquage.telClient=reformTelEvent($event)" required>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
          <div class="form-group">
            <label for="">Tel 2em</label>
            <input disabled type="tel" [(ngModel)]="remorquage.telClient2em" name="telClient2em"
                 class="form-control" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="xxx-xxx-xxxx"
                 (focusout)="remorquage.telClient2em=reformTelEvent($event)">
          </div>
        </div>
      </div>

      <div class="row">

        <div class="col-sm-12 col-md-2 col-lg-2">
          <div class="form-group">
            <label>Type</label>
            <select disabled type="text"  class="form-control" [ngModel]="remorquage.typeService"
                (ngModelChange)="typeServiceChange($event)">
              <option *ngFor="let s of serviceTypes" [ngValue]="s">{{s}}</option>
            </select>
          </div>
        </div>
        <div class="col-sm-12 col-md-2 col-lg-2">
          <div class="form-group">
            <label >Marque</label>
            <input disabled type="text"  [(ngModel)]="remorquage.marque" name="marque"
                 class="form-control" />
          </div>
        </div>
        <div class="col-sm-12 col-md-2 col-lg-2">
          <div class="form-group">
            <label >Modele</label>
            <input disabled type="text"  [(ngModel)]="remorquage.modele" name="modele"
                 class="form-control" />
          </div>
        </div>
        <div class="col-sm-12 col-md-2 col-lg-2">
          <div class="form-group">
            <label >Plaque</label>
            <input disabled type="text"  [(ngModel)]="remorquage.plaque" name="plaque"
                 class="form-control" />
          </div>
        </div>
        <div class="col-sm-12 col-md-2 col-lg-2">
          <div class="form-group">
            <label >Couleur</label>
            <input disabled type="text"  [(ngModel)]="remorquage.couleur" name="couleur"
                 class="form-control" />
          </div>
        </div>
        <div class="col-sm-12 col-md-2 col-lg-2">
          <div class="form-group">
            <label >Serie</label>
            <input disabled type="text" [(ngModel)]="remorquage.serie" name="serie"
                 class="form-control" />
          </div>
        </div>
      </div>
      <div class="row">
        
        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
          <div class="form-group">
            <label>Panne <input disabled type="checkbox" [(ngModel)]="remorquage.panne" (change)="ifPanne(); typeServiceChange(remorquage.typeService)"></label>
          </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
          <div class="form-group">
            <label>Accident <input disabled type="checkbox" [(ngModel)]="remorquage.accident" (change)="ifAccident(); typeServiceChange(remorquage.typeService)"></label>
          </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
          <div class="form-group">
            <label>PullOut <input disabled type="checkbox" [(ngModel)]="remorquage.pullOut" (change)="typeServiceChange(remorquage.typeService)"></label>
          </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
          <div class="form-group">
            <label>DebaragePorte <input disabled type="checkbox"
                          [(ngModel)]="remorquage.debaragePorte" (change)="typeServiceChange(remorquage.typeService)"></label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
          <div class="form-group">
            <label>Survoltage <input disabled type="checkbox" [(ngModel)]="remorquage.survoltage" (change)="typeServiceChange(remorquage.typeService)"></label>
          </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
          <div class="form-group">
            <label>Essence <input disabled type="checkbox" [(ngModel)]="remorquage.essence" (change)="typeServiceChange(remorquage.typeService)"></label>
          </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
          <div class="form-group">
            <label>ChangementPneu <input disabled type="checkbox"
                           [(ngModel)]="remorquage.changementPneu" (change)="typeServiceChange(remorquage.typeService)"></label>
          </div>
        </div>
        
      </div>
      <div class="row">
        <div class="col-sm-3">
          <label class="control-label">&nbsp;</label>
        </div>
        <div class="col-sm-3">
          <label class="control-label">Numero & Rue</label>
        </div>
        <div class="col-sm-3">
          <label class="control-label">Ville</label>
        </div>
        <div class="col-sm-3">
          <label class="control-label">Province</label>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <label class="control-label">Endroit de la panne</label>
        </div>
        <div class="col-sm-3">
          <input disabled type="text" [(ngModel)]="remorquage.originAdresse" name="origin"
               class="form-control" (change)="originChange()" />
        </div>
        <div class="col-sm-3">
          <input disabled type="text" [(ngModel)]="remorquage.originVille" name="originVille"
          class="form-control" (change)="originChange()" list="defaultVilles">
          <datalist id="defaultVilles">
              <option *ngFor="let v of villeListO" [ngValue]="v">{{v}}</option>
          </datalist>
          
        </div>
        <div class="col-sm-3">
          <select disabled type="text" class="form-control" [(ngModel)]="remorquage.originProvince"
              (ngModelChange)="originChange()">
            <option *ngFor="let p of provinceList" [ngValue]="p">{{p}}</option>
          </select>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-sm-3">
          <label class="control-label">Endroit de livraison</label>
        </div>
        <div class="col-sm-3">
          <input disabled type="text" [(ngModel)]="remorquage.destAdresse" name="origin"
               class="form-control" (change)="destinationChange()" />
        </div>
        <div class="col-sm-3">
          <input disabled type="text" [(ngModel)]="remorquage.destVille" name="destVille"
          class="form-control" (change)="destinationChange()" list="defaultVillesD">
          <datalist id="defaultVillesD">
              <option *ngFor="let v of villeListD" [ngValue]="v">{{v}}</option>
          </datalist>
          
        </div>
        <div class="col-sm-3">
          <select disabled type="text" class="form-control" [(ngModel)]="remorquage.destProvince"
              (ngModelChange)="destinationChange()">
            <option *ngFor="let p of provinceList" [ngValue]="p">{{p}}</option>
          </select>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-sm-3"><label class="control-label">Note Additionnelle</label></div>
        <div class="col-sm-9">
          <textarea disabled name="comments" class="form-control" cols="80" rows="3"
                [(ngModel)]="remorquage.comments"
                style="margin-top: 0px"></textarea>
        </div>
      </div>
      <div class="row" *ngIf="remorquage.fini">
        <div class="col-sm-12 col-md-5 col-lg-3">
          <input type="text" placeholder="Nom de Signateur" [(ngModel)]="remorquage.nomSignature" name="nomSignature"
          class="form-control" [disabled]="remorquage.fini">
        </div>
        <div class="col-sm-9" style="border: 2px dotted gray">
          
          <img [src]="remorquage.signature" alt="Signature" *ngIf="remorquage.signature.length>0">
        </div>
      </div>
      <hr style="border: 2px solid lightgray"/>

      <div class="row">
        <div class="col-sm-6 col-md-3 col-lg-3">
          <div class="form-group">
            <label for="">Camion</label>
            <input disabled type="text" [(ngModel)]="remorquage.camionAttribue" 
              name="camionAttribue" list="defaultCamions" class="form-control" required>
            <datalist id="defaultCamions">
                <option *ngFor="let c of camions" [ngValue]="c">{{c.unite}}</option>
            </datalist>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3">
          <div class="form-group">
            <label for="">Chauffeur</label>
            <input disabled type="text"  [(ngModel)]="remorquage.nomIntervenant"
                  name="nomIntervenant" class="form-control">
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3">
          <div class="form-group">
            <label for="">Telephone</label>
            <input disabled type="tel" [(ngModel)]="remorquage.telIntervenant" name="telIntervenant"
                  class="form-control" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="xxx-xxx-xxxx"
                  (focusout)="remorquage.telIntervenant=reformTelEvent($event)" required>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3">
          <div class="form-group">
            <label for="">Courriel</label>
            
            <input disabled type="email" [(ngModel)]="remorquage.emailIntervenant" name="emailIntervenant" class="form-control" list="defaultEmails" 
            required>
              <datalist id="defaultEmails">
            
              </datalist>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-3"><label class="control-label">Note au Chauffeur</label></div>
        <div class="col-sm-9">
          <textarea disabled name="comments" class="form-control" cols="80" rows="1"
                [(ngModel)]="remorquage.driverNote" style="margin-bottom: 0px"
                style="margin-top: 0px"></textarea>
        </div>
      </div>
      
      <hr style="border: 2px solid lightgray"/>
      <div *ngIf="mode==2" class="row" style="margin-top: 10px">
        <div class="col-md-2">
          <div class="form-group">
            <label *ngIf="mode==2" class="control-label">PrixBase</label>
            <input type="number" [(ngModel)]="remorquage.prixBase" name="prixBase"
                  class="form-control" (change)="prixCalcul()" disabled/>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <label *ngIf="mode==2" class="control-label">Prix/Km</label>
            <input type="number" [(ngModel)]="remorquage.prixKm" name="prixKm" class="form-control"
                  (change)="prixCalcul()" disabled/>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <label *ngIf="mode==2" class="control-label">Inclus</label>
            <input type="number" [(ngModel)]="remorquage.inclus" name="inclus" class="form-control"
                (change)="prixCalcul()" disabled/>
            
          </div>
        </div>
        <div class="col-md-2">
          <label class="control-label">Kms</label>
          <input type="number" [(ngModel)]="remorquage.distance" name="distance" class="form-control" disabled/>
          
        </div>
        <div class="col-md-4">
          <label class="control-label" style="font-weight: bold; align-content: center">A Payer</label>
          <table  >
            <tr>
              <td style="text-align: right">HorsTax:</td>
              <td style="text-align: right">{{remorquage.horstax | number : '1.2'}}</td>
            </tr>
            <tr>
              <td style="text-align: right">TPS:</td>
              <td style="text-align: right">{{remorquage.tps | number : '1.2'}}</td>
            </tr>
            <tr>
              <td style="text-align: right">TVQ:</td>
              <td style="text-align: right">{{remorquage.tvq | number : '1.2'}}</td>
            </tr>
            <tr>
              <td style="text-align: right">TOTAL:</td>
              <td style="text-align: right">{{remorquage.total | number : '1.2'}}</td>
            </tr>
          </table>
        </div>
      </div>
      
    </div> -->
  </div>
</div>
<!-- <hr style="border: 2px solid lightgray"/>
<div *ngIf="modeHistoire==-1">
  <button (click)="printBonDeRemorquage('toprint')" class="btn btn-link">Print</button>
  
  <br>
</div>
<br>
<div class="row" [hidden]="modeHistoire==1 || remorquage.fini || remorquage.id==null">
  <div style="float: left; width:70%" class="row">
    <div class="col-md-12">
      <div class="text-center">
        <h3>
          <div #gmap style="width:100%;height:500px"></div>
        </h3>
      </div>
    </div>
  </div>
  
  <div id="right-panel" style="float: right; width:30%; font-size: 9pt"></div>
</div> -->
<div id="toprint" *ngIf="modeHistoire==-1">
  <table border='1' id='Tablbpm2' style="font-size: 12pt; margin-inline: 5px">
    <tr>
      <td style="text-align: center; text-anchor: start ">Heure d'Appel <br> <span>&nbsp;{{remorquage.dateDepart | date: 'dd-MMM-yyyy'}} - {{remorquage.timeCall}}</span></td>
      <td style="text-align: center; text-anchor: start ">Repartiteur <br> <span>&nbsp;{{remorquage.nomDispatch}}</span></td>
      <td style="text-align: center; text-anchor: start ">Chauffeur <br> <span>&nbsp;{{remorquage.nomIntervenant}}</span></td>
      <td style="text-align: center; text-anchor: start "># PO <br> <span>&nbsp;{{remorquage.numPO}}</span></td>
      <td style="text-align: center; text-anchor: start "># Bon <br> <span>&nbsp;{{remorquage.id}}</span></td>
    </tr>
    <tr>
      <td *ngIf="remorquage.rush" style="text-align: center; text-anchor: start; font-size: 13pt; background-color: darkgray">Rush</td>
      <td *ngIf="!remorquage.rush" style="text-align: center; text-anchor: start; font-size: 13pt; background-color: darkgray ">Heure Reservation <br> {{remorquage.dateReserve | date : 'dd-MMM-yyyy'}} - {{remorquage.timeResrvation}}</td>
      <td style="text-align: center; text-anchor: start "># Camion <br> <span>&nbsp;{{remorquage.camionAttribue}}</span></td>
      <td style="text-align: center; text-anchor: start ">Type d"Equipement <br> <span>&nbsp;{{remorquage.typeService}}</span></td>
      <td style="text-align: center; text-anchor: start " colspan="2">$ Montant $ <br> <span>&nbsp;{{remorquage.total | number : '1.2'}}</span></td>
    </tr>
    <tr>
      <td colspan="5" *ngIf="remorquage.nomEntreprise!=null&&remorquage.nomEntreprise.length>0">Client: 
        <span>&nbsp;{{remorquage.nomEntreprise}}</span>
        <span>&nbsp;&nbsp;&nbsp;{{"Tel: " + remorquage.telContact}}</span>
        <span *ngIf="remorquage.extTelContact!=null&&remorquage.extTelContact.length>0">&nbsp;&nbsp;&nbsp;{{"Ext: " + remorquage.extTelContact}}</span> <br>
        <span *ngIf="remorquage.nomContact!=null&&remorquage.nomContact.length>0">{{"Commande par : " + remorquage.nomContact}}</span>
        <br> &nbsp;</td>  
    </tr>
    <tr>
      <td colspan="5">Contact: 
        <span>&nbsp;{{remorquage.nomClient}}</span>
        <span>&nbsp;&nbsp;&nbsp;{{"Tel: " + remorquage.telClient}}</span>
        <span>&nbsp;&nbsp;&nbsp;{{"Tel/Email: " + remorquage.telClient2em}}</span>
        <br> &nbsp;</td>  
    </tr>
    <tr>
      <td colspan="5">De: <span>&nbsp;{{remorquage.origin}}</span> <br> &nbsp;</td>
    </tr>
    <tr>
        <td colspan="5">A: <span>&nbsp;{{remorquage.destination}}</span> <br> &nbsp;</td>
    </tr>
    <tr>
      <td colspan="3" style="text-align: left; text-anchor: start ">Vehicule: 
        <span>&nbsp;{{remorquage.marque}}</span>
        <span>&nbsp;&nbsp;{{remorquage.modele}}</span>
        <span>&nbsp;&nbsp;{{remorquage.couleur}}</span>
        <br><span>&nbsp;</span>
      </td> 
      <td style="text-align: center; text-anchor: start "> N/S: <span>{{remorquage.serie}}</span></td>
      <td style="text-align: center; text-anchor: start "> Plaque: <span>{{remorquage.plaque}}</span></td>
    </tr>
    <tr> 
      <td colspan="5"style="text-align: left; text-anchor: start ">
        Problems / Services: <span>&nbsp;{{problemService()}} <br>&nbsp;</span>
      </td>
    </tr>
    <tr> 
      <td colspan="5"style="text-align: left; text-anchor: start ">
        Detail: <span>&nbsp;{{remorquage.comments}} <br>&nbsp;</span>
      </td>
    </tr>
    <tr> 
      <td colspan="5"style="text-align: left; text-anchor: start ">
        Note au Chauffeur: <span>&nbsp;{{remorquage.driverNote}} <br>&nbsp;</span>
      </td>
    </tr>
    
    <tr>
      <td colspan="5"style="text-align: left; text-anchor: start ">
        <h5>Signature: </h5>
        <img [src]="remorquage.signature" alt="Signature" *ngIf="remorquage.signature.length>0">
        <h5 *ngIf="remorquage.nomSignature.length>0">{{"NOM EN LETTRES MOULEES : " + remorquage.nomSignature}}</h5>
      </td>
    </tr>
  </table>
  
</div>
