<div>
  <p>
        <!-- You are : {{who}} -->
  <div> 
    <!-- <h3>  <strong> CTS - Complete Transport Solution </strong> </h3> -->
    <!--h5> <strong>Plus Loads et Plus Equipements</strong></h5-->
    <h5> <strong>Simplifier des operations de Transport.</strong></h5>
    <h6> <strong>Transporters - Shippers - Dispatchs - Brokers - Techniciens</strong></h6>
  </div>
  <p>

  </p><p>
    <!--This is the map test - position of SOS Prestige-->
    <!-- <strong>Un outil performant pour simplifier des operations et diminuer des frais de transport.</strong> -->
  </p>      
</div>
<div>
  <strong>
    <p>CTS - Complete Transport Solution<sup>&reg;</sup> 
      Etais enligne depuis 2019, a moyen pour des Shippers communiquer facilement aux Transporters, aussi automatiser la gestion leurs flottes. Passant de l'utilisation de papier, de télécopies et de téléphones à l'utilisation d'une base de données centrale efficace sur Internet.
    </p>
  </strong>
</div>
<div><!--button class="btn btn-link" (click)="onPress()">Return</button><button routerLink="/" class="btn btn-link">Back</button--></div>
<!--div>
  <a target="_blank" rel="noopener noreferrer" href={{varMap2}}>Click here to see your truck</a>
</div-->
<!--div><button (click)="onPress()">See your truck on Google Map</button></div-->