<div>
    <p>
        <!-- You are : {{who}} -->
        <strong>Transport Resolution.</strong>
      </p>
      <p></p><p>
        <!--This is the map test - position of SOS Prestige-->
        <strong>Un outil performant pour simplifier des operations et diminuer des frais de transport.</strong>
      </p>
      
</div>

<!--div>
  <a target="_blank" rel="noopener noreferrer" href={{varMap2}}>Click here to see your truck</a>
</div-->
<!--div><button (click)="onPress()">See your truck on Google Map</button></div-->