<div class="container spacer">
  <!--div class="panel panel-primary"-->
    <!--div class="panel-heading" *ngIf="!flag.includes('transporter') && !role.includes('shipper')">Liste des demandes</div-->
    <!--div class="panel-body" *ngIf="!flag.includes('transporter') && !role.includes('shipper')"-->
    <div class="panel-heading">Loads Potential :</div>
    <h6 *ngIf="modeMatching==1">From {{voyage.origin}} rayon {{voyage.radiusOrigin}} miles &nbsp; To &nbsp; {{voyage.destination}} rayon {{voyage.radiusDestination}} miles 
      <span *ngIf="voyage.chercheCorridor"> &nbsp; check Corridor</span> 
    </h6>
    <div class="panel-body" *ngIf="modeMatching==0">
      <div class="form-group">
        <label for="Mot cle : "></label>
        <input type="text" [(ngModel)]="motCle" #ctrl="ngModel"/>&nbsp;&nbsp;&nbsp;
        <!--button class="btn btn-primary" (click)="chercher()">Chercher</button-->
        <button class="btn btn-primary" (click)="cherDistanceTravel()">Chercher</button>        
      </div>
      <table class="table table-striped">
        <tr>
          <th>Available</th><th>Origin</th><th>Destination</th><th>Comments</th><th>Poste Par</th>
        </tr>
        <tr *ngFor="let d of pageDemande.content">
          <td>{{today | date: 'yyyy-MM-dd'}}</td>
          <td>{{d.origin}}</td>
          <td>{{d.destination}}</td>
          <td><textarea class="form-control" type="text" rows="1" cols="30">{{d.comments}}</textarea></td>
          <td>{{d.nomDemander}}</td>
          <td><button class="btn btn-link" (click)="gotoDetailDemande(d)">Detail</button></td>
          <td><button class="btn btn-link" (click)="contactDemande(d)" [disabled]="disableContactDemande(d)">Ask</button></td>
          <td><button class="btn btn-link" (click)="removeDemande(d)">Desactive</button></td>
        </tr>
      </table>
      <table class="table table-striped" style="background-color: lightsteelblue">
        <tr *ngFor="let d of demandesBlue">
          <td>{{today | date: 'yyyy-MM-dd'}}</td>
          <td>{{d.origin}}</td>
          <td>{{d.destination}}</td>
          <td><textarea class="form-control" type="text" rows="1" cols="30">{{d.comments}}</textarea></td>
          <td>{{d.nomDemander}}</td>
          <td><button class="btn btn-link" (click)="gotoDetailDemande(d)" disabled>Detail</button></td>
          <td><button class="btn btn-link" (click)="contactDemande(d)" disabled>Ask</button></td>
          <td><button class="btn btn-link" (click)="unRemoveDemande(d)">Active</button></td>
        </tr>
      </table>
      <div class="container">
        <ul class="nav nav-pills"><strong>page: </strong>
          <li *ngFor="let p of pages; let i=index">
            <button class="btn btn-link" (click)="gotoPage(i)"> <strong>{{i}}</strong> </button>
          </li>
        </ul>
      </div>      
    </div>
    <div class="panel-body" *ngIf="modeMatching==1">
      <div class="form-group">
        <label for="Mot cle : "></label>
        <input type="text" [(ngModel)]="motCle" #ctrl="ngModel"/>&nbsp;&nbsp;&nbsp;
        <button class="btn btn-primary" (click)="chercher()">Chercher</button>
      </div>
      <table class="table table-striped">
        <tr>
          <th>Available</th><th>Origin</th><th>Destination</th><th>DFO</th><th>LD</th><th>DFD</th><th>Comments</th><th>Poste Par</th>
        </tr>
        <tr *ngFor="let d of demandes" (click)="gotoDetailDemande(d)">
          <td>{{today | date: 'yyyy-MM-dd'}}</td>
          <td>{{d.origin}}</td>
          <td>{{d.destination}}</td>
          <td>{{calculateDistance(voyage.originLat, voyage.originLong, d.originLat, d.originLong)}}</td>
          <td>{{calculateDistance(d.originLat, d.originLong, d.destLat, d.destLong)}}</td>
          <td>{{calculateDistance(voyage.destLat, voyage.destLong, d.destLat, d.destLong)}}</td>
          <td><textarea class="form-control" type="text" rows="1" cols="30">{{d.comments}}</textarea></td>
          <td>{{d.nomDemander}}</td>
          <!--td><button class="btn btn-link" (click)="gotoDetailDemande(d)">Detail</button></td-->
          <td><button class="btn btn-link" (click)="contactDemande(d)" [disabled]="disableContactDemande(d)">Ask</button></td>
          <td><button class="btn btn-link" (click)="removeDemande(d)">Desative</button></td>
        </tr>
        <tr *ngFor="let d of demandesBlue" style="background-color: lightsteelblue">
          <td>{{today | date: 'yyyy-MM-dd'}}</td>
          <td>{{d.origin}}</td>
          <td>{{d.destination}}</td>
          <td>{{calculateDistance(voyage.originLat, voyage.originLong, d.originLat, d.originLong)}}</td>
          <td>{{calculateDistance(d.originLat, d.originLong, d.destLat, d.destLong)}}</td>
          <td>{{calculateDistance(voyage.destLat, voyage.destLong, d.destLat, d.destLong)}}</td>
          <td><textarea class="form-control" type="text" rows="1" cols="30">{{d.comments}}</textarea></td>
          <td>{{d.nomDemander}}</td>
          <!--td><button class="btn btn-link" (click)="gotoDetailDemande(d)" disabled>Detail</button></td-->
          <td><button class="btn btn-link" (click)="contactDemande(d)" disabled>Ask</button></td>
          <td><button class="btn btn-link" (click)="unRemoveDemande(d)">Active</button></td>
        </tr>        
      </table>
    </div>
    <!--div class="panel-heading" *ngIf="">
      <div class="panel-body">
        <table class="table table-striped">
          <tr>
            <th>Available</th><th>Origin</th><th>Destination</th><th>Type Camions</th>
          </tr>
          <tr *ngFor="let d of demandes">
            <td>{{today | date: 'yyyy-MM-dd'}}</td><td>{{d.origin}}</td><td>{{d.destination}}</td><td>{{d.typeCamion}}</td>
            <td><button class="btn btn-link" (click)="gotoDetailDemande(d)">Detail</button></td>
            <td><button class="btn btn-link" (click)="deleteDemande(d.id)">Delete</button></td>
          </tr>
        </table>
      </div>
    </div-->    
  <!--/div-->
</div>