<div class="container spacer">
  <div class="panel panel-primary">
    <!--div class="panel-heading" *ngIf="!flag.includes('transporter') && !role.includes('shipper')">Liste des demandes</div-->
    <!--div class="panel-body" *ngIf="!flag.includes('transporter') && !role.includes('shipper')"-->
    <div class="panel-heading">Liste de demandes disponibles :</div>
    <h6 *ngIf="modeMatching==1">Le Voyage de {{voyage.origin}} rayon {{voyage.radiusOrigin}} miles &nbsp;a&nbsp; {{voyage.destination}} rayon {{voyage.radiusDestination}} miles 
      <span *ngIf="voyage.chercheCorridor"> &nbsp; avec Corridor</span> 
    </h6>
    <div class="panel-body" *ngIf="modeMatching==0">
      <div class="form-group">
        <label for="Mot cle : "></label>
        <input type="text" [(ngModel)]="motCle" #ctrl="ngModel"/>&nbsp;&nbsp;&nbsp;
        <button class="btn btn-primary" (click)="chercher()">Chercher</button>
      </div>
      <table class="table table-striped">
        <tr>
          <th>Prevoir</th><th>Origin</th><th>Destination</th><th>Type Camions</th><th>Poste Par</th>
        </tr>
        <tr *ngFor="let d of pageDemande.content">
          <td>{{d.dateDepart}}</td><td>{{d.origin}}</td><td>{{d.destination}}</td><td>{{d.typeCamion}}</td><td>{{d.nomDemander}}</td>
          <td><button class="btn btn-link" (click)="gotoDetailDemande(d)">Detailler</button></td>
          <td><button class="btn btn-link" (click)="removeDemande(d)">Retirer</button></td>
        </tr>
      </table>
      <div class="container">
        <ul class="nav nav-pills"><strong>page: </strong>
          <li *ngFor="let p of pages; let i=index">
            <button class="btn btn-link" (click)="gotoPage(i)"> <strong>{{i}}</strong> </button>
          </li>
        </ul>
      </div>
    </div>
    <div class="panel-body" *ngIf="modeMatching==1">
      <div class="form-group">
        <label for="Mot cle : "></label>
        <input type="text" [(ngModel)]="motCle" #ctrl="ngModel"/>&nbsp;&nbsp;&nbsp;
        <button class="btn btn-primary" (click)="chercher()">Chercher</button>
      </div>
      <table class="table table-striped">
        <tr>
          <th>Prevoir</th><th>Origin</th><th>Destination</th><th>Type Camions</th><th>Poste Par</th>
        </tr>
        <tr *ngFor="let d of demandes">
          <td>{{d.dateDepart}}</td><td>{{d.origin}}</td><td>{{d.destination}}</td><td>{{d.typeCamion}}</td><td>{{d.nomDemander}}</td>
          <td><button class="btn btn-link" (click)="gotoDetailDemande(d)">Detailler</button></td>
          <td><button class="btn btn-link" (click)="removeDemande(d)">Retirer</button></td>
        </tr>
      </table>
    </div>
    <!--div class="panel-heading" *ngIf="">
      <div class="panel-body">
        <table class="table table-striped">
          <tr>
            <th>Prevoir</th><th>Origin</th><th>Destination</th><th>Type Camions</th>
          </tr>
          <tr *ngFor="let d of demandes">
            <td>{{d.dateDepart}}</td><td>{{d.origin}}</td><td>{{d.destination}}</td><td>{{d.typeCamion}}</td>
            <td><button class="btn btn-link" (click)="gotoDetailDemande(d)">Detailler</button></td>
            <td><button class="btn btn-link" (click)="deleteDemande(d.id)">Delete</button></td>
          </tr>
        </table>
      </div>
    </div-->    
  </div>
</div>