<div id="showgen">
    <h2 style="text-align: center;"><strong>Machinery Specs</strong><br></h2>
    <h3 *ngIf="!(userId.length>0)"><button class="btn btn-link">Ajout Machine Specs</button></h3>
    <!-- <input style="width: 50ch;" type="text" [(ngModel)]="nameMachine" list="listMachine" placeholder="Search/Recherche">
    <datalist id="listMachine">
        <option *ngFor="let machine of machines" [ngValue]="machine">{{machine}}</option>
    </datalist> -->
    <div class="ng-autocomplete">
        <ng-autocomplete
          [data]="machines"
          [searchKeyword]="keyword01"
          placeholder="Machine"
          (selected)='selectEvent01($event)'
          (inputChanged)='onChangeSearch01($event)'
          (inputFocused)='onFocused01($event)'
          (inputCleared)='clearInput()'
          [itemTemplate]="itemTemplate01"
          [notFoundTemplate]="notFoundTemplate01">
        </ng-autocomplete>
        <ng-template #itemTemplate01 let-item>
          <a [innerHTML]="item"></a>
        </ng-template>
        <ng-template #notFoundTemplate01 let-notFound>
          <div [innerHTML]="notFound"></div>
        </ng-template>
    </div>    
    <br>
</div>

<div id="addmodifyspec" *ngIf="!(userId.length>0)" style="border: 1px solid black;">
    <br>
    <table>
        <tr>
            <th><span>Machine &nbsp;</span><input style="width: 50ch;" type="text" [(ngModel)]="nameMachine" (change)="nameMachineChange()"></th>
        </tr>
        <tr>
            <td>
                <table border="1">
                    <tr><th>Photos</th></tr>
                    <tr>
                        <td>
                            <span>Photo01: </span>
                            <input type="file" title="Attach photo01 " (change)="onFileUpLoadTest($event)" accept="image/x-png,image/gif,image/jpeg,.svg" placeholder="photo01">
                        </td>
                    </tr><tr>
                        <td>
                            <span>Photo02: </span>
                            <input type="file" title="Attach photo02 " (change)="onFileUpLoadTest02($event)" accept="image/x-png,image/gif,image/jpeg,.svg" placeholder="photo02">
                        </td>
                    </tr><tr>
                        <td>
                            <span>Photo03: </span>
                            <input type="file" title="Attach photo03 " (change)="onFileUpLoadTest03($event)" accept="image/x-png,image/gif,image/jpeg,.svg" placeholder="photo03">
                        </td>
                    </tr>
                </table>
            </td>
            <td><span>&nbsp;</span></td>
            <td>
                <table border="1">
                    <tr><th colspan="2">Specifications</th></tr>
                    <tr><th>Spec</th><th>Description</th></tr>
                    <tr>
                        <td><input type="text" [(ngModel)]="spec.name"></td>
                        <td><input type="text" [(ngModel)]="spec.descrip"></td>
                        <td><button class="btn btn-link" (click)="onAddingSpec()">Ajout</button></td>
                    </tr>
                    <tr *ngFor="let sp of specs">
                        <td><input type="text" [(ngModel)]="sp.name" (change)="buildSpecs()"></td>
                        <td><input type="text" [(ngModel)]="sp.descrip" (change)="buildSpecs()"></td>
                        <td><button class="btn btn-link" (click)="onDeletingSpec(sp)">Delete</button></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    
    
    <strong>Site Reference &nbsp;</strong><input type="text" [(ngModel)]="url" style="width: 100ch;" (change)="onSiteReferChange()"><br>
</div>

<div id="showspec" style="border: 1px solid black;">
    <br>
    <h3 *ngIf="nameMachine.length>0" style="text-align: center;"><strong>&nbsp;{{nameMachine}}</strong></h3>
    <table border="1">
        <th *ngIf="imgUrl.length>0 || imgUrl02.length>0 || imgUrl03.length>0" colspan="3">Photos</th>
        <tr>
            <td *ngIf="imgUrl.length>0" style="width: 33%;"><img [src]="imgUrlSafe" alt="photo01" class="img-responsive" width="100%" ></td>
            <td *ngIf="imgUrl02.length>0" style="width: 33%;"><img [src]="imgUrlSafe02" alt="photo02" class="img-responsive" width="100%" ></td>
            <td *ngIf="imgUrl03.length>0" style="width: 33%;"><img [src]="imgUrlSafe03" alt="photo03" class="img-responsive" width="100%" ></td>
        </tr>
    </table>
    <br><br>
    <table border="1">
        <tr *ngIf="specs.length>0">
            <th colspan="2">Specifications</th>
            <!-- <th>Detail</th> -->
        </tr>
        <tr *ngFor="let sp of specs">
            <td><input type="text" [(ngModel)]="sp.name" disabled></td>
            <td><input type="text" [(ngModel)]="sp.descrip" disabled></td>
            <!-- <td>{{sp.descrip}}</td> -->
        </tr>
    </table>
    <br><br>
    <h4 *ngIf="!(userId.length>0)"><strong><button class="btn btn-link" (click)="onModify()">Modify</button></strong>
        &nbsp;&nbsp;<strong><button class="btn btn-link" (click)="onDelete()">Delete</button></strong></h4>
        <br><br>
    <h3 *ngIf="url.length>7"><strong>Site Reference &nbsp;<a href={{url}} target="_blank">{{url}}</a></strong></h3>
    <iframe *ngIf="url.length>7" style="width: 94%; height: 600px; margin-left: 2%; margin-bottom: 5px; margin-top: 2px; border: 2px solid black;" frameBorder="2" [src]="urlSafe" sandbox></iframe>
</div>
<!-- <div id="reservespecs"></div> -->


<!-- <p>machinery-specifications works!</p> -->


<!-- <span>Search/Recherche</span> -->
<!-- historyIdentifier="countries" -->

<!-- div class="ng-autocomplete">
    <ng-autocomplete
      [data]="countries"
      [searchKeyword]="keyword"
      placeholder="Enter the Country Name"
      (selected)='selectEvent($event)'
      (inputChanged)='onChangeSearch($event)'
      (inputFocused)='onFocused($event)'
      [itemTemplate]="itemTemplate"
      [notFoundTemplate]="notFoundTemplate">
    </ng-autocomplete>
  
    <ng-template #itemTemplate let-item>
      <a [innerHTML]="item.name"></a>
    </ng-template>
  
    <ng-template #notFoundTemplate let-notFound>
      <div [innerHTML]="notFound"></div>
    </ng-template>
</div -->
<!-- historyIdentifier="machines" -->
<!-- <div class="ng-autocomplete">
    <ng-autocomplete
      [data]="machines"
      [searchKeyword]="keyword01"
      placeholder="Machine"
      (selected)='selectEvent01($event)'
      (inputChanged)='onChangeSearch01($event)'
      (inputFocused)='onFocused01($event)'
      [itemTemplate]="itemTemplate01"
      [notFoundTemplate]="notFoundTemplate01">
    </ng-autocomplete>
  
    <ng-template #itemTemplate01 let-item>
      <a [innerHTML]="item"></a>
    </ng-template>
  
    <ng-template #notFoundTemplate01 let-notFound>
      <div [innerHTML]="notFound"></div>
    </ng-template>
</div> -->


<!-- <img [src]="imgUrlSafe" alt="photo01" class="img-responsive" width="245" height="300"> -->


<!-- iframe good for show file svg -->
<!-- <iframe [src]="imgUrlSafe" sandbox></iframe> --> 


