<div id="toprint" hidden>
        <img [src]="imgLogoUrl" alt="SOS Prestige" height="50"/>
        <!-- <img src="assets/images/logoSOSPrestige.jpg" alt="SOS Prestige" width="150"/> -->
    <!-- <h4 style="margin-left: 3cm;"><span>CONFIRMATION DU TRANSPORTEUR</span> 
        <span style="margin-left: 5cm;">SP {{formNumero}}</span>
        <br><small>CARRIER CONFIRMATION</small>
    </h4> -->
    <h4 style="margin-left: 1cm;"><span>CONFIRMATION DU TRANSPORTEUR / CARRIER CONFIRMATION</span>
        <!-- <span style="margin-left: 1cm;">SP <input type="text" style="width: 8ch;border: none; border-width: 0; box-shadow:none;  background-color: transparent;" [(ngModel)]="formNumero"></span> -->
        <span style="margin-left: 1cm;">SP {{formNumero}}</span>
        <!-- <br><small>CARRIER CONFIRMATION</small> -->
    </h4>
    <!-- <h6 style="margin-left: 3cm;"><span>CARRIER CONFIRMATION</span></h6> -->
    <table border='1' style="font-size: 12pt; margin-inline: 5px; width: 19cm">
      <tr>
        <td><span>SOS PRESTIGE</span>
            <br><span>9299-9101 Quebec Inc</span>
            <br><span>520 Rue Guindon</span>
            <br><span>Saint-Eustache (Qc)</span>
            <br><span>J7R 5B4</span>
            <br><span>{{selfTel}}</span>
        </td>
        <td><span>Transporteur/Carrier : {{comName}}</span>
            <br>
            <br><span>Contact : {{comContact}}</span>
            <br><span>Adresse : {{comAddress}}</span>
            <br><span>Ville : {{comVille}}</span>
            <br><span>Tel : {{comTel}}</span>
            <br><span></span>
        </td>
      </tr>
      <tr>
        <td>
            <span>PICK UP &nbsp;</span><span>&nbsp;{{datePick | date : 'dd-MMM-yyyy'}}</span>
            <span><br>FROM : {{pickFrom}}</span>
            <span><br>Nom de la compagnie : {{pickName}}</span>
            <span><br></span>
            <span><br>Adresse : {{pickAddress}}</span>
            <span><br>Ville : {{pickVille}}</span>
            <span><br>Code postal : {{pickCodePostal}}</span>
        </td>
        <td>
            <span>DELIVER &nbsp;</span><span>&nbsp;{{dateDrop | date : 'dd-MMM-yyyy'}}</span>
            <span><br>TO : {{shipTo}}</span>
            <span><br>Nom de la compagnie : {{shipName}}</span>
            <span><br></span>
            <span><br>Adresse : {{shipAddress}}</span>
            <span><br>Ville : {{shipVille}}</span>
            <span><br>Code postal : {{shipCodePostal}}</span>
        </td>
      </tr>
      <tr>
        <td colspan="2" style="text-align: left;">
            <table>
                <tr>
                    <td style="width: 12cm;">DESCRIPTION : </td>
                    <td style="width: 7cm;"><strong>MONTANT/RATE :  ${{formMontant}}</strong></td>
                </tr>
            </table>
            <p style="text-align: left;">
                <!-- &nbsp;{{formDescription}} -->
                <textarea cols="100" rows="3" readonly style="text-align: left; border: none; border-width: 0; box-shadow:none;  background-color: transparent;">{{formDescription}}</textarea>
            </p>
            <span>NOTES : </span>
            <p>
                <textarea cols="100" rows="3" readonly style="text-align: left; border: none; border-width: 0; box-shadow:none;  background-color: transparent;">{{formNotes}}
                </textarea>
            </p>
        </td>
      </tr>
      <tr>
          <td colspan="2">
              <strong style="font-style: italic;"><u>Contact : {{formContact}}</u></strong><strong style="font-style: italic;">&nbsp; {{formTel}}</strong>
              <br>
              <br><span>PICK UP : {{formPickUp}}</span>
              <br><span>DROP : {{formDrop}}</span>
              <br>
              <br><span>
                SVP indiquer le nom et prénom en lettres carrées de la personne qui signe le bon de livraison
              </span>
              <br><span>
                NB : Please indicate in block letters name and surname of the person that sign the bill
              </span>
              <br><span>
                SVP envoyer votre facture et copie lisible de Bon de livraison à {{formEmail}}
              </span>
              <br><span>
                Please send POD and Invoice to : {{formEmail}}
              </span>
              <br>
              <br><span>
                SVP signer cette confirmation et nous l'envoyer au : {{formEmail}}
              </span>
              <br><span>
                Please sign this confirmation and send to : {{formEmail}} 
              </span>
              <br>
              <br>
              <!-- <br> -->
              <!-- <br>
              <br> -->
              <span style="font-style: italic;"><u>Signature :</u></span>
              <!-- <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
              <span style="width: 50%;">&nbsp;&nbsp;&nbsp;</span> -->
              <span style="font-style: italic;"><u style="margin-left: 8cm;">Date :</u></span>
              <br><br><br><br><br>
              <!-- <br><br><br> -->
          </td>
      </tr>
      <!-- <tr>
        <td>
            <textarea type="text" rows="7" cols="40" [(ngModel)]="message02" readonly></textarea>
        </td>
        <td>
            <textarea>{{message02}}</textarea>
        </td>
      </tr>
      <tr>
          <td>{{message02}}</td>
          <td>{{message02}}</td>
      </tr> -->
    </table>
    <h5 style="float: right;"><br>{{selfnir}}</h5>
  </div>
  <div id="noprint">
    <button (click)="print('toprint')" class="btn btn-primary" style="margin-left: 3cm;">Print</button>
    <!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
    <button style="margin-left: 1cm;" (click)="newForm()" class="btn btn-primary">Nouveau</button>
    <strong style="margin-left: 2cm;">Liste Confirmations &nbsp;</strong> 
    <select type="text" [(ngModel)]="confirmTransport" (ngModelChange)="confirmFound(confirmTransport)">
        <option *ngFor="let c of listConfirm" [ngValue]="c">
          {{
            '#SP: '+c.formNumero+ ' - ' + 'Carrier: '+c.comName
          }}
        </option>
        <!--  + ' - ' + 
            ((c.datePick!=null)?('DatePick: ' +c.datePick +' ') :' ')+
            ((c.dateDrop!=null)?('DateDrop: ' +c.dateDrop+ ' ') :' ')
         -->
    </select> 
    <br>
    <!-- <img [src]="imgLogoUrl" alt="SOS Prestige" height="50"/> -->
    
    <!-- <img src="assets/images/logoSOSPrestige.jpg" alt="SOS Prestige" width="150"/> -->
    
    <h5><span>CONFIRMATION DU TRANSPORTEUR / CARRIER CONFIRMATION</span>
        <span style="margin-left: 1cm;">SP {{formNumero}}</span>
        <!-- <span style="margin-left: 1cm;">SP <input type="text" style="width: 8ch;border: none; border-width: 0; box-shadow:none;  background-color: transparent;" [(ngModel)]="formNumero"></span> -->
        <!-- <br><small>CARRIER CONFIRMATION</small> -->
    </h5>
    <table border='1' style="font-size: 12pt; margin-inline: 5px; width: 19cm">
      <tr>
        <td><span>SOS PRESTIGE</span>
            <br><span>9299-9101 Quebec Inc</span>
            <br><span>520 Rue Guindon</span>
            <br><span>Saint-Eustache (Qc)</span>
            <br><span>J7R 5B4</span>
            <br><span>450-974-9111</span>
        </td>
        <td><span>Transporteur/Carrier : <input style="border: none; border-width: 0; box-shadow:none;  background-color: transparent;" type="text" [(ngModel)]="comName"></span>
            <br>
            <br><span>Contact : <input style="border: none; border-width: 0; box-shadow:none;  background-color: transparent;" type="text" [(ngModel)]="comContact"></span>
            <br><span>Adresse : <input style="border: none; border-width: 0; box-shadow:none;  background-color: transparent;" type="text" [(ngModel)]="comAddress"></span>
            <br><span>Ville : <input style="border: none; border-width: 0; box-shadow:none;  background-color: transparent;" type="text" [(ngModel)]="comVille"></span>
            <br><span>Tel : <input style="border: none; border-width: 0; box-shadow:none;  background-color: transparent;" type="text" [(ngModel)]="comTel"></span>
            <br><span></span>
        </td>
      </tr>
      <tr>
        <td>
            <span>PICK UP &nbsp; </span><span>&nbsp; - Date &nbsp; </span>
            <input type="date" [ngModel]="datePick | date: 'yyyy-MM-dd'"
            name="datePick" (change)="datePickChange($event)" 
            style="border: none; border-width: 0; box-shadow:none;  background-color: transparent;"/>
            <span><br>FROM : <input style="border: none; border-width: 0; box-shadow:none;  background-color: transparent;" type="text" [(ngModel)]="pickFrom"></span>
            <span><br>Nom de la compagnie : <input style="border: none; border-width: 0; box-shadow:none;  background-color: transparent;" type="text" [(ngModel)]="pickName"></span>
            <span><br></span>
            <span><br>Adresse : <input style="border: none; border-width: 0; box-shadow:none;  background-color: transparent;" type="text" [(ngModel)]="pickAddress"></span>
            <span><br>Ville : <input style="border: none; border-width: 0; box-shadow:none;  background-color: transparent;" type="text" [(ngModel)]="pickVille"></span>
            <span><br>Code postal : <input style="border: none; border-width: 0; box-shadow:none;  background-color: transparent;" type="text" [(ngModel)]="pickCodePostal"></span>
        </td>
        <td>
            <span>DELIVER &nbsp; </span><span>&nbsp; - Date &nbsp; </span>
            <input type="date" [ngModel]="dateDrop | date: 'yyyy-MM-dd'"
            name="dateDrop" (change)="dateDropChange($event)" 
            style="border: none; border-width: 0; box-shadow:none;  background-color: transparent;"/>
            <span><br>TO : <input style="border: none; border-width: 0; box-shadow:none;  background-color: transparent;" type="text" [(ngModel)]="shipTo"></span>
            <span><br>Nom de la compagnie : <input style="border: none; border-width: 0; box-shadow:none;  background-color: transparent;" type="text" [(ngModel)]="shipName"></span>
            <span><br></span>
            <span><br>Adresse : <input style="border: none; border-width: 0; box-shadow:none;  background-color: transparent;" type="text" [(ngModel)]="shipAddress"></span>
            <span><br>Ville : <input style="border: none; border-width: 0; box-shadow:none;  background-color: transparent;" type="text" [(ngModel)]="shipVille"></span>
            <span><br>Code postal : <input style="border: none; border-width: 0; box-shadow:none;  background-color: transparent;" type="text" [(ngModel)]="shipCodePostal"></span>
        </td>
      </tr>
      <tr>
        <td colspan="2">
            <table>
                <tr>
                    <td style="width: 12cm;">
                        <span>
                            DESCRIPTION : 
                        </span>
                    </td>
                    <td style="width: 7cm;">
                        <span>
                            MONTANT/RATE : $ <input style="width: 8ch; border: none; border-width: 0; box-shadow:none;  background-color: transparent;" type="text" [(ngModel)]="formMontant">
                        </span>
                    </td>
                </tr>
            </table>
            <p>&nbsp;
                <textarea name="" id="" cols="100" rows="3" [(ngModel)]="formDescription"
                    style="border: none; border-width: 0; box-shadow:none;  background-color: transparent;">
                </textarea>
            </p>
            <span>NOTES : </span>
            <p>&nbsp;
                <textarea name="" id="" cols="100" rows="3" [(ngModel)]="formNotes"
                    style="border: none; border-width: 0; box-shadow:none;  background-color: transparent;">
                </textarea>
            </p>
        </td>
      </tr>
      <tr>
          <td colspan="2">
              <strong style="font-style: italic;"><u>Contact : {{formContact}}</u></strong><strong style="font-style: italic;">&nbsp; {{formTel}}</strong>
              <br>
              <br><span>PICK UP : <input style="width: 15cm; border: none; border-width: 0; box-shadow:none;  background-color: transparent;" type="text" [(ngModel)]="formPickUp"></span>
              <br><span>DROP : <input style="width: 15cm; border: none; border-width: 0; box-shadow:none;  background-color: transparent;" type="text" [(ngModel)]="formDrop"></span>
              <br>
              <br><span>
                SVP indiquer le nom et prénom en lettres carrées de la personne qui signe le bon de livraison
              </span>
              <br><span>
                NB : Please indicate in block letters name and surname of the person that sign the bill
              </span>
              <br><span>
                SVP envoyer votre facture et copie lisible de Bon de livraison à {{formEmail}}
              </span>
              <br><span>
                Please send POD and Invoice to : {{formEmail}}
              </span>
              <br>
              <br><span>
                SVP signer cette confirmation et nous l'envoyer au : {{formEmail}}
              </span>
              <br><span>
                Please sign this confirmation and send to : {{formEmail}} 
              </span>
              <!-- <br>
              <br> -->
              <br>
              <br>
              <br>
              <span style="font-style: italic;"><u>Signature :</u></span>
              <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
              <span style="width: 50%;">&nbsp;&nbsp;&nbsp;</span>
              <span style="font-style: italic;"><u style="margin-left: 8cm;">Date :</u></span>
              <br><br><br><br><br>
              <!-- <br><br><br> -->
          </td>
      </tr>
    </table>
    <h5><br>{{selfnir}}</h5>
  </div>