<div><button (click)="print('toprint')" class="btn btn-link">Print</button></div>
<div id="toprint">
    <h4><span>CONFIRMATION DU TRANSPORTEUR</span></h4>
    <table border='1' style="font-size: 12pt; margin-inline: 5px; width: 19cm">
      <tr>
        <th>
            <span>SOS PRESTIGE</span>
            <span><br>9299-9101</span>
            <span><br>520 Rue Guindon</span>
            <span><br>Saint-Eustache (Qc)</span>
            <span><br>J7R-5B4</span>
        </th>
        <th>
            <span>NOM de la compagnie</span>
            <br>
            <span><br>Contact : </span>
            <span><br>Adresse : </span>
            <span><br>Ville : </span>
            <span><br></span>
        </th>
      </tr>
      <tr>
        <th>
            <span>PICK UP</span>
            <span><br>FROM : </span>
            <span><br>Nom de la compagnie : </span>
            <span><br></span>
            <span><br>Adresse</span>
            <span><br>Ville :</span>
            <span><br>Code postal :</span>
        </th>
        <th>
            <span>SHIP</span>
            <span><br>TO : </span>
            <span><br>Nom de la compagnie : </span>
            <span><br></span>
            <span><br>Adresse</span>
            <span><br>Ville :</span>
            <span><br>Code postal :</span>
        </th>
      </tr>
      <tr>
        <th colspan="2">
            <table>
                <tr>
                    <th style="width: 12cm;">DESCRIPTION : </th>
                    <th style="width: 7cm;">Montant $</th>
                </tr>
            </table>
            <p style="height: 3cm;">&nbsp;</p>
        </th>
        <!-- <th>Montant $ </th> -->
      </tr>
      <tr>
          <td colspan="2">
              <strong style="font-style: italic;"><u>Contact : Marc-André</u></strong><strong style="font-style: italic;"> 450-974-9111</strong>
              <br>
              <br><span>PICK UP : </span>
              <br><span>DROP : </span>
              <br>
              <br><span>
                SVP indiquer le nom et prénom en lettres carrées de la personne qui signe le bon de livraison
              </span>
              <br><span>
                SVP envoyer votre facture et copie lisible de Bon de livraison à sosprestige@gmail.com
              </span>
              <br>
              <br><span>
                SVP signer cette confirmation et nous l'envoyer au : sosprestige@gmail.com
              </span>
              <br>
              <br>
              <br>
              <br>
              <br>
              <span style="font-style: italic;"><u>Signature :</u></span>
              <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
              <span style="width: 50%;">&nbsp;&nbsp;&nbsp;</span>
              <span style="font-style: italic;"><u>Date :</u></span>
              <br><br>
          </td>
      </tr>
    </table>
  </div>