<p></p>
<div class="container">
  <!--div class="col-md-18 col-md-offset-3"-->
    <div class="panel panel-primary" *ngIf="role==''">
           <!--button routerLink="/propos" class="btn btn-link">Propos</button-->
            <div> <h4>  <strong> Bienvenue au CTS Transport Resolution </strong> </h4>
                  <!--h5> <strong>Transport Resolution.</strong></h5-->
                  <h6> <strong>Un outil performant pour simplifier des operations et diminuer des frais de transport.</strong></h6>
            </div>
            <br><br>
            <div class="col-md-3 col-md-offset-3">
              <div class="alert alert-danger" *ngIf="mode==1">
                  <strong>Identification erronee ...</strong>
              </div>
            </div>
          <div class="col-md-3 col-md-offset-3">
            <div class="panel-heading">Veuillez vous identifier.</div>
            <br><br>
            <div class="panel-body">
              <form #f="ngForm" (ngSubmit)="onLogin(f.value)">
                <div class="form-group">
                    <label class="control-label">Username : </label>
                    <input type="text" name="username" ngModel="" class="form-control" required/>
                </div>
                <div class="form-group">
                  <label class="control-label">Password : </label>
                  <input type="password" name="password" ngModel="" class="form-control" required/>
              </div>
              <button type="submit" class="btn btn-success">Login</button>
              <button type="reset" class="btn btn-danger">Reset</button>
              </form>
            </div>
      </div>
  </div>
    <div class="panel panel-primary" *ngIf="role=='SHIPPER'">     
      <button routerLink="/propos" class="btn btn-link">Propos</button>
      <button class="btn btn-link" (click)="onShipper()">Shipper</button>   
      <button routerLink="/calcule-prix" class="btn btn-link">Estimation le Prix</button>
      <button class="btn btn-link">Liste Camions disponibles</button>              
      <button (click)="logout()" class="btn btn-link">Logout</button>
      <br>      
    </div>
    <div class="panel panel-primary" *ngIf="role=='TRANSPORTER'">     
        <button routerLink="/propos" class="btn btn-link">Propos</button>
        <button class="btn btn-link"  (click)="onTransporter()">Transporter</button>     
        <button routerLink="/calcule-prix" class="btn btn-link">Estimation le Prix</button> 
        <button class="btn btn-link">Creer le Voyage</button>        
        <button routerLink="/list-demande" class="btn btn-link">Liste Demandes Potentiels</button>          
        <button (click)="logout()" class="btn btn-link">Logout</button>
        <br>
      </div>
      <div class="panel panel-primary" *ngIf="role=='MANAGER'">     
          <button routerLink="/propos" class="btn btn-link">Propos</button>
          <button routerLink="/shippers" class="btn btn-link">Shippers</button> 
          <button routerLink="/transporters" class="btn btn-link">Transporters</button>         
          <button (click)="logout()" class="btn btn-link">Logout</button>
          <br>
        </div>
      <div class="panel panel-primary" *ngIf="role=='ADMIN'">     
          <button routerLink="/propos" class="btn btn-link">Propos</button>
          <button routerLink="/shippers" class="btn btn-link">Shippers</button> 
          <button routerLink="/transporters" class="btn btn-link">Transporters</button>         
          <button (click)="logout()" class="btn btn-link">Logout</button>
          <br>
      </div>
      <div class="panel panel-primary" *ngIf="role==''">
        <label>Registrer en tant que : </label>
        <button routerLink="/new-shipper" class="btn btn-link">Shipper</button> 
        <button routerLink="/new-transporter" class="btn btn-link">Transporter</button>
      </div>
      <!--div>
        <label>Tests options :</label>
        <button routerLink="/map" class="btn btn-link">Map</button>
        <button routerLink="/fiche-technique" class="btn btn-link">Fiche Technique</button>
      </div-->
  <router-outlet></router-outlet>
  <br><br>
  <footer>
      <div class="row">
        <div>
          <span class="label label-primary">Author: SOS PRESTIGE, © 2019 CTS.COM, All Rights Reserved </span>
        </div>
      </div>
    </footer>
  <!--/div-->
</div>