<div class="noprint">
    <button class="noprint" *ngIf="!readyToSign" (click)="toSign()" class="myBtn" title="Cliquer pour signer">Signer</button>
    <button class="noprint" *ngIf="readyToSign && signe" (click)="validateSign()" class="myBtn" title="Valider signature">Valider</button>
</div>
<div class="noprint">
    <label style="text-decoration-line: underline" for="">Joindre une image</label>
    <input type="file" id=coverFilesInput (change)="onChange($event)" class="file-input" accept="image/x-png,image/gif,image/jpeg">
    <!-- <input type="file" #coverFilesInput (change)="onChange($event)" class="file-input"  /> -->
</div>
<div class="noprint"><button (click)="printBon('toprint')" class="btn btn-link">Print</button></div>
<div style="position: relative;">
    <!-- <div class="m-signature-pad" >   -->
        <img id=sky *ngIf="imgUrl.length>0" style="position: absolute; z-index: 1;" [src]="imgUrl" alt="piece joint" class="img-responsive" width="width" height="height">
        <signature-pad *ngIf="readyToSign" style="position: absolute; z-index: 2; opacity: 0.6; filter: alpha(opacity=60);" #SignaturePad [options]="signaturePadOptions" (onBeginEvent)="drawStart()"
            (onEndEvent)="drawComplete()" (onSave)="onSaveHandler($event)" (onClear)="onClearHandler()">
        </signature-pad>
        <img style="position: absolute; opacity: 0.6; z-index: 2; filter: alpha(opacity=60);" [src]="signature" *ngIf="signature.length>0">
    <!-- </div> -->
</div>
<!-- <div id="toprint">
    <div class="m-signature-pad" [style.background]="signature" >
        <img style="position: absolute; opacity: 0.6; filter: alpha(opacity=60);" [src]="signature" *ngIf="signature.length>0">
    </div>
</div> -->

<!-- <img [src]="remorquage.signature" alt="Signature" *ngIf="remorquage.signature.length>0">
<span *ngIf="remorquage.nomSignature.length>0"><br> &nbsp;&nbsp; {{remorquage.nomSignature}}</span> -->
<!-- <div>
<button (click)="clearHandler()" *ngIf="remorquage.nomSignature.length>0 && !remorquage.fini">Re-signer</button>
<span>&nbsp;&nbsp;</span>
<button (click)="okHandler()" *ngIf="(!remorquage.signature.length>0 && remorquage.nomSignature.length>0 && !remorquage.fini)">Ok</button>
</div> -->