<div class="container">
    <div class="col-sm-9 col-sm-offset-1">
      <div class="panel panel-primary">        
        <div> <h3><strong> Calculation le prix sugere </strong></h3></div>
        <p></p><p></p><p></p><p></p>
        <div><button class="btn btn-primary" (click)="changeUnite()">Changer votre unite </button></div>              
        <p></p><p></p>
          <div class="panel-body">
            <!--form #f="ngForm" (ngSubmit)="onRegister(f.value)"-->
              <table class="table table-striped">    
                <tr>
                  <th><label class="control-label">Demande Prevu pour</label></th>    
                  <th><input type="date" [(ngModel)]="demande.dateDepart" name="dateDepart" class="form-control"/></th>      
                </tr>          
              <tr *ngIf="mode==1">
                <td *ngIf="mode==1" ><label class="control-label">Longueur (en pouce)</label></td>                
                <td *ngIf="mode==1"><label class="control-label">Largeur (en pouce)</label></td>                
                <td *ngIf="mode==1"><label class="control-label">Hauteur (en pouce)</label></td>                
              </tr>
              <tr *ngIf="mode==2">                  
                  <td *ngIf="mode==2"><label class="control-label">Longueur (en cm)</label></td>                  
                  <td *ngIf="mode==2"><label class="control-label">Largeur (en cm)</label></td>                  
                  <td *ngIf="mode==2"><label class="control-label">Hauteur (en cm)</label></td>  
              </tr>
              <tr>
                <td><input type="number" [(ngModel)]="longeur" name="longeur" class="form-control"/></td>
                <td><input type="number" [(ngModel)]="largeur" name="largeur" class="form-control"/></td>
                <td><input type="number" [(ngModel)]="hauteur" name="hauteur" class="form-control"/></td>
              </tr>            
              <tr *ngIf="mode==1">
                  <td *ngIf="mode==1"><label class="control-label">Poids (en lbs)</label></td>
                  <td><label class="control-label">Valeur </label></td>
                  <td><label class="control-label">Distance (en miles)</label></td>              
              </tr>
              <tr *ngIf="mode==2">
                  <td *ngIf="mode==2"><label class="control-label">Poids (en kg)</label></td>
                  <td><label class="control-label">Valeur </label></td>
                  <td><label class="control-label">Distance (en km)</label></td>              
              </tr>
              <tr>
                  <td><input type="number" [(ngModel)]="poids" name="poids" class="form-control"/></td>
                  <td><input type="number" [(ngModel)]="valeur" name="valeur" class="form-control"/></td>
                  <td *ngIf="mode==1"><input type="number" [(ngModel)]="distance" name="distance" class="form-control" disabled/></td>
                  <td *ngIf="mode==2"><input type="number" [(ngModel)]="distanceKm" name="distanceKm" class="form-control" disabled/></td>
              </tr>                  
              <tr>
                <td><label class="control-label">Type de Camions</label></td>
                <td><label class="control-label">Origin</label></td>
                <td><label class="control-label">Destination</label></td>                    
              </tr>  
              <tr>
                <td><input type="text" [(ngModel)]="demande.typeCamion" name="tpyeCamion" class="form-control"/></td>
                <td><input type="text" [(ngModel)]="demande.origin" name="origin" class="form-control"/></td>
                <td><input type="text" [(ngModel)]="demande.destination" name="destination" class="form-control"/></td>                
              </tr>                  
              
              <tr><td></td><td>Total de points : </td><td> {{totalPoints}} </td></tr>
              <tr><td></td><td>Prix sugere : </td><td> {{prix}} </td></tr>
              <tr>
              <!--td><button class="btn btn-success" [disabled]="!f.form.valid" (click)="onOk()" >Estimer Le Prix</button></td-->
              <td><button class="btn btn-success" (click)="onOk()" >Estimer Le Prix</button></td>
              <td></td>
              <!--/tr>
              <tr-->
              <td><button class="btn btn-primary" (click)="onSearchTruck()">Camions Correspondances</button></td>
              </tr>  
            </table>            
            <!--/form-->
          </div>
        </div>
    </div>
  </div>