<!-- <select [(ngModel)]="terminal" (ngModelChange)="showMap()">
    <option *ngFor="let tk of terminals" [ngValue]="tk">
        {{tk.name}}
    </option>
</select> -->
<!-- <input type="text" placeholder="#driver"> -->
<!-- <button>OK</button><br> -->
<div *ngIf="terminal!=null">
    <div *ngIf="codeValided==false">
        <div *ngIf="this.terminal.accepts!=null&&this.terminal.accepts.includes(this.hash)">
            <h2>Code Validation: </h2>
            <input type="number" [(ngModel)]="codeValidation">
            <button class="btn btn-link" (click)="onCodeValidation()">OK</button>
        </div>
        <div *ngIf="this.terminal.accepts==null || !this.terminal.accepts.includes(this.hash)">
            <h3>ID: {{hash}} </h3>
            <h3>Non Autorisation !!!</h3>
            {{wait10seconds()}}
        </div>
    </div>
    <!-- <input type="number" [(ngModel)]="truck.speed"> -->
    <!-- <label for="">Odometer</label>
    <input type="number" [(ngModel)]="truck.odometre"> -->
    <!-- <label for="">Latitude &nbsp;</label> 
    <input type="number" style="width: 15%;" [(ngModel)]="terminal.latitude">
    <label for=""> &nbsp; Longitude &nbsp;</label>
    <input type="number" style="width: 15%;" [(ngModel)]="terminal.longitude"> -->
    <!-- <label for="" style="font-weight: bold;"> &nbsp; Speed(km/h) &nbsp;</label>
    <input type="number" style="width: 15%; font-weight: bold;" [(ngModel)]="terminal.speed" disabled> -->
    <!-- <button (click)="onSaveTruck()">UpdateTruck</button> -->
    <div *ngIf="codeValided==true">
        <strong>List : </strong>
        <table *ngIf="itiners!=null" border="1">
            <tr *ngFor="let iti of itiners; let i = index" >
                <!-- (click)="onModify(iti)"  -->
                <th>&nbsp;{{i+1}}&nbsp;</th>
                <td>
                    <!-- <p> -->
                    <strong>Pick: </strong> {{iti.origin}} &nbsp;&nbsp;  {{iti.datePick | date: 'dd-MM-yyyy'}} &nbsp;&nbsp;&nbsp;&nbsp;  {{(iti.longueur!=null ? iti.longueur+"'" : '')}}
                    <br><strong>Drop: </strong> {{iti.destination}} &nbsp;&nbsp; {{iti.dateDrop | date: 'dd-MM-yyyy'}}
                        <!-- &nbsp;&nbsp; <small (click)="itinerFini(iti)"><u>Finish</u></small> &nbsp;&nbsp; <small (click)="itinerCancel(iti)"><u>Cancel</u></small> -->
                        <!-- &nbsp;&nbsp; 
                    <button class="btn btn-link"><small>OnRoute</small></button> &nbsp;&nbsp;  
                    <button class="btn btn-link"><small>Pending</small></button> &nbsp;&nbsp;  
                    <button class="btn btn-link"><small>Arrive</small></button> -->
                    <!-- </p> -->
                </td>
                
            </tr>
        </table>
    </div>

    <!-- <p>
        {{driverNote}}
    </p> -->
    <!-- <p>
        {{driverMoved}}
    </p> -->
</div>

<!-- <h3>List Itineraires</h3> -->
<div [hidden]="!codeValided" #gmap style="width:100%;height:400px" ></div>
