<!-- <select [(ngModel)]="terminal" (ngModelChange)="showMap()">
    <option *ngFor="let tk of terminals" [ngValue]="tk">
        {{tk.name}}
    </option>
</select> -->
<!-- <input type="text" placeholder="#driver"> -->
<!-- <button>OK</button><br> -->
<div *ngIf="terminal!=null">
    <!-- <div *ngIf="codeValided==false"> -->
    <div *ngIf="hash!=null && (this.terminal.accepts==null || !this.terminal.accepts.includes(this.hash))">
        <!-- <div *ngIf="this.terminal.accepts!=null&&this.terminal.accepts.includes(this.hash)">
            <h2>Code Validation: </h2>
            <input type="number" [(ngModel)]="codeValidation">
            <button class="btn btn-link" (click)="onCodeValidation()">OK</button>
        </div> -->
        <div>
        <!-- <div *ngIf="this.terminal.accepts==null || !this.terminal.accepts.includes(this.hash)"> -->
            <h3>ID: {{hash}} </h3> 
            <h3>Non Autorisation !!!</h3>
            <span><button (cilck)="copyHash()">Copy this ID</button></span>
            {{wait10seconds()}}
        </div>
    </div>
    <!-- <input type="number" [(ngModel)]="truck.speed"> -->
    <!-- <label for="">Odometer</label>
    <input type="number" [(ngModel)]="truck.odometre"> -->
    <!-- <label for="">Latitude &nbsp;</label> 
    <input type="number" style="width: 15%;" [(ngModel)]="terminal.latitude">
    <label for=""> &nbsp; Longitude &nbsp;</label>
    <input type="number" style="width: 15%;" [(ngModel)]="terminal.longitude"> -->
    <!-- <label for="" style="font-weight: bold;"> &nbsp; Speed(km/h) &nbsp;</label>
    <input type="number" style="width: 15%; font-weight: bold;" [(ngModel)]="terminal.speed" disabled> -->
    <!-- <button (click)="onSaveTruck()">UpdateTruck</button> -->
    <div *ngIf="this.terminal.accepts!=null&&this.terminal.accepts.includes(this.hash)">    
        <!-- <div *ngIf="codeValided==true"> -->
            <strong>List : </strong> 
            <table *ngIf="itiners!=null" border="1">
                <tr *ngFor="let iti of itiners; let i = index" (click)="orde=i+1; onclickRoute(iti);">
                    <!-- (click)="onModify(iti)"  -->
                    <th>&nbsp;{{i+1}}&nbsp;</th>
                    <td>
                        <!-- <p> -->
                        <strong>Pick: </strong> {{iti.origin}} &nbsp;&nbsp;  {{showDateLocal(iti.datePick) | date: 'dd-MM-yyyy'}} &nbsp;&nbsp;{{(iti.timeResrvation.length>0)?iti.timeResrvation:" "}}&nbsp;&nbsp;  {{(iti.longueur!=null ? iti.longueur+"'" : '')}}
                        <br><strong>Drop: </strong> {{iti.destination}}
                         <!-- &nbsp;&nbsp; {{showDateLocal(iti.dateDrop) | date: 'dd-MM-yyyy'}} -->
                            <!-- &nbsp;&nbsp; <small (click)="itinerFini(iti)"><u>Finish</u></small> &nbsp;&nbsp; <small (click)="itinerCancel(iti)"><u>Cancel</u></small> -->
                            <!-- &nbsp;&nbsp; 
                        <button class="btn btn-link"><small>OnRoute</small></button> &nbsp;&nbsp;  
                        <button class="btn btn-link"><small>Pending</small></button> &nbsp;&nbsp;  
                        <button class="btn btn-link"><small>Arrive</small></button> -->
                        <!-- </p> -->
                    </td>
                    
                </tr>
            </table>
        <!-- </div> -->
        
    </div>

    <!-- <p>
        {{driverNote}}
    </p> -->
    <!-- <p>
        {{driverMoved}}
    </p> -->
<!-- <h3>List Itineraires</h3> -->
    <div id="photo" *ngIf="itiner!=null&&itiner.imgUrl!=null&&itiner.imgUrl.length>0" style="border: lightslategrey;">
        <!-- <strong>{{(itiners.indexOf(itiner)+1) + ". "}}</strong> -->
        <br><strong>{{orde +". "}}Image/PO/Order</strong>
        <img [src]="itiner.imgUrl" alt="image join" class="img-responsive" width="100%">
        <br>
        <!-- <iframe class="e2e-iframe-trusted-src" [src]="imgtUrlTrust" width="100%"></iframe> -->
        <!-- width=200 height=200  -->
        <!-- <br> -->
        <button class="btn btn-link" (click)="itiner=null"><strong>Close Image</strong></button>
        <br>
    </div>
    <div [hidden]="this.terminal.accepts==null || !this.terminal.accepts.includes(this.hash)" #gmap style="width:100%;height:400px" ></div>

    <div *ngIf="this.terminal.accepts!=null&&this.terminal.accepts.includes(this.hash) && truck!=null">
        <audio *ngIf="listRoutesChanged" controls autoplay hidden>
            <source src="/assets/sounds/message_received.mp3" type="audio/mpeg">
        </audio>
        <strong>Unit {{truck.unite}}</strong>
    </div>
    <!-- we check terminal autorized and truck exist and truck nogps, because truckGps update odometer by gps -->
    <div *ngIf="this.terminal.accepts!=null&&this.terminal.accepts.includes(this.hash)  && truck!=null && !truck.gps">
        <label for=""><strong>Odometer&nbsp; </strong></label>
        <input type="number" style="width: 12ch;" [(ngModel)]="truck.odometre">
        <button class="btn btn-link" (click)="onSaveTruck()">Update</button>
    </div>
    <label for="" style="font-weight: bold;"> &nbsp; Speed(km/h) &nbsp;</label>
    <input type="number" style="width: 15%; font-weight: bold;" [(ngModel)]="terminal.speed" disabled>
</div>


