<!-- <select [(ngModel)]="terminal" (ngModelChange)="showMap()">
    <option *ngFor="let tk of terminals" [ngValue]="tk">
        {{tk.name}}
    </option>
</select> -->
<!-- <input type="text" placeholder="#driver"> -->
<!-- <button>OK</button><br> -->
<div *ngIf="terminal!=null">
    <!-- <input type="number" [(ngModel)]="truck.speed"> -->
    <!-- <label for="">Odometer</label>
    <input type="number" [(ngModel)]="truck.odometre"> -->
    <label for="">Latitude &nbsp;</label> 
    <input type="number" style="width: 15%;" [(ngModel)]="terminal.latitude">
    <label for=""> &nbsp; Longitude &nbsp;</label>
    <input type="number" style="width: 15%;" [(ngModel)]="terminal.longitude">
    <label for=""> &nbsp; Speed(km/h) &nbsp;</label>
    <input type="number" style="width: 15%;" [(ngModel)]="terminal.speed">
    <!-- <button (click)="onSaveTruck()">UpdateTruck</button> -->
    <div>
        <table *ngIf="itiners!=null" class="table-responsive">
            <tr *ngFor="let iti of itiners" >
                <!-- (click)="onModify(iti)"  -->
                <p>
                    <strong>Pick</strong> {{iti.origin}} &nbsp;&nbsp;  {{iti.datePick | date: 'dd-MM-yyyy'}} &nbsp;&nbsp;&nbsp;&nbsp;  {{(iti.longueur!=null ? iti.longueur+"'" : '')}}
                    <br><strong>Drop</strong> {{iti.destination}} &nbsp;&nbsp; {{iti.dateDrop | date: 'dd-MM-yyyy'}}
                    <!-- &nbsp;&nbsp; <small (click)="itinerFini(iti)"><u>Finish</u></small> &nbsp;&nbsp; <small (click)="itinerCancel(iti)"><u>Cancel</u></small> -->
                </p>

            </tr>
        </table>
    </div>

    <!-- <p>
        {{driverNote}}
    </p> -->
    <!-- <p>
        {{driverMoved}}
    </p> -->
</div>

<!-- <h3>List Itineraires</h3> -->
<div [hidden]="terminal==null" #gmap style="width:100%;height:650px" ></div>
