<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AbstractServlet</servlet-name>
        <servlet-class>com.ettp.robot.common.AbstractServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RobotVoxpilot</servlet-name>
        <servlet-class>com.ettp.robot.protocols.voxpilot.RobotVxml</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RobotVoxpilotInit</servlet-name>
        <servlet-class>com.ettp.robot.protocols.voxpilot.RobotInit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DictophoneVoxpilot</servlet-name>
        <servlet-class>com.ettp.robot.protocols.voxpilot.Dictophone</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DtmfTextVoxpilot</servlet-name>
        <servlet-class>com.ettp.robot.protocols.voxpilot.DtmfText</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DtmfTextValidateVoxpilot</servlet-name>
        <servlet-class>com.ettp.robot.protocols.voxpilot.DtmfTextValidate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlobDownloader</servlet-name>
        <servlet-class>com.ettp.robot.common.BlobDownloader</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileDownloader</servlet-name>
        <servlet-class>com.ettp.robot.common.FileDownloader</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlobDownloaderDirect</servlet-name>
        <servlet-class>com.ettp.robot.common.BlobDownloaderDirect</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlobDownloaderCommon</servlet-name>
        <servlet-class>com.ettp.robot.common.BlobDownloaderCommon</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AbstractServlet</servlet-name>
        <url-pattern>/servlet/AbstractServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RobotVoxpilot</servlet-name>
        <url-pattern>/servlet/RobotVoxpilot</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DictophoneVoxpilot</servlet-name>
        <url-pattern>/servlet/DictophoneVoxpilot</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DtmfTextVoxpilot</servlet-name>
        <url-pattern>/servlet/DtmfTextVoxpilot</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DtmfTextValidateVoxpilot</servlet-name>
        <url-pattern>/servlet/DtmfTextValidateVoxpilot</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlobDownloader</servlet-name>
        <url-pattern>/servlet/BlobDownloader</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileDownloader</servlet-name>
        <url-pattern>/servlet/FileDownloader</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlobDownloaderDirect</servlet-name>
        <url-pattern>/servlet/BlobDownloaderDirect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlobDownloaderCommon</servlet-name>
        <url-pattern>/servlet/BlobDownloaderCommon</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RobotVoxpilotInit</servlet-name>
        <url-pattern>/RobotVoxpilotInit</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            35
        </session-timeout>
    </session-config>
</web-app>
