<!--div *ngIf='!quitButton.includes("DISPATCH")'-->
    <div *ngIf="mode==1"> 
        <h2>Flotte de {{transporter.nom}}  &nbsp;&nbsp;&nbsp; </h2>
        <!--button class="btn btn-link" (click)="testLinkDirect()">Test Link - detail-demande 1240</button-->
        <button class="btn btn-link" (click)="onPress()">{{carteText}}</button>
        <!--button class="btn btn-link" (click)="onQuebec511()">{{textQuebec511}}</button-->
        <button class="btn btn-link" *ngIf='quitButton.includes("TRANSPORTER")'>
            <a href="http://www.quebec511.info/en/Carte/Default.aspx" target="_blank">Conditions de routes</a>
        </button>        
        <!--button class="btn btn-link" (click)="onAvlTrack()">{{textAvltrack}}</button-->
        <button class="btn btn-link"  *ngIf='quitButton.includes("TRANSPORTER")'>
            <a href="https://client2.avltrack.com/" target="_blank">Carte AvlTrack</a>
        </button>
        <!--iframe width="1200" height="800" src="http://www.quebec511.info/en/Carte/Default.aspx" sandbox="allow-forms allow-scripts allow-popups allow-popups-to-escape-sandbox allow-modals allow-pointer-lock allow-same-origin" *ngIf="quebec511==-1">
        </iframe>
        <iframe class="e2e-iframe-trusted-src" width="1200" height="800" src="https://client2.avltrack.com/" sandbox="allow-forms allow-scripts allow-popups allow-popups-to-escape-sandbox allow-modals allow-pointer-lock allow-same-origin" *ngIf="avltrack==-1">
        </iframe-->
        <div class="row" *ngIf="carte==1">
            <div class="col-md-12">
                <div>
                    <select type="text" [(ngModel)]="camionMap" (ngModelChange)="onChange()">
                        <option *ngFor="let c of camionsSurMap" [ngValue]="c">{{c.unite}}</option>
                    </select>
                </div>
                <div class="text-center">
                    <h3>
                        <div #gmap style="width:100%;height:500px" ></div>
                    </h3>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="mode==1">
    <h3>
        <button class="btn btn-link" (click)="onCoordonnees()" *ngIf='quitButton.includes("TRANSPORTER")'>Coordonnees</button>&nbsp;&nbsp;&nbsp;
        <button class="btn btn-link" (click)="onCamions()">Liste de Camions</button>&nbsp;&nbsp;&nbsp;
        <button class="btn btn-link" (click)="onTableau()">Tableau d'Entretiens</button>
    </h3>
    </div>
    <!--div *ngIf="modeCoordonnees==1">modeCoordonnes</div>  
    <div *ngIf="modeCamions==1">modeCamions</div>
    <div *ngIf="modeTableau==1">modeTableau</div-->
  <div class="panel panel-primary" *ngIf="mode==1">
    <div class="panel-body">
        <table class="table table-striped table-sm table-responsive" *ngIf="modeCoordonnes==1" >
            <tr>
                <button class="btn btn-link" (click)="onCoorInfos()">Infos</button>&nbsp;&nbsp;&nbsp;
                <button class="btn btn-link" (click)="onCoorAddAdresse()">Add Adresse</button>&nbsp;&nbsp;&nbsp;
                <button class="btn btn-link" (click)="onCoorAddContact()">Add Contact</button>             
                <button class="btn btn-link" (click)="onCoorAddChauffeur()">Add Chauffeur</button>             
            </tr>
            <div *ngIf="coorInfos==1">Coordonnee Infos 
            <tr>
                <th>Nom</th><th>Raison Sociale</th><th>En Affaire Depuis</th><th>Email</th><th>Telephone</th><th>Fax</th><th>EmailTechnique</th>
            </tr>
            <tr>
                <td><input class="form-control" type="text" [(ngModel)]="transporter.nom" /></td>
                <td><input class="form-control" type="text" [(ngModel)]="transporter.raison_sociale" /></td>
                <td><input class="form-control" type="date" [(ngModel)]="transporter.depuis" /></td>
                <td><input class="form-control" type="text" [(ngModel)]="transporter.email" /></td>
                <td><input class="form-control" type="text" [(ngModel)]="transporter.tel" /></td>
                <td><input class="form-control" type="text" [(ngModel)]="transporter.fax" /></td>
                <td><input class="form-control" type="text" [(ngModel)]="transporter.emailTechnic" /></td>
            </tr>
            <tr><td colspan="2"><strong>Adresses</strong></td></tr>
            <tr>
                <th>Numero</th><th>Rue</th><th>Code Postal</th><th>Ville</th><th>Province</th><th>Pays</th>
            </tr>
            <tr *ngFor="let adresse of adresses">
                <td><input class="form-control" type="text" [(ngModel)]="adresse.num" /></td>
                <td><input class="form-control" type="text" [(ngModel)]="adresse.rue" /></td>
                <td><input class="form-control" type="text" [(ngModel)]="adresse.code_postal" /></td>
                <td><input class="form-control" type="text" [(ngModel)]="adresse.ville" /></td>
                <td><input class="form-control" type="text" [(ngModel)]="adresse.province" /></td>
                <td><input class="form-control" type="text" [(ngModel)]="adresse.pays" /></td>
                <td><button class="btn btn-link" (click)="deleteAdress(contact.id)">Delete</button></td>
            </tr>            
            <tr><td colspan="2"><strong>Personnes a contact</strong></td></tr>
            <tr>
                <th>Nom</th><th>Prenom</th><th>Fonction</th><th>Email</th><th>Telephone</th><th>Fax</th><!--th>Photo</th-->
            </tr>
            <tr *ngFor="let contact of contacts">
                <td><input class="form-control" type="text" [(ngModel)]="contact.nom" /></td>
                <td><input class="form-control" type="text" [(ngModel)]="contact.prenom" /></td>
                <td><input class="form-control" type="text" [(ngModel)]="contact.fonction" /></td>
                <td><input class="form-control" type="text" [(ngModel)]="contact.email" /></td>
                <td><input class="form-control" type="text" [(ngModel)]="contact.tel" /></td>
                <td><input class="form-control" type="text" [(ngModel)]="contact.fax" /></td>
                <!--td><input class="form-control" type="text" [(ngModel)]="contact.photo" /></td-->
                <td><button class="btn btn-link" (click)="deleteContact(contact.id)">Delete</button></td>
            </tr>   
            <tr><td colspan="2"><strong>Services Offrir</strong></td></tr>
            <tr>
                <td colspan="2">Entreposage Intérieur : <input type="checkbox" [(ngModel)]="servicesOffre.entreposage_interieue"></td>
                <td colspan="2">Entreposage Extérieur : <input type="checkbox" [(ngModel)]="servicesOffre.entreposage_exterieur"></td>
            </tr>
            <tr>    
                <td>Transbordage : <input type="checkbox" [(ngModel)]="servicesOffre.service_transbordage"></td>
                <td>Manutention : <input type="checkbox" [(ngModel)]="servicesOffre.manutention"></td>
                <td>Cross Polt : <input type="checkbox" [(ngModel)]="servicesOffre.cross_polt"></td>
            </tr>

            <tr><td colspan="2"><strong>Chauffeurs</strong></td></tr>
            <tr>
                <th>Nom</th><th>Telephone</th><th>Email</th>
            </tr>
            <tr *ngFor="let chauffeur of chauffeurs">
                <td><input class="form-control" type="text" [(ngModel)]="chauffeur.nom" /></td>
                <td><input class="form-control" type="text" [(ngModel)]="chauffeur.tel" /></td>                
                <td><input class="form-control" type="text" [(ngModel)]="chauffeur.email" /></td>
                <td><button class="btn btn-link" (click)="deleteChauffeur(chauffeur.id)">Delete</button></td>
            </tr>    
        </div>
            <div *ngIf="coorAddAdresse==1">Add Adresse
            <tr>
                <th>Numero</th><th>Rue</th><th>Code Postal</th><th>Ville</th><th>Province</th><th>Pays</th>
            </tr>
            <tr>
                <td><input class="form-control" type="text" [(ngModel)]="addadresse.num" /></td>
                <td><input class="form-control" type="text" [(ngModel)]="addadresse.rue" /></td>
                <td><input class="form-control" type="text" [(ngModel)]="addadresse.code_postal" /></td>
                <td><input class="form-control" type="text" [(ngModel)]="addadresse.ville" /></td>
                <td><input class="form-control" type="text" [(ngModel)]="addadresse.province" /></td>
                <td><input class="form-control" type="text" [(ngModel)]="addadresse.pays" /></td>                            
                <td><button class="btn btn-link" (click)="addAdresse()">Add</button></td>
            </tr>  
            </div>                                  
            <div *ngIf="coorAddContact==1">Add Contact
              <tr>
                <th>Nom</th><th>Prenom</th><th>Fonction</th><th>Email</th><th>Telephone</th><th>Fax</th><!--th>Photo</th-->
              </tr>
            <!--tr><td colspan="2"><strong>Ajouter de contact</strong></td></tr-->     
              <tr>
                <td><input class="form-control" type="text" [(ngModel)]="addcontact.nom" /></td>
                <td><input class="form-control" type="text" [(ngModel)]="addcontact.prenom" /></td>
                <td><input class="form-control" type="text" [(ngModel)]="addcontact.fonction" /></td>
                <td><input class="form-control" type="text" [(ngModel)]="addcontact.email" /></td>
                <td><input class="form-control" type="text" [(ngModel)]="addcontact.tel" /></td>
                <td><input class="form-control" type="text" [(ngModel)]="addcontact.fax" /></td>
                <!--td><input class="form-control" type="text" [(ngModel)]="addcontact.photo" /></td-->
                <td><button class="btn btn-link" (click)="addContact()">Add</button></td>
              </tr>   
            </div>
            <div *ngIf="coorAddChauffeur==1">Add Chauffeur
                <tr>
                    <th>Nom</th><th>CellPhone</th><th>Courriel</th>
                </tr>
                <tr>
                    <td><input class="form-control" type="text" [(ngModel)]="addchauffeur.nom" /></td>
                    <td><input class="form-control" type="text" [(ngModel)]="addchauffeur.tel" /></td>
                    <td><input class="form-control" type="text" [(ngModel)]="addchauffeur.email" /></td>
                    <td><button class="btn btn-link" (click)="addChauffeur()">Add</button></td>
                </tr>   
            </div>
        </table>
        
        <table class="table table-striped table-sm table-responsive" *ngIf="modeCamions==1">
            <tr>
                <button class="btn btn-link" (click)="onCamList()">Camions</button>&nbsp;&nbsp;
                <button class="btn btn-link" (click)="onCamAdd()">Add Camion</button>
            </tr>
            <div *ngIf="camList==1">   
            <!--tr><td colspan="2"><strong>List de camions</strong></td></tr-->
            <tr>
                <th>Numero Unite</th><th>Plaque</th><th>Marque</th><th>Modele</th><th colspan="2">N.I.V</th>
                <!--th>En Mission</th><th>Local Depart</th><th>Destination</th-->
            </tr>
            <tr *ngFor="let camion of camionsInOperation">
                <td><input class="form-control" type="text" [(ngModel)]="camion.unite" /></td>
                <td><input class="form-control" type="text" [(ngModel)]="camion.plaque" /></td>
                <td><input class="form-control" type="text" [(ngModel)]="camion.marque" /></td>
                <td><input class="form-control" type="text" [(ngModel)]="camion.modele" /></td>
                <td colspan="2"><input style="width: 25ch;" class="form-control" type="text" [(ngModel)]="camion.niv"/></td>
                <!--td><input class="form-control" type="checkbox" [(ngModel)]="camion.status" /></td>
                <td><input class="form-control" type="text" [(ngModel)]="camion.localDepart" /></td>
                <td><input class="form-control" type="text" [(ngModel)]="camion.destination" /></td-->
                <td><button class="btn btn-link" (click)="gotoDetailCamion(camion.id)">Detailler</button></td>
                <td *ngIf='quitButton.includes("ADMIN")||quitButton.includes("MANAGER")'><button class="btn btn-link" (click)="deleteCamion(camion, camionsInOperation)">Delete</button></td>
            </tr>
            <tr><th colspan="4">Camions Antecedents</th></tr>
            <tr *ngFor="let camion of camionsOutOperation" style="background-color: darkgray;">
                <td>
                    {{camion.unite}}
                    <!-- <input class="form-control" type="text" [(ngModel)]="camion.unite" disabled/> -->
                </td>
                <td>
                    {{camion.plaque}}
                    <!-- <input class="form-control" type="text" [(ngModel)]="camion.plaque" disabled/> -->
                </td>
                <td>
                    {{camion.marque}}
                    <!-- <input class="form-control" type="text" [(ngModel)]="camion.marque" disabled/> -->
                </td>
                <td>
                    {{camion.modele}}
                    <!-- <input class="form-control" type="text" [(ngModel)]="camion.modele" disabled/> -->
                </td>
                <td colspan="2">
                    {{camion.niv}}
                    <!-- <input class="form-control" type="text" [(ngModel)]="camion.niv" disabled/> -->
                </td>
                <!--td><input class="form-control" type="checkbox" [(ngModel)]="camion.status" /></td>
                <td><input class="form-control" type="text" [(ngModel)]="camion.localDepart" /></td>
                <td><input class="form-control" type="text" [(ngModel)]="camion.destination" /></td-->
                <td><button class="btn btn-link" (click)="gotoDetailCamion(camion.id)">Detailler</button></td>
                <td *ngIf='quitButton.includes("ADMIN")||quitButton.includes("MANAGER")'><button class="btn btn-link" (click)="deleteCamion(camion, camionsOutOperation)">Delete</button></td>
            </tr>            
            </div>   
            <div *ngIf="camAdd==1">
            <tr><td colspan="2"><strong>Ajouter de camion</strong></td></tr>     
            <tr>
                <th>Numero Unite</th><th>Plaque</th><th>Marque</th><th>Modele</th><th colspan="2">N.I.V</th>
                <!--th>En Mission</th><th>Local Depart</th><th>Destination</th-->
            </tr>    
            <tr>
                <td><input class="form-control" type="text" [(ngModel)]="addcamion.unite" /></td>
                <td><input class="form-control" type="text" [(ngModel)]="addcamion.plaque" /></td>
                <td><input class="form-control" type="text" [(ngModel)]="addcamion.marque" /></td>
                <td><input class="form-control" type="text" [(ngModel)]="addcamion.modele" /></td>
                <td colspan="2"><input style="width: 25ch;" class="form-control" type="text" [(ngModel)]="addcamion.niv" /></td>
                <!--td><input class="form-control" type="checkbox" [(ngModel)]="addcamion.status" /></td>
                <td><input class="form-control" type="text" [(ngModel)]="addcamion.localDepart" /></td>
                <td><input class="form-control" type="text" [(ngModel)]="addcamion.destination" /></td-->
                <td><button class="btn btn-link" (click)="addCamion()">Add</button></td>
            </tr>      
            </div>              
        </table>      
        <h6 *ngIf="modeTableau==1">Code couleur d'entretien - &nbsp;&nbsp;&nbsp; Vert : pas besoins, Jaune : conseille, Rouge : oblige</h6> 
        <table border="1" *ngIf="modeTableau==1">
            <!-- class="table table-striped table-sm table-responsive" -->
            <tr>
                <th>Unite</th>
                <th *ngFor="let camion of camionsInOperation" style="text-align: center">
                    <button class="btn btn-link" (click)="gotoDetailCamion(camion.id)">
                        {{camion.unite}}
                    </button>
                </th>
            </tr>
            <tr>
                <th>Ent-1</th>                
                <th *ngFor="let camion of camionsInOperation"><button class="btn btn-sm {{codeCouleurEnt1(camion)}}" [disabled]="disableButton1(camion)" (click)="onEntretien01(camion)">{{codeTextEnt1(camion)}}</button></th>
            </tr>
            <tr>
                <th>Ent-2</th>       
                <th *ngFor="let camion of camionsInOperation"><button class="btn btn-sm {{codeCouleurEnt2(camion)}}" [disabled]="disableButton2(camion)" (click)="onEntretien02(camion)">{{codeTextEnt2(camion)}}</button></th>         
            </tr>            
            <tr>
                <th>Ent-3</th>                
                <th *ngFor="let camion of camionsInOperation"><button class="btn btn-sm {{codeCouleurEnt3(camion)}}" [disabled]="disableButton3(camion)" (click)="onEntretien03(camion)">{{codeTextEnt3(camion)}}</button></th>
            </tr>
            <tr>
                <th>Ent-4</th>          
                <th *ngFor="let camion of camionsInOperation"><button class="btn btn-sm {{codeCouleur(camion.odometre, camion.odo4Fait, camion.filHydrolique)}}" [disabled]="disableButton(camion.odometre, camion.odo4Fait, camion.filHydrolique)" (click)="onEntretien04(camion)">{{codeText(camion.odometre, camion.odo4Fait, camion.filHydrolique)}}</button></th>      
            </tr>
            <tr>
                <th>Ent-5</th>                
                <th *ngFor="let camion of camionsInOperation"><button class="btn btn-sm {{codeCouleur(camion.odometre, camion.odo5Fait, camion.filAntigel)}}" [disabled]="disableButton(camion.odometre, camion.odo5Fait, camion.filAntigel)" (click)="onEntretien05(camion)">{{codeText(camion.odometre, camion.odo5Fait, camion.filAntigel)}}</button></th>
            </tr>
            <tr>
                <th>Ent-6</th>                
                <th *ngFor="let camion of camionsInOperation"><button class="btn btn-sm {{codeCouleur(camion.odometre, camion.odo6Fait, camion.huileAntigel)}}" [disabled]="disableButton(camion.odometre, camion.odo6Fait, camion.huileAntigel)" (click)="onEntretien06(camion)">{{codeText(camion.odometre, camion.odo6Fait, camion.huileAntigel)}}</button></th>
            </tr>
            <tr>
                <th>Ent-7</th>                
                <th *ngFor="let camion of camionsInOperation"><button class="btn btn-sm {{codeCouleur(camion.odometre, camion.odo7Fait, camion.huileTransmission)}}" [disabled]="disableButton(camion.odometre, camion.odo7Fait, camion.huileTransmission)" (click)="onEntretien07(camion)">{{codeText(camion.odometre, camion.odo7Fait, camion.huileTransmission)}}</button></th>
            </tr>
            <tr>
                <th>Ent-8</th>                
                <th *ngFor="let camion of camionsInOperation"><button class="btn btn-sm {{codeCouleur(camion.odometre, camion.odo8Fait, camion.huileDifferentiel)}}" [disabled]="disableButton(camion.odometre, camion.odo8Fait, camion.huileDifferentiel)" (click)="onEntretien08(camion)">{{codeText(camion.odometre, camion.odo8Fait, camion.huileDifferentiel)}}</button></th>
            </tr>
            <tr>
                <th>Inspect-6mois</th>                
                <th *ngFor="let camion of camionsInOperation"><button class="btn btn-sm {{codeCouleurInspect(camion.inspect6m)}}" [disabled]="disableButtonInspect(camion.inspect6m)" (click)="onInspect6(camion)">{{codeTextInspect(camion.inspect6m)}}</button></th>
            </tr>
        </table>     
        <br>
        <h4 *ngIf="modeTableau==1">Autres Entretiens</h4>
        <table border="1" *ngIf="modeTableau==1">
            <!-- class="table table-striped table-sm table-responsive" -->
            <!-- <tr><th>Autres Entretiens</th></tr> -->
            <tr *ngFor="let aae of arrayArrayEnts">
                <th>Unite {{aae.unite}}</th>
                <td *ngFor="let entretien of aae.entsList"><button class="btn btn-sm {{codeCouleurAutre(aae.odometre, entretien.odoFait, entretien.kmTrage, entretien.kmAvertir)}}" [disabled]="disableButtonAutre(aae.odometre, entretien.odoFait, entretien.kmTrage, entretien.kmAvertir)" (click)="onAutreEntretien(entretien, aae.odometre)">{{entretien.nom}}</button></td>
                <!--th>Autres Entretiens</th-->                             
                <!--th *ngFor="let camion of camions"><button class="btn btn-sm {{codeCouleur(entretien.odometre, entretien.odoFait, entretien.kmTrage)}}" [disabled]="disableButton(entretien.odometre, entretien.odoFait, entretien.kmTrage)" (click)="onAutreEntretien(entretien)">{{codeText(camion.odometre, camion.odo8Fait, camion.huileDifferentiel)}}</button></th-->
            </tr>                                     
        </table>     
    </div>   
    <div>
        <table class="table table-striped table-responsive"> 
            <td *ngIf="modeTableau!=1"><button class="btn btn-primary" (click)="saveTransporter()">Ok - Modifier</button></td>
            <td *ngIf='quitButton.includes("ADMIN")'><button class="btn btn-primary" routerLink="/transporters">Quit</button></td> 
            <td></td>
            <td></td>
            <td></td>
            <td></td>                  
        </table>
    </div>
  </div>

  <div class="panel panel-primary" *ngIf="mode==2">
        <div class="panel-heading">Confirmation</div>
        <div class="panel-body">
                <table class="table table-striped table-responsive">
                        <tr>
                            <th>Nom</th><th>Raison Sociale</th><th>En Affaire Depuis</th><th>Email</th><th>Telephone</th><th>Fax</th><!--th>Photo</th-->
                        </tr>
                        <tr>
                            <td>{{transporter.nom}}</td><td>{{transporter.raison_sociale}}</td><td>{{transporter.depuis}}</td><td>{{transporter.email}}</td><td>{{transporter.tel}}</td><td>{{transporter.fax}}</td><!--td>{{transporter.photo}}</td-->
                        </tr>
                        <tr><td colspan="2"><strong>Adresse</strong></td></tr>
                        <tr>
                            <th>Numero</th><th>Rue</th><th>Code Postal</th><th>Ville</th><th>Province</th><th>Pays</th>
                        </tr>
                        <tr *ngFor="let adresse of adresses">
                            <td>{{adresse.num}}</td><td>{{adresse.rue}}</td><td>{{adresse.code_postal}}</td><td>{{adresse.ville}}</td><td>{{adresse.province}}</td><td>{{adresse.pays}}</td>
                        </tr>                                         
                        <tr><td colspan="2"><strong>Personnes a contact</strong></td></tr>
                        <tr>
                            <th>Nom</th><th>Prenom</th><th>Fonction</th><th>Email</th><th>Telephone</th><th>Fax</th>
                        </tr>
                        <tr *ngFor="let contact of contacts">
                            <td>{{contact.nom}}</td><td>{{contact.prenom}}</td><td>{{contact.fonction}}</td><td>{{contact.email}}</td><td>{{contact.tel}}</td><td>{{contact.fax}}</td>
                        </tr>   
                        <tr><td colspan="2"><strong>Services Offrir</strong></td></tr>
                        <tr>
                          <td>Entreposage Intérieur : <input type="checkbox" [(ngModel)]="servicesOffre.entreposage_interieue" disabled></td>
                          <td>Entreposage Extérieur : <input type="checkbox" [(ngModel)]="servicesOffre.entreposage_exterieur" disabled></td>
                          <td>Transbordage : <input type="checkbox" [(ngModel)]="servicesOffre.service_transbordage" disabled></td>
                          <td>Manutention : <input type="checkbox" [(ngModel)]="servicesOffre.manutention" disabled></td>
                          <td>Cross Polt : <input type="checkbox" [(ngModel)]="servicesOffre.cross_polt" disabled></td>
                        </tr>                    
                        <tr><td colspan="2"><strong>List de Camions</strong></td></tr>
                        <tr>
                            <th>Numero Unite</th><th>Plaque</th><th>Marque</th><th>Latitude</th><th>Longtitude</th><th>En Mission</th><th>Local Depart</th><th>Destination</th>
                        </tr>    
                        <tr *ngFor="let camion of camions">
                            <td>{{camion.unite}}</td>
                            <td>{{camion.plaque}}</td>
                            <td>{{camion.marque}}</td>
                            <td>{{camion.latitude}}</td>
                            <td>{{camion.longtitude}}</td>
                            <td><input type="checkbox" [(ngModel)]="camion.status" disabled></td>
                            <td>{{camion.localDepart}}</td>
                            <td>{{camion.destination}}</td>                            
                        </tr>                                               
                    </table>
            <div> <button class="btn btn-primary" (click)="mode=1" routerLink="/transporters">Ok</button></div>
        </div>   
  </div>
  <div class="panel panel-primary" *ngIf="mode==3">
    <div class="panel-heading">Detail Contact</div>
    <div class="panel-body">
            <table class="table table-striped table-responsive">
                    <tr>
                        <th>Nom</th><th>Raison Sociale</th><th>En Affaire Depuis</th><th>Email</th><th>Telephone</th><th>Fax</th><!--th>Photo</th-->
                    </tr>
                    <tr>
                        <td>{{transporter.nom}}</td><td>{{transporter.raison_sociale}}</td><td>{{transporter.depuis}}</td><td>{{transporter.email}}</td><td>{{transporter.tel}}</td><td>{{transporter.fax}}</td><!--td>{{transporter.photo}}</td-->
                    </tr>
                    <tr><td colspan="2"><strong>Adresse</strong></td></tr>
                    <tr>
                        <th>Numero</th><th>Rue</th><th>Code Postal</th><th>Ville</th><th>Province</th><th>Pays</th>
                    </tr>
                    <tr *ngFor="let adresse of adresses">
                        <td>{{adresse.num}}</td><td>{{adresse.rue}}</td><td>{{adresse.code_postal}}</td><td>{{adresse.ville}}</td><td>{{adresse.province}}</td><td>{{adresse.pays}}</td>
                    </tr>                                         
                    <tr><td colspan="2"><strong>Personnes a contact</strong></td></tr>
                    <tr>
                        <th>Nom</th><th>Prenom</th><th>Fonction</th><th>Email</th><th>Telephone</th><th>Fax</th>
                    </tr>
                    <tr *ngFor="let contact of contacts">
                        <td>{{contact.nom}}</td><td>{{contact.prenom}}</td><td>{{contact.fonction}}</td><td>{{contact.email}}</td><td>{{contact.tel}}</td><td>{{contact.fax}}</td>
                    </tr>   
                    <tr><td colspan="2"><strong>Services Offrir</strong></td></tr>
                    <tr>
                      <td>Entreposage Intérieur : <input type="checkbox" [(ngModel)]="servicesOffre.entreposage_interieue" disabled></td>
                      <td>Entreposage Extérieur : <input type="checkbox" [(ngModel)]="servicesOffre.entreposage_exterieur" disabled></td>
                      <td>Transbordage : <input type="checkbox" [(ngModel)]="servicesOffre.service_transbordage" disabled></td>
                      <td>Manutention : <input type="checkbox" [(ngModel)]="servicesOffre.manutention" disabled></td>
                      <td>Cross Polt : <input type="checkbox" [(ngModel)]="servicesOffre.cross_polt" disabled></td>
                    </tr>                    
                </table>
        <div> <button class="btn btn-primary" (click)="mode=1" routerLink="/business-messages">Retour</button></div>
    </div>   
  </div>
    <!--Use for the case of Dispatch want to add driver-->
    <div class="panel panel-primary" *ngIf="mode==4">
        <div class="panel-body">
            <table>
                <tr><th><h4>Ajouter du Chauffeur</h4></th></tr> 
                <tr>
                    <th>Nom</th><th>CellPhone</th><th>Courriel</th>
                </tr>
                <tr>
                    <td><input class="form-control" type="text" [(ngModel)]="addchauffeur.nom" /></td>
                    <td><input class="form-control" type="text" [(ngModel)]="addchauffeur.tel" /></td>
                    <td><input class="form-control" type="text" [(ngModel)]="addchauffeur.email" /></td>
                    <td><button class="btn btn-link" (click)="addChauffeur()">Ajouter</button></td>
                </tr>   
                <br>
                <tr *ngFor="let chauffeur of chauffeurs">
                    <td><input class="form-control" type="text" [(ngModel)]="chauffeur.nom" /></td>
                    <td><input class="form-control" type="text" [(ngModel)]="chauffeur.tel" /></td>                
                    <td><input class="form-control" type="text" [(ngModel)]="chauffeur.email" /></td>
                    <td><button class="btn btn-link" (click)="modifyChauffeur(chauffeur)">Modifier</button></td>
                    <td><button class="btn btn-link" (click)="deleteChauffeur(chauffeur.id)">Supprimer</button></td>
                </tr>
            </table>
        </div>
    </div>
<!--div-->
