<div class="container spacer">
  <table class="table table-striped table-sm table-responsive">
    <tr>
        <button class="btn btn-link" (click)="onBankClients()">Bank Clients</button>&nbsp;&nbsp;
        <button class="btn btn-link" (click)="onEmailToAll()">Email To All Clients</button>
    </tr>
    <div><!-- *ngIf="camList==1"-->   
    <tr>
        <th>Nom Client</th><th>Contact</th><th>Address</th><th>Tel</th><th>Email</th>
    </tr>
    <tr *ngFor="let client of bankClients">
        <td><input class="form-control" type="text" [(ngModel)]="client.nom" /></td>
        <td><input class="form-control" type="text" [(ngModel)]="client.contact" /></td>
        <td><input class="form-control" type="text" [(ngModel)]="client.address" /></td>
        <td><input class="form-control" type="text" [(ngModel)]="client.tel" /></td>
        <td><input class="form-control" type="text" [(ngModel)]="client.email"/></td>
        <td><button class="btn btn-link">Detailler</button></td>
        <td *ngIf='quitButton.includes("ADMIN")||quitButton.includes("MANAGER")'><button class="btn btn-link">Delete</button></td>
    </tr>
    </div>   
    <div><!-- *ngIf="camAdd==1" -->
    <tr><td colspan="2"><strong>Ajouter de Client</strong></td></tr>     
    <tr>
      <th>Nom Client</th><th>Contact</th><th>Address</th><th>Tel</th><th>Email</th>
    </tr>    
    <tr>
        <td><input class="form-control" type="text" [(ngModel)]="addClient.nom" /></td>
        <td><input class="form-control" type="text" [(ngModel)]="addClient.contact" /></td>
        <td><input class="form-control" type="text" [(ngModel)]="addClient.address" /></td>
        <td><input class="form-control" type="text" [(ngModel)]="addClient.tel" /></td>
        <td><input class="form-control" type="text" [(ngModel)]="addClient.email" /></td>
        <td><button class="btn btn-link" (click)="onAddClient()">Add</button></td>
    </tr>      
    </div>              
  </table>       
  <button class="btn btn-primary" (click)="onSaveClient()">Ok - Modifier</button>
</div>