<div class="container spacer">
  <table>
    <tr>
      <button class="btn btn-link" (click)="onBankClients()">Bank Clients</button>&nbsp;&nbsp;
      <button class="btn btn-link" (click)="onEmailToAll()">Email Aux Clients {{motCle}}</button>
    </tr>
  </table>
</div>
<div class="container spacer">
  <!--table class="table table-striped table-sm table-responsive" *ngIf="modeClient==1">   
    <tr>
      <td><strong>Bank Client</strong></td>
    </tr>     
  </table -->
  <div *ngIf="modeClient==1">
      <strong>Bank Client</strong>
  </div>
  <table class="table table-striped table-sm table-responsive" *ngIf="modeClient==1">  
    <tr>
      <th>Nom Client</th>
      <th>Contact</th>
      <th colspan="2">Address</th>
      <th>Tel</th>
      <th>Email</th>
    </tr>    
    <tr>
      <td><input class="form-control" type="text" [(ngModel)]="addClient.nom" /></td>
      <td><input class="form-control" type="text" [(ngModel)]="addClient.contact" /></td>
      <td colspan="2"><input class="form-control" type="text" [(ngModel)]="addClient.address" /></td>
      <td><input class="form-control" type="text" [(ngModel)]="addClient.tel" /></td>
      <td><input class="form-control" type="text" [(ngModel)]="addClient.email" /></td>
      <td><button class="btn btn-link" (click)="onAddClient()">Ajouter</button></td>
    </tr>  
    <tr><br></tr>    
    <tr>
      <td><strong>Liste de Clients</strong></td>
      <td><button class="btn btn-primary" (click)="chercher()">Rechercher par l'adresse</button></td>
      <td><input type="text" [(ngModel)]="motCle" #ctrl="ngModel"/></td>
    </tr>                       
    <tr>
        <th (click)="onSortClients()">Nom Client</th><th>Contact</th><th colspan="2">Address</th><th>Tel</th><th>Email</th>
    </tr>
    <tr *ngFor="let client of bankClients">
      <td><input class="form-control" type="text" [(ngModel)]="client.nom" disabled/></td>
      <td><input class="form-control" type="text" [(ngModel)]="client.contact" disabled/></td>
      <td colspan="2" ><input class="form-control" type="text" [(ngModel)]="client.address" disabled/></td>
      <td><input class="form-control" type="text" [(ngModel)]="client.tel" disabled/></td>
      <td><input class="form-control" type="text" [(ngModel)]="client.email" disabled/></td>
      <!--td><button class="btn btn-link">Detailler</button></td-->
      <!--td *ngIf='quitButton.includes("ADMIN")||quitButton.includes("MANAGER")'><button class="btn btn-link">Delete</button></td-->
    </tr>
  </table>   
  <div *ngIf="modeEmail==1">
      <strong>Email Aux Clients {{motCle}}</strong>
  </div>
  <table *ngIf="modeEmail==1"> 
    <!--tr><td colspan="2"><strong>Email To All Clients {{motCle}}</strong></td></tr-->     
    <tr>
      <th>Titre : </th> 
      <td><input type="text" [(ngModel)]="em.titre"></td>
      <td><button class="btn-primary" (click)="onEnvoyer()">Envoyer</button></td>
    </tr>
  </table>
  <table *ngIf="modeEmail==1">
    <tr><th>Message</th></tr>
    <tr>
      <td><textarea cols="45" rows="20" [(ngModel)]="em.content"></textarea></td> 
    </tr>
  </table>    
  <!--button class="btn btn-primary" (click)="onSaveClient()">Ok - Modifier</button-->
</div>