<div class="container spacer">
    <div class="panel panel-primary">
      <div class="panel-heading" *ngIf='role.includes("TRANSPORTER")'>
        <h4>Demande de : {{demande.nomDemander}} - Tel : {{shipper.tel}} - Email : {{shipper.email}}</h4>
      </div>
        <!--div class="panel-body">
                <table class="table table-striped">
                        <tr>
                          <th>Raison Sociale</th><th>En Affaire Depuis</th><th>Email</th><th>Telephone</th><th>Fax</th>
                        </tr>
                        <tr *ngIf='demande.roleDemander.includes("SHIPPER")'>
                          <td><input class="form-control" type="text" [(ngModel)]="shipper.raison_sociale" /></td>
                          <td><input class="form-control" type="date" [(ngModel)]="shipper.depuis" /></td>
                          <td><input class="form-control" type="text" [(ngModel)]="shipper.email" /></td>
                          <td><input class="form-control" type="text" [(ngModel)]="shipper.tel" /></td>
                          <td><input class="form-control" type="text" [(ngModel)]="shipper.fax" /></td>
                        </tr>
                        <tr *ngIf='demande.roleDemander.includes("TRANSPORTER")'>
                          <td><input class="form-control" type="text" [(ngModel)]="transporter.raison_sociale" /></td>
                          <td><input class="form-control" type="date" [(ngModel)]="transporter.depuis" /></td>
                          <td><input class="form-control" type="text" [(ngModel)]="transporter.email" /></td>
                          <td><input class="form-control" type="text" [(ngModel)]="transporter.tel" /></td>
                          <td><input class="form-control" type="text" [(ngModel)]="transporter.fax" /></td>
                        </tr>
                </table>
        </div-->  
        <div><button class="btn btn-primary" (click)="changeUnite()">Changer votre unite </button></div>              
        <p></p><p></p>
        <div class="panel-body">
          <!--form #f="ngForm" (ngSubmit)="onRegister(f.value)"-->
          <table class="table table-striped">    
            <tr>
              <th><label class="control-label">Available</label></th>    
              <th><input type="date" [ngModel]="today | date: 'yyyy-MM-dd'" name="dateDepart" min="{{today | date: 'yyyy-MM-dd'}}" class="form-control"/></th>    
              <th><label class="control-label">Origin</label></th>
              <th><input type="text" [(ngModel)]="demande.origin" name="origin" class="form-control" (change)="originChange()"/></th>
              <th><label class="control-label">Destination</label></th>               
              <th><input type="text" [(ngModel)]="demande.destination" name="destination" class="form-control" (change)="destinationChange()"/></th>   
            </tr>
          </table>
          <table class="table table-striped">
            <tr *ngIf="mode==1">
              <th *ngIf="mode==1" ><label class="control-label">Longueur(pouce)</label></th>                
              <th *ngIf="mode==1"><label class="control-label">Largeur(pouce)</label></th>                
              <th *ngIf="mode==1"><label class="control-label">Hauteur(pouce)</label></th>    
              <th *ngIf="mode==1"><label class="control-label">Poids(lbs)</label></th>
              <th style="width: 15%"><label class="control-label">Valeur </label></th>
              <th><label class="control-label">Distance(miles)</label></th>                          
            </tr>
            <tr *ngIf="mode==2">                  
                <th *ngIf="mode==2"><label class="control-label">Longueur(cm)</label></th>                  
                <th *ngIf="mode==2"><label class="control-label">Largeur(cm)</label></th>                  
                <th *ngIf="mode==2"><label class="control-label">Hauteur(cm)</label></th>  
                <th *ngIf="mode==2"><label class="control-label">Poids(kg)</label></th>
                <th style="width: 15%"><label class="control-label">Valeur </label></th>
                <th><label class="control-label">Distance(km)</label></th>              
            </tr>
            <tr>
              <td><input type="number" [(ngModel)]="longeur" name="longeur" class="form-control"/></td>
              <td><input type="number" [(ngModel)]="largeur" name="largeur" class="form-control"/></td>
              <td><input type="number" [(ngModel)]="hauteur" name="hauteur" class="form-control"/></td>
              <td style="width: 15%"><input type="number" [(ngModel)]="poids" name="poids" class="form-control"/></td>
              <td style="width: 15%"><input type="number" [(ngModel)]="valeur" name="valeur" class="form-control"/></td>
              <td *ngIf="mode==1"><input type="number" [(ngModel)]="distance" name="distance" class="form-control" disabled/></td>
              <td *ngIf="mode==2"><input type="number" [(ngModel)]="distanceKm" name="distanceKm" class="form-control" disabled/></td>
            </tr>            
            <!--tr *ngIf="mode==1">
                <td *ngIf="mode==1"><label class="control-label">Poids (en lbs)</label></td>
                <td><label class="control-label">Valeur </label></td>
                <td><label class="control-label">Distance (en miles)</label></td>              
            </tr-->
            <!--tr *ngIf="mode==2">
                <td *ngIf="mode==2"><label class="control-label">Poids (en kg)</label></td>
                <td><label class="control-label">Valeur </label></td>
                <td><label class="control-label">Distance (en km)</label></td>              
            </tr-->
            <!--tr>
                <td><input type="number" [(ngModel)]="poids" name="poids" class="form-control"/></td>
                <td><input type="number" [(ngModel)]="valeur" name="valeur" class="form-control"/></td>
                <td *ngIf="mode==1"><input type="number" [(ngModel)]="distance" name="distance" class="form-control" disabled/></td>
                <td *ngIf="mode==2"><input type="number" [(ngModel)]="distanceKm" name="distanceKm" class="form-control" disabled/></td>
            </tr-->                  
            <!--tr>
              <td><label class="control-label">Type de Camions</label></td>
              
            </tr>  
            <tr>
              <td><input type="text" [(ngModel)]="demande.typeCamion" name="tpyeCamion" class="form-control"/></td>
              
            </tr-->                  
            <tr>
              <th><label class="control-label">Type Camion : </label></th>                                      
              <td colspan="5"><input type="text" [(ngModel)]="demande.typeCamion" name="typeCamion" class="form-control"/></td>
            </tr>
            <tr>
              <th><label class="control-label">Options : </label></th>                                      
              <td colspan="5"><input type="text" [(ngModel)]="demande.optionDemande" name="optionDemande" class="form-control"/></td>                                                            
              <!--td><button>Afficher Types de Camions</button></td-->
            </tr>
            <tr>
              <th>Total de points : </th>
              <td> {{totalPoints}} </td>
              <th>Prix sugere : </th>
              <td> {{prix}} </td>
            </tr>
            <tr>
              <!--td><button class="btn btn-success" [disabled]="!f.form.valid" (click)="onOk()" >Estimer Le Prix</button></td-->
              <td><button class="btn btn-success" (click)="showMap()" >Voir la Carte</button></td>
              <td style="width: 20%" *ngIf='role.includes("SHIPPER")'>
                <button class="btn btn-success" (click)="onOk()" >Re-estimer Le Prix</button>
              </td>
              <td><button class="btn btn-danger" (click)="onRetour()" >Retour</button></td>
              <td *ngIf="role.includes('TRANSPORTER')">
                <button class="btn btn-success" (click)="onContact()" [disabled]="disableContactDemande()">Ask</button>
              </td>
              <td colspan="3" *ngIf='role.includes("SHIPPER")'>
                <button class="btn btn-primary" (click)="onSearchTruck()">Modifier et Chercher Camions</button>
              </td>
            </tr>
          <!--tr>
            <td><button class="btn btn-success" (click)="showMap()" >Voir la Carte</button></td>
            <td><button class="btn btn-success" (click)="onOk()" >Estimer Le Prix</button></td>
            <td><button class="btn btn-danger" (click)="onReset()" >Reset</button></td>
            <td><button class="btn btn-primary" (click)="onSearchTruck()" [disabled]="searchTruck">Poster et Chercher Camions</button></td>
            </tr-->  
          </table>            
          <!--/form-->
        </div>        
    </div>
    
  <br>
    <div class="row" >
      <div class="col-md-12">
        <div class="text-center">
          <h3>
            <div #gmap style="width:100%;height:500px" ></div>
          </h3>
        </div>
      </div>
    </div>
  <br>
</div>