<!--div class="container spacer"-->
    <div class="panel panel-primary">
      <div class="panel-heading" *ngIf='role.includes("TRANSPORTER")'>
        <h4>Demande de : {{demande.nomDemander}} - Tel : {{shipper.tel}} - Email : {{shipper.email}}</h4>
      </div>
        <!--div class="panel-body">
                <table class="table table-striped">
                        <tr>
                          <th>Raison Sociale</th><th>En Affaire Depuis</th><th>Email</th><th>Telephone</th><th>Fax</th>
                        </tr>
                        <tr *ngIf='demande.roleDemander.includes("SHIPPER")'>
                          <td><input class="form-control" type="text" [(ngModel)]="shipper.raison_sociale" /></td>
                          <td><input class="form-control" type="date" [(ngModel)]="shipper.depuis" /></td>
                          <td><input class="form-control" type="text" [(ngModel)]="shipper.email" /></td>
                          <td><input class="form-control" type="text" [(ngModel)]="shipper.tel" /></td>
                          <td><input class="form-control" type="text" [(ngModel)]="shipper.fax" /></td>
                        </tr>
                        <tr *ngIf='demande.roleDemander.includes("TRANSPORTER")'>
                          <td><input class="form-control" type="text" [(ngModel)]="transporter.raison_sociale" /></td>
                          <td><input class="form-control" type="date" [(ngModel)]="transporter.depuis" /></td>
                          <td><input class="form-control" type="text" [(ngModel)]="transporter.email" /></td>
                          <td><input class="form-control" type="text" [(ngModel)]="transporter.tel" /></td>
                          <td><input class="form-control" type="text" [(ngModel)]="transporter.fax" /></td>
                        </tr>
                </table>
        </div-->  
        <div>
          <table>
            <tr>
              <td><button class="btn btn-primary" (click)="changeUnite()">Change Unite</button></td>
              <td (mouseover)="gotoTop()"><button class="btn btn-primary" (click)="gotoTop()">Insurance</button></td>
              <td><button class="btn btn-primary" (click)="gotoTop()">Equifax</button></td>
              <td><button class="btn btn-primary" (click)="gotoTop()">TransCredit CA</button></td>
              <td><button class="btn btn-primary" (click)="gotoTop()">Authority</button></td>
              <td><button class="btn btn-primary" (click)="gotoTop()">TransCredit US</button></td>
              <td><button class="btn btn-primary" (click)="gotoTop()">Web Info</button></td>
            </tr>
          </table>
        </div>              
        <p></p><p></p>
        <div class="panel-body">
          <!--form #f="ngForm" (ngSubmit)="onRegister(f.value)"-->
          <table class="table table-striped">    
            <tr>
              <th><label class="control-label">Available</label></th>    
              <th><input type="date" [ngModel]="today | date: 'yyyy-MM-dd'" name="dateDepart" min="{{today | date: 'yyyy-MM-dd'}}" class="form-control"/></th>    
              <!--ng-template *ngIf='role.includes("TRANSPORTER")'-->
                <th *ngIf='role.includes("TRANSPORTER")'><label class="control-label">Origin</label></th>
                <th *ngIf='role.includes("TRANSPORTER")'>{{demande.origin}}</th>
                <th *ngIf='role.includes("TRANSPORTER")'><label class="control-label">Destination</label></th>               
                <th *ngIf='role.includes("TRANSPORTER")'>{{demande.destination}}</th>   
              <!--/ng-template-->
            </tr>
            <!--ng-template *ngIf='role.includes("SHIPPER")'-->
            <tr *ngIf='role.includes("SHIPPER")'>
              <th><label class="control-label">Adresse</label></th>
              <th>Numero & Rue</th>
              <th>Province</th>
              <th>Ville</th>
            </tr>       
            <tr *ngIf='role.includes("SHIPPER")'>
                <th><label class="control-label">Origin</label></th>
                <td><input type="text" [(ngModel)]="demande.originAdresse" name="origin" class="form-control" (change)="originChange()"/></td>
                <td>
                  <select type="text" [(ngModel)]="demande.originProvince" (ngModelChange)="originChange()">
                    <option *ngFor="let p of provinceList" [ngValue]="p">{{p}}</option>
                  </select>
                </td>
                <td>
                  <select type="text" [(ngModel)]="demande.originVille" (ngModelChange)="originChange()">
                    <option *ngFor="let v of villeListO" [ngValue]="v">{{v}}</option>
                  </select>
                  <input type="text" [(ngModel)]="demande.originVille" name="originVille" class="form-control" (change)="originChange()">
                </td>
              </tr>       
              <tr *ngIf='role.includes("SHIPPER")'>
                <th><label class="control-label">Destination</label></th>
                <td><input type="text" [(ngModel)]="demande.destAdresse" name="origin" class="form-control" (change)="destinationChange()"/></td>
                <td>
                  <select type="text" [(ngModel)]="demande.destProvince" (ngModelChange)="destinationChange()">
                    <option *ngFor="let p of provinceList" [ngValue]="p">{{p}}</option>
                  </select>
                </td>  
                <td>
                  <select type="text" [(ngModel)]="demande.destVille" (ngModelChange)="destinationChange()">
                    <option *ngFor="let v of villeListD" [ngValue]="v">{{v}}</option>
                  </select>
                  <input type="text" [(ngModel)]="demande.destVille" name="destVille" class="form-control" (change)="destinationChange()">
                </td>
              </tr>   
              <tr>
                <th>Description</th>
                <!--td><textarea name="comments" id="" cols="50" rows="1" [(ngModel)]="voyage.comments"></textarea></td-->
                <td colspan="5"><input type="text" [(ngModel)]="demande.comments" name="comments" class="form-control"/></td>
              </tr>  
            <!--/ng-template-->          
          </table>
          <table class="table table-striped">
            <tr *ngIf="mode==1">
              <th *ngIf="mode==1" ><label class="control-label">Longueur(pouce)</label></th>                
              <th *ngIf="mode==1"><label class="control-label">Largeur(pouce)</label></th>                
              <th *ngIf="mode==1"><label class="control-label">Hauteur(pouce)</label></th>    
              <th *ngIf="mode==1"><label class="control-label">Poids(lbs)</label></th>
              <th style="width: 15%"><label class="control-label">Valeur </label></th>
              <th><label class="control-label">Distance(miles)</label></th>                          
            </tr>
            <tr *ngIf="mode==2">                  
                <th *ngIf="mode==2"><label class="control-label">Longueur(cm)</label></th>                  
                <th *ngIf="mode==2"><label class="control-label">Largeur(cm)</label></th>                  
                <th *ngIf="mode==2"><label class="control-label">Hauteur(cm)</label></th>  
                <th *ngIf="mode==2"><label class="control-label">Poids(kg)</label></th>
                <th style="width: 15%"><label class="control-label">Valeur </label></th>
                <th><label class="control-label">Distance(km)</label></th>              
            </tr>
            <tr>
              <td><input type="number" [(ngModel)]="longeur" name="longeur" class="form-control"/></td>
              <td><input type="number" [(ngModel)]="largeur" name="largeur" class="form-control"/></td>
              <td><input type="number" [(ngModel)]="hauteur" name="hauteur" class="form-control"/></td>
              <td style="width: 15%"><input type="number" [(ngModel)]="poids" name="poids" class="form-control"/></td>
              <td style="width: 15%"><input type="number" [(ngModel)]="valeur" name="valeur" class="form-control"/></td>
              <td *ngIf="mode==1"><input type="number" [(ngModel)]="distance" name="distance" class="form-control" disabled/></td>
              <td *ngIf="mode==2"><input type="number" [(ngModel)]="distanceKm" name="distanceKm" class="form-control" disabled/></td>
            </tr>            
            <!--tr *ngIf="mode==1">
                <td *ngIf="mode==1"><label class="control-label">Poids (en lbs)</label></td>
                <td><label class="control-label">Valeur </label></td>
                <td><label class="control-label">Distance (en miles)</label></td>              
            </tr-->
            <!--tr *ngIf="mode==2">
                <td *ngIf="mode==2"><label class="control-label">Poids (en kg)</label></td>
                <td><label class="control-label">Valeur </label></td>
                <td><label class="control-label">Distance (en km)</label></td>              
            </tr-->
            <!--tr>
                <td><input type="number" [(ngModel)]="poids" name="poids" class="form-control"/></td>
                <td><input type="number" [(ngModel)]="valeur" name="valeur" class="form-control"/></td>
                <td *ngIf="mode==1"><input type="number" [(ngModel)]="distance" name="distance" class="form-control" disabled/></td>
                <td *ngIf="mode==2"><input type="number" [(ngModel)]="distanceKm" name="distanceKm" class="form-control" disabled/></td>
            </tr-->                  
            <!--tr>
              <td><label class="control-label">Type de Camions</label></td>
              
            </tr>  
            <tr>
              <td><input type="text" [(ngModel)]="demande.typeCamion" name="tpyeCamion" class="form-control"/></td>
              
            </tr-->                  
            <tr>
              <th><label class="control-label">Type Camion : </label></th>                                      
              <td colspan="5"><input type="text" [(ngModel)]="demande.typeCamion" name="typeCamion" class="form-control"/></td>
            </tr>
            <tr *ngIf='role.includes("SHIPPER")'>
              <td colspan="8">
                <div>
                  <form [formGroup]="formGroup" >
                    <table>
                      <ng-container formArrayName="camionTypes" *ngFor="let camionType of formGroup.controls.camionTypes['controls']; let i = index" >      
                        <tr *ngIf="((i % 8 === 0) && (i<16))">
                          <td style="font-size: 10px" *ngFor="let x of [i,i+1,i+2,i+3,i+4,i+5,i+6,i+7]">  
                              {{camionTypes[x].name}}
                              <input type="checkbox" [formControlName]='x' (change)="onChangeTypeCamion()"/>
                          </td>
                        </tr>
                      </ng-container>
                    </table>
                  </form>
                </div>
              </td>
            </tr>
            <tr>
              <th><label class="control-label">Options : </label></th>                                      
              <td colspan="5"><input type="text" [(ngModel)]="demande.optionDemande" name="optionDemande" class="form-control"/></td>                                                            
              <!--td><button>Afficher Types de Camions</button></td-->
            </tr>
            <tr *ngIf='role.includes("SHIPPER")'>
              <td colspan="8">
                <div>
                  <form [formGroup]="formGroup" >
                    <table>
                      <!--tr>
                        <td> 
                          Tous
                          <input type="checkbox" formControlName="selectAll" (change)="onChangeTypeCamion()"/>
                        </td>
                      </tr-->
                      <ng-container formArrayName="camionTypes" *ngFor="let camionType of formGroup.controls.camionTypes['controls']; let i = index" >      
                        <tr *ngIf="i % 8 === 0 && i>=16">
                          <td style="font-size: 10px" *ngFor="let x of [i,i+1,i+2,i+3,i+4,i+5,i+6,i+7]">  
                              {{camionTypes[x].name}}
                              <input type="checkbox" [formControlName]='x' (change)="onChangeOptionDemande()"/>
                          </td>
                        </tr>
                      </ng-container>
                    </table>
                  </form>
                </div>
              </td>
            </tr>              
            <tr>
              <th>Total de points : </th>
              <td> {{totalPoints}} </td>
              <th>Prix sugere : </th>
              <td> {{prix}} </td>
            </tr>
            <tr>
              <!--td><button class="btn btn-success" [disabled]="!f.form.valid" (click)="onOk()" >Estimer Le Prix</button></td-->
              <td><button class="btn btn-success" (click)="showMap()" >Voir Map</button></td>
              <td style="width: 20%" *ngIf='role.includes("SHIPPER")'>
                <button class="btn btn-success" (click)="onOk()" >Estimer Prix</button>
              </td>
              <td *ngIf="role.includes('TRANSPORTER')">
                <button class="btn btn-success" (click)="onContact()" [disabled]="disableContactDemande()">Ask</button>
              </td>
              <td colspan="3" *ngIf='role.includes("SHIPPER")'>
                <button class="btn btn-primary" (click)="onSearchTruck()">Modifier/EquipmentsMatch</button>
              </td>
              <td><button class="btn btn-danger" (click)="onRetour()" >Retour</button></td>
            </tr>
          <!--tr>
            <td><button class="btn btn-success" (click)="showMap()" >Voir la Carte</button></td>
            <td><button class="btn btn-success" (click)="onOk()" >Estimer Le Prix</button></td>
            <td><button class="btn btn-danger" (click)="onReset()" >Reset</button></td>
            <td><button class="btn btn-primary" (click)="onSearchTruck()" [disabled]="searchTruck">Poster et Chercher Camions</button></td>
            </tr-->  
          </table>            
          <!--/form-->
        </div>        
    </div>
    
  <br>
    <div class="row" >
      <div class="col-md-12">
        <div class="text-center">
          <h3>
            <div #gmap style="width:100%;height:500px" ></div>
          </h3>
        </div>
      </div>
    </div>
  <br>
<!--/div-->