<select [(ngModel)]="terminal" (ngModelChange)="showMap()">
    <option *ngFor="let tk of terminals" [ngValue]="tk">
        {{tk.name}}
    </option>
</select>
<!-- <input type="text" placeholder="#driver"> -->
<!-- <button>OK</button><br> -->
<div *ngIf="terminal!=null">
    <!-- <input type="number" [(ngModel)]="truck.speed"> -->
    <!-- <label for="">Odometer</label>
    <input type="number" [(ngModel)]="truck.odometre" disabled> -->
    <label for="">Latitude</label>
    <input type="number" [(ngModel)]="terminal.latitude" disabled>
    <label for="">Longitude</label>
    <input type="number" [(ngModel)]="terminal.longitude" disabled>
    <p>
        <span>Speed : </span> {{terminal.speed + " km/h"}}
    </p>
</div>


<!-- <h3>List Itineraires</h3> -->
<div [hidden]="terminal==null" #gmap style="width:100%;height:650px" ></div>
