<div class="w3-container">
  <div class="panel panel-primary"> <!--*ngIf="mode==1"-->
    <div class="panel-heading"> 
        <h2> Gerer Camion : {{camion.unite}}  &nbsp;&nbsp;&nbsp; </h2>
        <button class="btn btn-link" (click)="onPress()">Voir camion {{camion.unite}} sur la carte</button>
        <p></p>
    </div>
    <div>
        <button class="btn btn-link" (click)="onInfos()">Infos</button>&nbsp;&nbsp;&nbsp;
        <button class="btn btn-link" (click)="onFiche()">Fiche Technique</button>&nbsp;&nbsp;&nbsp;
        <button class="btn btn-link" (click)="onDefinirEnt()">Entretiens a definir</button>
        <button class="btn btn-link" (click)="onEntretiens()">Entretiens a faire</button>
    </div>
    <div *ngIf="modeInfos==1">Infos</div>
    <div *ngIf="modeFiche==1"><h4>Fiche de Technique</h4></div>
    <div *ngIf="modeDefinirEnt==1"><h4>Entretiens a definir</h4></div>
    <div *ngIf="modeEntretiens==1">Entretiens a faire</div>
    <div class="panel-body">
        <table class="table table-striped table-sm table-responsive" *ngIf="modeInfos==1">
            <tr>
                <th>Numero Unite</th><th>Marque</th><th>Modele</th><th>Plaque</th><th>N.I.V</th>
            </tr>
            <tr>
                <td><input class="form-control" type="text" [(ngModel)]="camion.unite" /></td>
                <td><input class="form-control" type="text" [(ngModel)]="camion.marque" /></td>
                <td><input class="form-control" type="text" [(ngModel)]="camion.modele" /></td>
                <td><input class="form-control" type="text" [(ngModel)]="camion.plaque" /></td>
                <td><input class="form-control" type="text" [(ngModel)]="camion.niv" /></td>
            </tr>
            <tr>
                <th>Annee</th><th>Type</th><th>Odometre</th><th>UniteMonitor</th><th>Monitor</th>
            </tr>
            <tr>                
                <td><input class="form-control" type="text" [(ngModel)]="camion.annee" /></td>
                <td><input class="form-control" type="text" [(ngModel)]="camion.type" /></td>
                <td><input class="form-control" type="number" [(ngModel)]="camion.odometre" /></td>
                <td><input class="form-control" type="text" [(ngModel)]="camion.uniteMonitor" /></td>
                <td><input class="form-control" type="text" [(ngModel)]="camion.monitor" /></td>
            </tr>
            <tr><th colspan="8">Les odometres de dernieres entretiens : </th></tr>
            <tr>
              <th>Entretien 1</th><th>Entretien 2</th><th>Entretien 3</th><th>Entretien 4</th><th>Entretien 5</th><th>Entretien 6</th><th>Entretien 7</th><th>Entretien 8</th>
            </tr>
            <tr>
              <td><input class="form-control" type="number" [(ngModel)]="camion.odo1Fait" /></td>
              <td><input class="form-control" type="number" [(ngModel)]="camion.odo2Fait" /></td>
              <td><input class="form-control" type="number" [(ngModel)]="camion.odo3Fait" /></td>
              <td><input class="form-control" type="number" [(ngModel)]="camion.odo4Fait" /></td>
              <td><input class="form-control" type="number" [(ngModel)]="camion.odo5Fait" /></td>
              <td><input class="form-control" type="number" [(ngModel)]="camion.odo6Fait" /></td>
              <td><input class="form-control" type="number" [(ngModel)]="camion.odo7Fait" /></td>
              <td><input class="form-control" type="number" [(ngModel)]="camion.odo8Fait" /></td>
            </tr>
            <tr>
              <th colspan="8">Derniere l'Inspection aux 6 mois</th>
            </tr>
            <tr>
              <td><input class="form-control" type="date" [(ngModel)]="camion.inspect6m" /></td>
            </tr>  
            <tr><th colspan="8">Localisation : </th></tr>
            <tr>
              <th>Latitude</th><th>Longtitude</th><th>En mission</th><th>Depart</th><th>Destination</th>
            </tr>
            <tr>              
              <td><input class="form-control" type="number" [(ngModel)]="camion.latitude" /></td>
              <td><input class="form-control" type="number" [(ngModel)]="camion.longtitude" /></td>
              <td><input class="form-control" type="checkbox" [(ngModel)]="camion.status" /></td>
              <td><input class="form-control" type="text" [(ngModel)]="camion.localDepart" /></td>
              <td><input class="form-control" type="text" [(ngModel)]="camion.destination" /></td>
            </tr>   
        </table>
        <table class="table table-striped table-sm table-responsive" *ngIf="modeFiche==1">          
          <tr>
            <th>Date Achat : </th><td><input class="form-control" type="date" [(ngModel)]="fiche.dateAchat" /></td>
            <th>Moteur : </th><td><input class="form-control" type="text" [(ngModel)]="fiche.moteur" /></td>            
            <th>Transmition: </th><td><input class="form-control" type="text" [(ngModel)]="fiche.transmition" /></td>
          </tr>  
          <tr>
            <th>Couleur1</th><th>Code Couleur1</th><th>Couleur2</th><th>Code Couleur2</th><th>Couleur3</th><th>Code Couleur3</th>
          </tr>
          <tr>            
            <td><input class="form-control" type="text" [(ngModel)]="fiche.couleur1" /></td>
            <td><input class="form-control" type="text" [(ngModel)]="fiche.codeCouleur1" /></td>
            <td><input class="form-control" type="text" [(ngModel)]="fiche.couleur2" /></td>
            <td><input class="form-control" type="text" [(ngModel)]="fiche.codeCouleur2" /></td>
            <td><input class="form-control" type="text" [(ngModel)]="fiche.couleur3" /></td>
            <td><input class="form-control" type="text" [(ngModel)]="fiche.codeCouleur3" /></td>
          </tr>
          <tr>
            <th>Differentiel1 Type</th><th>Differentiel1 Capacite</th><th>Differentiel2 Type</th><th>Differentiel2 Capacite</th><th>Differentiel3 Type</th><th>Differentiel3 Capacite</th>
          </tr>
          <tr>            
            <td><input class="form-control" type="text" [(ngModel)]="fiche.differentiel1Type" /></td>
            <td><input class="form-control" type="text" [(ngModel)]="fiche.differentiel1Capacite" /></td>
            <td><input class="form-control" type="text" [(ngModel)]="fiche.differentiel2Type" /></td>
            <td><input class="form-control" type="text" [(ngModel)]="fiche.differentiel2Capacite" /></td>
            <td><input class="form-control" type="text" [(ngModel)]="fiche.differentiel3Type" /></td>
            <td><input class="form-control" type="text" [(ngModel)]="fiche.differentiel3Capacite" /></td>
          </tr>
              <tr>
                <th>Essieux Avant Type</th><th>Essieux Avant Capacite</th><th>Pneus Avant Modele</th><th>Pneus Avant Grandeur</th><th>Pneus Arriere Modele</th><th>Pneus Arriere Grandeur</th>
              </tr>
              <tr>
                <td><input class="form-control" type="text" [(ngModel)]="fiche.essieuxAvantType" /></td>
                <td><input class="form-control" type="text" [(ngModel)]="fiche.essieuxAvantCapacite" /></td>
                <td><input class="form-control" type="text" [(ngModel)]="fiche.pneusAvantModele" /></td>
                <td><input class="form-control" type="text" [(ngModel)]="fiche.pneusAvantGrandeur" /></td>
                <td><input class="form-control" type="text" [(ngModel)]="fiche.pneusArriereModele" /></td>
                <td><input class="form-control" type="text" [(ngModel)]="fiche.pneusArrieregrandeur" /></td>
              </tr>        
              <tr>
                <th>PTO Modele</th><th>PTO Serie</th><th>Pompe Hydrolique Modele</th><th>Pompe Hydrolique Serie</th><th>FiltreHuile1er Marque</th><th>FiltreHuile1er Piece</th>
              </tr>
              <tr>
                <td><input class="form-control" type="text" [(ngModel)]="fiche.ptoModele" /></td>
                <td><input class="form-control" type="text" [(ngModel)]="fiche.ptoSerie" /></td>
                <td><input class="form-control" type="text" [(ngModel)]="fiche.pompeHydroliqueModele" /></td>
                <td><input class="form-control" type="text" [(ngModel)]="fiche.pompeHydroliqueSerie" /></td>
                <td><input class="form-control" type="text" [(ngModel)]="fiche.filtreHuile1erMarque" /></td>
                <td><input class="form-control" type="text" [(ngModel)]="fiche.filtreHuile1erPiece" /></td>
              </tr>     
              <tr>
                <th>FiltreHuile2em Marque</th><th>FiltreHuile2em Piece</th><th>FiltreHuile3em Marque</th><th>FiltreHuile3em Piece</th><th>FiltreFuel1er Marque</th><th>FiltreFuel1er Piece</th><th>FiltreFuel2em Marque</th><th>FiltreFuel2em Piece</th>
              </tr>
              <tr>
                <td><input class="form-control" type="text" [(ngModel)]="fiche.filtreHuile2emMarque" /></td>
                <td><input class="form-control" type="text" [(ngModel)]="fiche.filtreHuile2emPiece" /></td>
                <td><input class="form-control" type="text" [(ngModel)]="fiche.filtreHuile3emMarque" /></td>
                <td><input class="form-control" type="text" [(ngModel)]="fiche.filtreHuile3emPiece" /></td>
                <td><input class="form-control" type="text" [(ngModel)]="fiche.filtreFuel1erMarque" /></td>
                <td><input class="form-control" type="text" [(ngModel)]="fiche.filtreFuel1erPiece" /></td>
                <td><input class="form-control" type="text" [(ngModel)]="fiche.filtreFuel2emMarque" /></td>
                <td><input class="form-control" type="text" [(ngModel)]="fiche.filtreFuel2emPiece" /></td>
              </tr>                
              <tr>
                <th>FiltreHuile3em Marque</th><th>FiltreHuile3em Piece</th><th>FiltreAir1er Marque</th><th>FiltreAir1er Piece</th><th>FiltreAir2em Marque</th><th>FiltreAir2em Piece</th><th>FiltreAir3em Marque</th><th>FiltreAir3em Piece</th>
              </tr>
              <tr>
                <td><input class="form-control" type="text" [(ngModel)]="fiche.filtreHuile3emMarque" /></td>
                <td><input class="form-control" type="text" [(ngModel)]="fiche.filtreHuile3emPiece" /></td>
                <td><input class="form-control" type="text" [(ngModel)]="fiche.filtreAir1erMarque" /></td>
                <td><input class="form-control" type="text" [(ngModel)]="fiche.filtreAir1erPiece" /></td>
                <td><input class="form-control" type="text" [(ngModel)]="fiche.filtreAir2emMarque" /></td>
                <td><input class="form-control" type="text" [(ngModel)]="fiche.filtreAir2emPiece" /></td>
                <td><input class="form-control" type="text" [(ngModel)]="fiche.filtreAir3emMarque" /></td>
                <td><input class="form-control" type="text" [(ngModel)]="fiche.filtreAir3emPiece" /></td>
              </tr>        
              <tr>
                <th>FiltrePrestone1er Marque</th><th>FiltrePrestone1er Piece</th><th>FiltrePrestone2em Marque</th><th>FiltrePrestone2em Piece</th><th>FiltrePolene1er Marque</th><th>FiltrePolene1er Piece</th><th>FiltrePolene2em Marque</th><th>FiltrePolene2em Piece</th>
              </tr>
              <tr>
                <td><input class="form-control" type="text" [(ngModel)]="fiche.filtrePrestone1erMarque" /></td>
                <td><input class="form-control" type="text" [(ngModel)]="fiche.filtrePrestone1erPiece" /></td>
                <td><input class="form-control" type="text" [(ngModel)]="fiche.filtrePrestone2emMarque" /></td>
                <td><input class="form-control" type="text" [(ngModel)]="fiche.filtrePrestone2emPiece" /></td>
                <td><input class="form-control" type="text" [(ngModel)]="fiche.filtrePolene1erMarque" /></td>
                <td><input class="form-control" type="text" [(ngModel)]="fiche.filtrePolene1erPiece" /></td>
                <td><input class="form-control" type="text" [(ngModel)]="fiche.filtrePolene2emMarque" /></td>
                <td><input class="form-control" type="text" [(ngModel)]="fiche.filtrePolene2emPiece" /></td>
              </tr>        
              <tr>
                <th>FiltreHuile Hydrolique1er Marque</th><th>FiltreHuile Hydrolique1er Piece</th><th>FiltreHuile Hydrolique2em Marque</th><th>FiltreHuile Hydrolique2em Piece</th>
              </tr>
              <tr>
                <td><input class="form-control" type="text" [(ngModel)]="fiche.filtreHuileHydrolique1erMarque" /></td>
                <td><input class="form-control" type="text" [(ngModel)]="fiche.filtreHuileHydrolique1erModele" /></td>
                <td><input class="form-control" type="text" [(ngModel)]="fiche.filtreHuileHydrolique2emMarque" /></td>
                <td><input class="form-control" type="text" [(ngModel)]="fiche.filtreHuileHydrolique2emModele" /></td>
              </tr>     
              <tr>
                <th>Huile Moteur</th><th>Huile Differentiel</th><th>Huile Transmition</th><th>HuileServo Direction</th><th>Huile Hydrolique</th><th>Prestone</th><th>Batterie Nombre</th><th>Batterie Amperage</th>
              </tr>
              <tr>
                <td><input class="form-control" type="text" [(ngModel)]="ficheCont.huileMoteur" /></td>
                <td><input class="form-control" type="text" [(ngModel)]="ficheCont.huileDifferentiel" /></td>
                <td><input class="form-control" type="text" [(ngModel)]="ficheCont.huileTransmition" /></td>
                <td><input class="form-control" type="text" [(ngModel)]="ficheCont.huileServoDirection" /></td>
                <td><input class="form-control" type="text" [(ngModel)]="ficheCont.huileHydrolique" /></td>
                <td><input class="form-control" type="text" [(ngModel)]="ficheCont.prestone" /></td>
                <td><input class="form-control" type="text" [(ngModel)]="ficheCont.batterieNombre" /></td>
                <td><input class="form-control" type="text" [(ngModel)]="ficheCont.batterieAmperage" /></td>
              </tr>                   
              <tr>
                <th>Batterie Dimension</th><th>Alternateur Marque</th><th>Alternateur Piece</th><th>Demarreur Marque</th><th>Demarreur Piece</th><th>PhareAvant Marque</th><th>PhareAvant Piece</th><th>LumiaireArriere Marque</th>
              </tr>
              <tr>
                <td><input class="form-control" type="text" [(ngModel)]="ficheCont.batterieDimension" /></td>
                <td><input class="form-control" type="text" [(ngModel)]="ficheCont.alternateurMarque" /></td>
                <td><input class="form-control" type="text" [(ngModel)]="ficheCont.alternateurPiece" /></td>
                <td><input class="form-control" type="text" [(ngModel)]="ficheCont.demarreurMarque" /></td>
                <td><input class="form-control" type="text" [(ngModel)]="ficheCont.demarreurPiece" /></td>
                <td><input class="form-control" type="text" [(ngModel)]="ficheCont.phareAvantMarque" /></td>
                <td><input class="form-control" type="text" [(ngModel)]="ficheCont.phareAvantPiece" /></td>
                <td><input class="form-control" type="text" [(ngModel)]="ficheCont.lumiaireArriereMarque" /></td>
              </tr>                         
              <tr>
                <th>LumiaireArriere Piece</th><th>Clignotant Avant Marque</th><th>Clignotant Avant Piece</th><th>LumiaireHaut PareBrise Marque</th><th>LumiaireHaut PareBrise Piece</th><th>Essieux AvantFrein Marque</th><th>Essieux AvantFrein Piece</th><th>Essieux AvantDrum Marque</th>
              </tr>
              <tr>
                <td><input class="form-control" type="text" [(ngModel)]="ficheCont.lumiaireArrierePiece" /></td>
                <td><input class="form-control" type="text" [(ngModel)]="ficheCont.clignotantAvantMarque" /></td>
                <td><input class="form-control" type="text" [(ngModel)]="ficheCont.clignotantAvantPiece" /></td>
                <td><input class="form-control" type="text" [(ngModel)]="ficheCont.lumiaireHautPareBriseMarque" /></td>
                <td><input class="form-control" type="text" [(ngModel)]="ficheCont.lumiaireHautPareBrisePiece" /></td>
                <td><input class="form-control" type="text" [(ngModel)]="ficheCont.essieuxAvantFreinMarque" /></td>
                <td><input class="form-control" type="text" [(ngModel)]="ficheCont.essieuxAvantFreinPiece" /></td>
                <td><input class="form-control" type="text" [(ngModel)]="ficheCont.essieuxAvantDrumMarque" /></td>
              </tr>          
              <tr>
                <th>Essieux AvantDrum Piece</th><th>EssieuxAvant RouesType</th><th>EssieuxAvant RouesMarque</th><th>EssieuxAvant RouesPiece</th><th>EssieuxAvant BearingRouesMarque</th><th>EssieuxAvant BearingRouesPiece</th><th>EssieuxAvant BoosterMarque</th><th>EssieuxAvant BoosterPiece</th>
              </tr>
              <tr>
                <td><input class="form-control" type="text" [(ngModel)]="ficheCont.essieuxAvantDrumPiece" /></td>
                <td><input class="form-control" type="text" [(ngModel)]="ficheCont.essieuxAvantRouesType" /></td>
                <td><input class="form-control" type="text" [(ngModel)]="ficheCont.essieuxAvantRouesMarque" /></td>
                <td><input class="form-control" type="text" [(ngModel)]="ficheCont.essieuxAvantRouesPiece" /></td>
                <td><input class="form-control" type="text" [(ngModel)]="ficheCont.essieuxAvantBearingRouesMarque" /></td>
                <td><input class="form-control" type="text" [(ngModel)]="ficheCont.essieuxAvantBearingRouesPiece" /></td>
                <td><input class="form-control" type="text" [(ngModel)]="ficheCont.essieuxAvantBoosterMarque" /></td>
                <td><input class="form-control" type="text" [(ngModel)]="ficheCont.essieuxAvantBoosterPiece" /></td>
              </tr> 
              <tr>
                <th>EssieuxAvant CAMGaucheMarque</th><th>EssieuxAvant CAMGauchePiece</th><th>EssieuxAvant CAMDroiteMarque</th><th>EssieuxAvant CAMDroitePiece</th><th>EssieuxArriere FreinMarque</th><th>EssieuxArriere FreinPiece</th><th>EssieuxArriere DrumMarque</th><th>EssieuxArriere DrumPiece</th>
              </tr>
              <tr>
                <td><input class="form-control" type="text" [(ngModel)]="ficheCont.essieuxAvantCAMGaucheMarque" /></td>
                <td><input class="form-control" type="text" [(ngModel)]="ficheCont.essieuxAvantCAMGauchePiece" /></td>
                <td><input class="form-control" type="text" [(ngModel)]="ficheCont.essieuxAvantCAMDroiteMarque" /></td>
                <td><input class="form-control" type="text" [(ngModel)]="ficheCont.essieuxAvantCAMDroitePiece" /></td>
                <td><input class="form-control" type="text" [(ngModel)]="ficheCont.essieuxArriereFreinMarque" /></td>
                <td><input class="form-control" type="text" [(ngModel)]="ficheCont.essieuxArriereFreinPiece" /></td>
                <td><input class="form-control" type="text" [(ngModel)]="ficheCont.essieuxArriereDrumMarque" /></td>
                <td><input class="form-control" type="text" [(ngModel)]="ficheCont.essieuxArriereDrumPiece" /></td>
              </tr>                                          
              <tr>
                <th>EssieuxArriere RouesType</th><th>EssieuxArriere RouesMarque</th><th>EssieuxArriere RouesPiece</th><th>EssieuxArriere BearingRouesMarque</th><th>EssieuxArriere BearingRouesPiece</th><th>EssieuxArriere BoosterMarque</th><th>EssieuxArriere BoosterPiece</th><th>EssieuxArriere CAMGaucheMarque</th>
              </tr>
              <tr>
                <td><input class="form-control" type="text" [(ngModel)]="ficheCont.essieuxArriereRouesType" /></td>
                <td><input class="form-control" type="text" [(ngModel)]="ficheCont.essieuxArriereRouesMarque" /></td>
                <td><input class="form-control" type="text" [(ngModel)]="ficheCont.essieuxArriereRouesPiece" /></td>
                <td><input class="form-control" type="text" [(ngModel)]="ficheCont.essieuxArriereBearingRouesMarque" /></td>
                <td><input class="form-control" type="text" [(ngModel)]="ficheCont.essieuxArriereBearingRouesPiece" /></td>
                <td><input class="form-control" type="text" [(ngModel)]="ficheCont.essieuxArriereBoosterMarque" /></td>
                <td><input class="form-control" type="text" [(ngModel)]="ficheCont.essieuxArriereBoosterPiece" /></td>
                <td><input class="form-control" type="text" [(ngModel)]="ficheCont.essieuxArriereCAMGaucheMarque" /></td>
              </tr>
              <tr>
                  <th>EssieuxArriere CAMGauchePiece</th><th>EssieuxArriere CAMDroiteMarque</th><th>EssieuxArriere CAMDroitePiece</th>
                </tr>
                <tr>
                  <td><input class="form-control" type="text" [(ngModel)]="ficheCont.essieuxArriereCAMGauchePiece" /></td>
                  <td><input class="form-control" type="text" [(ngModel)]="ficheCont.essieuxArriereCAMDroiteMarque" /></td>
                  <td><input class="form-control" type="text" [(ngModel)]="ficheCont.essieuxArriereCAMDroitePiece" /></td>
                </tr>  
        </table>
        <table class="table table-striped table-sm table-responsive" *ngIf="modeDefinirEnt==1">          
          <!--tr><th colspan="3">A definir - Kilometrage a faire des entretiens suivants :</th><th></th><th></th><th></th></tr-->
          <tr>
            <th>Entretiens</th><th>Kilometrage a faire</th><th colspan="5">Consignes</th>
          </tr>          
          <tr>
            <th>Entretien 1</th><td><input class="form-control" type="text" [(ngModel)]="camion.ent1" /></td>
            <td colspan="5"><textarea class="form-control" type="text" rows="2" cols="50" [(ngModel)]="camion.message01"></textarea></td>
          </tr>
          <tr>
            <th>Entretien 2</th><td><input class="form-control" type="text" [(ngModel)]="camion.ent2" /></td>
            <td colspan="5"><textarea class="form-control" type="text" rows="2" cols="50" [(ngModel)]="camion.message02"></textarea></td>
          </tr>
          <tr>
            <th>Entretien 3</th><td><input class="form-control" type="text" [(ngModel)]="camion.ent3" /></td>
            <td colspan="5"><textarea class="form-control" type="text" rows="2" cols="50" [(ngModel)]="camion.message03"></textarea></td>
          </tr>
          <tr>
            <th>Entretien 4<br>Hydrolique</th><td><input class="form-control" type="text" [(ngModel)]="camion.filHydrolique" /></td>
            <td colspan="5"><textarea class="form-control" type="text" rows="2" cols="50" [(ngModel)]="camion.message04"></textarea></td>
          </tr>
          <tr>
            <th>Entretien 5<br>Antigel-fil</th><td><input class="form-control" type="text" [(ngModel)]="camion.filAntigel" /></td>
            <td colspan="5"><textarea class="form-control" type="text" rows="2" cols="50" [(ngModel)]="camion.message05"></textarea></td>
          </tr>
          <tr>
            <th>Entretien 6<br>Antigel-huile</th><td><input class="form-control" type="text" [(ngModel)]="camion.huileAntigel" /></td>
            <td colspan="5"><textarea class="form-control" type="text" rows="2" cols="50" [(ngModel)]="camion.message06"></textarea></td>
          </tr>
          <tr>
            <th>Entretien 7<br>Transmission</th><td><input class="form-control" type="text" [(ngModel)]="camion.huileTransmission" /></td>
            <td colspan="5"><textarea class="form-control" type="text" rows="2" cols="50" [(ngModel)]="camion.message07"></textarea></td>
          </tr>
          <tr>
            <th>Entretien 8<br>Differentiel</th><td><input class="form-control" type="text" [(ngModel)]="camion.huileDifferentiel" /></td>
            <td colspan="5"><textarea class="form-control" type="text" rows="2" cols="50" [(ngModel)]="camion.message08"></textarea></td>
          </tr>
            <!--tr>
                <th>Entretiens</th><th>Kilometretrage a faire</th><th>Consignes</th>
            </tr-->
          <tr *ngFor="let entretien of entretiens">
            <th><input class="form-control" type="text" [(ngModel)]="entretien.nom" /></th>
            <td><input class="form-control" type="text" [(ngModel)]="entretien.kmTrage" /></td>
            <td colspan="5"><textarea class="form-control" type="text" rows="2" cols="50" [(ngModel)]="entretien.message"></textarea></td>
            <!--td><button class="btn btn-link" (click)="deleteEntretien(entretien.id)">Delete</button></td-->
          </tr>           
          <tr><td colspan="2"><strong>Ajouter d'entretien</strong></td></tr>   
          <tr>
            <th>Entretiens</th><th>Kilometretrage a faire</th><th>Consignes</th>
          </tr>  
          <tr>
            <td><input class="form-control" type="text" [(ngModel)]="autreEntretien.nom" /></td>
            <td><input class="form-control" type="text" [(ngModel)]="autreEntretien.kmTrage" /></td>
            <td colspan="4"><textarea class="form-control" type="text" rows="2" cols="50" [(ngModel)]="autreEntretien.message"></textarea></td>                
            <td><button class="btn btn-link" (click)="addEntretien()">Add</button></td>
          </tr>           

        </table>
        <table class="table table-striped table-sm table-responsive" *ngIf="modeEntretiens==1">
            <tr><th colspan="8">Les Entretiens a faire (code couleur - vert : pas besoins, jaune : conseille, rouge : oblige) </th></tr>
            <tr>
              <td colspan="2"><button (click)="onEntretien01()" class="btn btn-sm {{couleur01}}" [disabled]="disableButton(camion.odo1Fait, 25000)">Entretien 1 {{codeText(camion.odo1Fait, 25000)}}</button></td>
              <td colspan="2"><button (click)="onEntretien02()" class="btn btn-sm {{couleur02}}" [disabled]="disableButton(camion.odo2Fait, 50000)">Entretien 2 {{codeText(camion.odo2Fait, 50000)}}</button></td>
              <td colspan="2"><button (click)="onEntretien03()" class="btn btn-sm {{couleur03}}" [disabled]="disableButton(camion.odo3Fait, 100000)">Entretien 3 {{codeText(camion.odo3Fait, 100000)}}</button></td>
              <td colspan="2"><button (click)="onEntretien04()" class="btn btn-sm {{couleur04}}" [disabled]="disableButton(camion.odo4Fait, camion.filHydrolique)">Entretien 4 {{codeText(camion.odo4Fait, camion.filHydrolique)}}</button></td>
            </tr>
            <tr>
              <td colspan="2"><button (click)="onEntretien05()" class="btn btn-sm {{couleur05}}" [disabled]="disableButton(camion.odo5Fait, camion.filAntigel)">Entretien 5 {{codeText(camion.odo5Fait, camion.filAntigel)}}</button></td>
              <td colspan="2"><button (click)="onEntretien06()" class="btn btn-sm {{couleur06}}" [disabled]="disableButton(camion.odo6Fait, camion.huileAntigel)">Entretien 6 {{codeText(camion.odo6Fait, camion.huileAntigel)}}</button></td>
              <td colspan="2"><button (click)="onEntretien07()" class="btn btn-sm {{couleur07}}" [disabled]="disableButton(camion.odo7Fait, camion.huileTransmission)">Entretien 7 {{codeText(camion.odo7Fait, camion.huileTransmission)}}</button></td>
              <td colspan="2"><button (click)="onEntretien08()" class="btn btn-sm {{couleur08}}" [disabled]="disableButton(camion.odo8Fait, camion.huileDifferentiel)">Entretien 8 {{codeText(camion.odo8Fait, camion.huileDifferentiel)}}</button></td>
            </tr>
            <tr *ngFor="let entretien of entretiens">
              <!--th><input class="form-control" type="text" [(ngModel)]="entretien.nom" /></th-->
              <!--td><button>{{entretien.nom}}</button></td-->
              <td><button (click)="onAutreEntretien(entretien)" class="btn btn-sm {{couleurAutreEntretien(entretien)}}" [disabled]="disableButtonAutreEntretien(entretien)">{{entretien.nom}}</button></td>
            </tr>           
    
            <tr>
              <td colspan="2"><button (click)="onInspect6()" class="btn btn-sm {{couleur09}}" [disabled]="disableButtonInspect()">Inspection aux 6 mois {{codeTextInspect()}}</button></td>
            </tr>
        </table>                 
    </div>   
    <div>
        <table class="table table-striped table-responsive"> 
            <td><button class="btn btn-primary" (click)="saveCamion()">Ok - Modifier</button></td>
            <td><button class="btn btn-primary" (click)="gotoDetailTransporter(camion.idTransporter)">Quit</button></td> 
            <td></td>
            <td></td>
            <td></td>
            <td></td>                  
        </table>
    </div>
  </div>