@media print{
    printbtn {
        display: none;
    }
}

.m-signature-pad {
    position: relative;
    font-size: 10px;
    width: 300px;
    height: 150px;
    border: 1px solid #e8e8e8;
    background-color: #fff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.08) inset;
    border-radius: 4px;
  }

  .myBtn {
    display: block;
    position: fixed;
    bottom: 40px;
    left: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  