<div>
    <h5 style="text-align: left; font: bold">
        <!-- <a href="https://docs.google.com/spreadsheets/d/18jYk0v8JUwe-ltiB9IUkV-GujT7zSxud700mw68TZRk/edit#gid=0"
            title="Ouvrir la feuille Communication" target="_blank"
        >
            Ouvrir la FeuilleCommun
        </a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
        <a href="https://messages.google.com/web/conversations"
            title="Ouvrir Page SMS" target="_blank"
        >
            Messages Google - Avec Android
            <!-- Ouvrir la PageSMS -->
        </a>
        <!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="https://messages.google.com/web/conversations"
            title="Ouvrir Page SMS" target="_blank"
        >
            I - IOS
        </a> -->
    </h5>
    
    <!-- <iframe is="x-frame-bypass" src="https://docs.google.com/spreadsheets/d/18jYk0v8JUwe-ltiB9IUkV-GujT7zSxud700mw68TZRk/edit#gid=0" 
        frameborder="0" style="width: 50%;height: 800px" allowfullscreen>
        <p>Votre browser ne supporte pas Google Sheet!</p>
    </iframe>
    <iframe is="x-frame-bypass" src="https://messages.google.com/web/conversations" 
        frameborder="0" style="width: 50%;height: 800px" allowfullscreen>
        <p>Votre browser ne supporte pas Google Sheet!</p>
    </iframe> -->
    <!-- https://messages.google.com/web/conversations https://messages.google.com/web/authentication-->
    
</div>

<!-- <div>
    <a href="https://www.google.com/maps/dir/520+Rue+Guindon,+Saint-Eustache,+QC/1185+Boulevard+Moody,+Terrebonne,+Quebec"
        title="Ouvrir Maps" target="_blank"
    >
        Test link with Google Maps
    </a>
</div> -->