<!--div class="container spacer"-->
  <div class="panel panel-primary">
    <div class="panel-heading" *ngIf="!role.includes('TRANSPORTER')">
      Equipments Potential : 
      <h6 *ngIf="!role.includes('TRANSPORTER') && modeMatching==1">For Load From : {{demande.origin}} To :  {{demande.destination}}</h6>
    </div>
    <div class="panel-body" *ngIf="!role.includes('TRANSPORTER') && modeMatching==0">
      <div class="form-group">
        <label for="Mot cle : "></label>
        <input type="text" [(ngModel)]="motCle" #ctrl="ngModel"/>&nbsp;&nbsp;&nbsp;
        <button class="btn btn-primary" (click)="chercher()">Chercher</button>
      </div>
      <table border="1">
      <!-- class="table table-striped"> -->
        <tr>
          <th>Available</th><th>Origin</th><th>Destination</th><th>Comments</th><th>Poste Par</th>
        </tr>
        <tr *ngFor="let v of pageVoyage.content"  (click)="gotoDetailVoyage(v)">
            <td>{{today | date: 'yyyy-MM-dd'}}</td>
            <td>{{v.origin}}</td>
            <td>{{v.destination}}</td>
            <!--td>{{v.comments}}</td-->
            <td><textarea class="form-control" type="text" rows="1" cols="30">{{v.comments}}</textarea></td>
            <td>{{v.nomTransporter}}</td>
            <!--td><button class="btn btn-link" (click)="gotoDetailVoyage(v)">Detail</button></td-->
            <td><button class="btn btn-link" (click)="contactVoyage(v)" [disabled]="disableContactVoyage(v)">Ask</button></td>
            <td><button class="btn btn-link" (click)="removeVoyage(v)">Desactive</button></td>
        </tr>
        <tr *ngFor="let v of voyagesBlue"  style="background-color: lightsteelblue">
          <td>{{today | date: 'yyyy-MM-dd'}}</td>
          <td>{{v.origin}}</td>
          <td>{{v.destination}}</td>
          <!--td>{{v.comments}}</td-->
          <td><textarea class="form-control" type="text" rows="1" cols="30">{{v.comments}}</textarea></td>
          <td>{{v.nomTransporter}}</td>
          <!--td><button class="btn btn-link" (click)="gotoDetailVoyage(v)">Detail</button></td-->
          <td><button class="btn btn-link" (click)="contactVoyage(v)" [disabled]="disableContactVoyage(v)">Ask</button></td>
          <td><button class="btn btn-link" (click)="unRemoveVoyage(v)">Active</button></td>
        </tr>        
      </table>
      <div class="container">
        <ul class="nav nav-pills"><strong>page: </strong>
          <li *ngFor="let p of pages; let i=index">
            <button class="btn btn-link" (click)="gotoPage(i)"> <strong>{{i}}</strong> </button>
          </li>
        </ul>
      </div>
    </div>
    <div class="panel-heading" *ngIf="!role.includes('TRANSPORTER') && modeMatching==1">
      <div class="panel-body">
        <div class="form-group">
          <label for="Mot cle : "></label>
          <input type="text" [(ngModel)]="motCle" #ctrl="ngModel"/>&nbsp;&nbsp;&nbsp;
          <button class="btn btn-primary" (click)="chercher()">All Equipments</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <button class="btn btn-primary" (click)="refreshDistance()">Refresh DFO-LD-DFD</button>
        </div>
        <table border="1">
          <tr>
            <!--th>Available</th><th>Origin</th><th>Destination</th><th>Comments</th><th>Poste Par</th-->
            <th>Available</th>
            <th (click)="originSort()">Origin</th>
            <th (click)="destSort()">Destination</th>
            <th (click)="dFOSort()">DFO</th>
            <th (click)="lDSort()">LD</th>
            <th (click)="dFDSort()">DFD</th>
            <th>Comments</th>
            <th (click)="clientSort()">Poste Par</th>
          </tr>
          <tr *ngFor="let v of voyages"  (click)="gotoDetailVoyage(v)">
            <td (dblclick)="gotoDetailVoyage(v)">{{today | date: 'yyyy-MM-dd'}}</td>
            <td (dblclick)="gotoDetailVoyage(v)">{{v.origin}}</td>
            <td (dblclick)="gotoDetailVoyage(v)">{{v.destination}}</td>
            <td (dblclick)="gotoDetailVoyage(v)">{{v.dfo}}</td>
            <td (dblclick)="gotoDetailVoyage(v)">{{v.ld}}</td>
            <td (dblclick)="gotoDetailVoyage(v)">{{v.dfd}}</td>
            <td><textarea class="form-control" type="text" rows="1" cols="30">{{v.comments}}</textarea></td>
            <td>{{v.nomTransporter}}</td>
            <!--td><button class="btn btn-link" (click)="gotoDetailVoyage(v)">Detail</button></td-->
            <td><button class="btn btn-link" (click)="contactVoyage(v)" [disabled]="disableContactVoyage(v)">Ask</button></td>
            <td><button class="btn btn-link" (click)="removeVoyage(v)">Desactive</button></td>
          </tr>
          <tr *ngFor="let v of voyagesBlue" style="background-color: lightsteelblue">
            <td>{{today | date: 'yyyy-MM-dd'}}</td>
            <td>{{v.origin}}</td>
            <td>{{v.destination}}</td>
            <td>{{v.dfo}}</td>
            <td>{{v.ld}}</td>
            <td>{{v.dfd}}</td>
            <td><textarea class="form-control" type="text" rows="1" cols="30">{{v.comments}}</textarea></td>
            <td>{{v.nomTransporter}}</td>
            <!--td><button class="btn btn-link" (click)="gotoDetailVoyage(v)">Detail</button></td-->
            <td><button class="btn btn-link" (click)="contactVoyage(v)" [disabled]="disableContactVoyage(v)">Ask</button></td>
            <td><button class="btn btn-link" (click)="unRemoveVoyage(v)">Active</button></td>
          </tr>          
        </table>
      </div>
    </div>
    <div class="panel-heading" *ngIf="role.includes('TRANSPORTER') && modeModif!=1">
      <div class="panel-body">
        <table border="1">
          <tr>
            <th>Available</th><th>Origin</th><th>Destination</th><th>Comments</th>
          </tr>
          <tr *ngFor="let v of voyages" (dblclick)="matchingVoyage(v)">
            <td>{{today | date: 'yyyy-MM-dd'}}</td>
            <td>{{v.origin}}</td>
            <td>{{v.destination}}</td>
            <!--td>{{v.comments}}</td-->
            <td><textarea class="form-control" type="text" rows="1" cols="30">{{v.comments}}</textarea></td>
            <td><button class="btn btn-link" (click)="gotoDetailVoyage(v)">Edit</button></td>
            <td><button class="btn btn-link" (click)="matchingVoyage(v)">LoadsMatch</button></td>
            <td><button class="btn btn-link" (click)="deleteVoyage(v)">Delete</button></td>
          </tr>
        </table>
      </div>
    </div>    
    <div class="panel-heading" *ngIf="modeModif==1 && role.includes('TRANSPORTER')">
      <div class="panel-body">
        <h3>Modifier l'Equipment</h3>
      </div>
    </div>
  </div>
<!--/div-->