<!--div class="container spacer"-->
  <div class="panel panel-primary">
    <!--div class="panel-heading">Liste des Messages</div-->
    <div class="panel-body">
      <table class="table table-striped">
        <tr>
          <th>Date</th><th colspan="5">Message</th>
        </tr>
        <tr *ngFor="let m of messages">
            <td>{{m.date}}</td>
            <td colspan="5" [innerHTML]="m.message"></td>
            <td><button class="btn btn-link" (click)="gotoDetailContact(m.idSender)">DetailContact</button></td>
            <!--td><button class="btn btn-link" (click)="gotoDetailDemande(1234)">Detail Load</button></td-->
            <td><button class="btn btn-link" (click)="deleteMessage(m.id)">Delete</button></td>
        </tr>
      </table>
    </div>
  </div>
<!--/div-->