<div>
   <br> <strong style="text-underline-position: below;">Terminals List</strong><br>
    <select [(ngModel)]="terminal" (ngModelChange)="showMap()">
        <option *ngFor="let ter of terminals" [ngValue]="ter">
            {{ter.name + ((ter.idTruck!=null&&ter.idTruck>0)?" - #"+ter.unitTruck:"")}}
        </option>
    </select>
    <br>
</div>

<!-- <input type="text" placeholder="#driver"> -->
<!-- <button>OK</button><br> -->



<div *ngIf="terminal!=null" class="panel-heading"><H4><strong>Detail {{terminal.name}}</strong></H4></div>
<div *ngIf="terminal!=null" class="panel-body">
        <!-- <table class="table table-striped"> -->
  <table border="1">  
    <tr>
      <th width="19%">Name</th>
      <th width="5%">Active</th>
      <th width="19%">Latitude</th>
      <th width="19%">Longitude</th>
      <th width="19%">Truck</th>
      <th width="19%">Driver</th>
      <!-- <th width="20%">Code Validation</th> -->
    </tr>
    <tr>
      <td width="19%"><input class="form-control" type="text" [(ngModel)]="terminal.name" disabled/></td>
      <td width="5%"><input class="form-control" type="checkbox" [(ngModel)]="terminal.status" /></td>
      <td width="19%"><input class="form-control" type="number" [(ngModel)]="terminal.latitude" /></td>
      <td width="19%"><input class="form-control" type="number" [(ngModel)]="terminal.longitude" /></td>
      <!-- <td width="19%"><input class="form-control" type="number" [(ngModel)]="terminal.idTruck" /></td> -->
      <select *ngIf="truckHooked!=null" [(ngModel)]="truck" (ngModelChange)="onSelectTruck()" [disabled]="!terminal.status">
        <!-- <option [ngValue]="null" disabled selected> -->
        <option [ngValue]="truckHooked" disabled selected>
            {{(truckHooked.foreignName!=null && truckHooked.foreignName.length>0) ? truckHooked.foreignName : (truckHooked.unite+ ' ' +truckHooked.marque+ ' ' +truckHooked.modele)}}
        </option>
        <option [ngValue]="null">&nbsp;</option>
        <!-- <option *ngFor="let c of trucks" [ngValue]="c">
            {{(c.foreignName!=null && c.foreignName.length>0) ? c.foreignName : (c.unite+ ' ' +c.marque+ ' ' +c.modele)}}
        </option> -->
      </select>
      <select *ngIf="truckHooked==null" [(ngModel)]="truck" (ngModelChange)="onSelectTruck()" [disabled]="!terminal.status">
        <option [ngValue]="null">&nbsp;</option>
        <!-- <option *ngFor="let c of trucks" [ngValue]="c">
            {{(c.foreignName!=null && c.foreignName.length>0) ? c.foreignName : (c.unite+ ' ' +c.marque+ ' ' +c.modele)}}
        </option> -->
        <!-- option of group -->
        <optgroup label="Units with GPS">
            <option *ngFor="let c of trucksGps" [ngValue]="c">
                {{(c.foreignName!=null && c.foreignName.length>0) ? c.foreignName : (c.unite+ ' ' +c.marque+ ' ' +c.modele)}}
            </option>
        </optgroup>
        <optgroup label="Units no-GPS">
            <option *ngFor="let c of trucksNoGps" [ngValue]="c">
                {{"#"+c.unite + ' ' +c.marque+ ' ' +c.modele}}
            </option>
        </optgroup>
        <!-- end option of group -->
      </select>
      <td width="19%"><input class="form-control" type="number" [(ngModel)]="terminal.idDriver" /></td>
      <!-- <td width="20%">{{terminal.id+(terminal.idTruck>0 ? terminal.idTruck : 0)}}</td> -->
    </tr>
    <tr>
        <th>Accept IDs </th>
        <td colspan="5">
            <textarea [(ngModel)]="terminal.accepts" cols="120" rows="2"></textarea>
        </td>
    </tr>
  </table>                      
  
  <!-- <br>                    
  <table border="1">
     <tr>
      <td colspan="2"><strong>Username - Password</strong></td>
    </tr>
    <tr>
      <td style="text-align: right;">Username: </td><td><input type="text" [(ngModel)]="terminal.loginName"></td>
      <td style="text-align: right;">Password: </td><td><input type="text" [(ngModel)]="terminal.password"></td>
    </tr>
  </table>           -->
  <table> 
    <td><button class="btn btn-primary" (click)="onModifyTerminal()">Modify</button></td>
  </table>
</div>   

<!-- <div *ngIf="terminal!=null">
    <label for=""> Latitude &nbsp;</label>
    <input type="number" [(ngModel)]="terminal.latitude" disabled> &nbsp;
    <label for=""> Longitude &nbsp;</label>
    <input type="number" [(ngModel)]="terminal.longitude" disabled>
    <p>
        <span>Speed : </span> {{terminal.speed + " km/h"}}
    </p>
</div> -->

<div [hidden]="terminal==null" #gmap style="width:100%;height:650px" ></div>
