<div class="container">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-primary">        
      <div>Pour registrer, veuillez bien remplir vos coordomees dessous.</div>    
        <p></p><p></p><p></p><p></p>
        <div class="panel-body">
          <form #f="ngForm" (ngSubmit)="onRegister(f.value)">
            <table>              
            <tr>
              <td><label class="control-label">Nom de Shipper </label></td>
              <td><label class="control-label">Raison Sociale </label></td>
              <td><label class="control-label">En Affaire de </label></td>
            </tr>
            <tr>
              <td><input type="text" name="nom" ngModel="" class="form-control" required/></td>
              <td><input type="text" name="raison_sociale" ngModel="" class="form-control" required/></td>
              <td><input type="text" name="depuis" ngModel="" class="form-control" required/></td>
            </tr>            
            <tr>
                <td><label class="control-label">Email </label></td>
                <td><label class="control-label">Tel </label></td>
                <td><label class="control-label">Fax </label></td>              
              </tr>
              <tr>
                <td><input type="email" name="email" ngModel="" class="form-control" required/></td>
                <td><input type="text" name="tel" ngModel="" class="form-control" required/></td>
                <td><input type="text" name="fax" ngModel="" class="form-control" required/></td>
              </tr>                  
            <tr>
                <td><label class="control-label">Numero </label></td>
                <td><label class="control-label">Rue</label></td>
                <td><label class="control-label">Code postal </label></td>
            </tr>
            <tr>                
                <td><input type="text" name="num" ngModel="" class="form-control" required/></td>
                <td><input type="text" name="rue" ngModel="" class="form-control" required/></td>
                <td><input type="text" name="code_postal" ngModel="" class="form-control" required/></td>
              </tr>
              <tr>    
                  <td><label class="control-label">Ville </label></td>
                  <td><label class="control-label">Province/Etat </label></td>
                  <td><label class="control-label">Pays </label></td>
                </tr>              
              <tr>  
                <td><input type="text" name="ville" ngModel="" class="form-control" required/></td>
                <td><input type="text" name="province" ngModel="" class="form-control" required/></td>
                <td><input type="text" name="num" ngModel="" class="form-control" required/></td>
              </tr>
              <tr><p></p> <p></p> Personne a contact</tr>
              <tr>
                <td><label class="control-label">Nom </label></td>
                <td><label class="control-label">Prenom</label></td>
                <td><label class="control-label">Fonction</label></td>
              </tr>
              <tr>                
                <td><input type="text" name="c_nom" ngModel="" class="form-control"/></td>
                <td><input type="text" name="prenom" ngModel="" class="form-control"/></td>
                <td><input type="text" name="fonction" ngModel="" class="form-control"/></td>
              </tr>
              <tr>    
                <td><label class="control-label">Email </label></td>
                <td><label class="control-label">Tel</label></td>
                <td><label class="control-label">Fax</label></td>
              </tr>              
              <tr>  
                <td><input type="text" name="email" ngModel="" class="form-control"/></td>
                <td><input type="text" name="tel" ngModel="" class="form-control"/></td>
                <td><input type="text" name="fax" ngModel="" class="form-control"/></td>
              </tr>
              <tr><p></p> <p></p> Creer votre Login</tr>
              <tr>    
                <td><label class="control-label">Login name </label></td>
                <td><label class="control-label">Password </label></td>
                <td><label class="control-label">Confirmer Password </label></td>
              </tr>              
              <tr>  
                <td><input type="text" name="username" ngModel="" class="form-control" required/></td>
                <td><input type="password" name="password" ngModel="" class="form-control" required/></td>
                <td><input type="password" name="re_password" ngModel="" class="form-control" required/></td>
              </tr>              
            <p></p><p></p>
            <tr>
              <td></td><td><button class="btn btn-success" [disabled]="!f.form.valid" >OK</button></td>
            </tr>  
          </table>            
          </form>
        </div>
      </div>
  </div>
</div>