<div class="container">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-primary">
      <table>
          <tr><td> </td> <td> </td> <td><div class="panel-heading">Registration</div></td></tr>        
      </table>      
        <p></p><p></p>
        <div class="panel-body">
          <form #f="ngForm" (ngSubmit)="onRegister(f.value)">
            <table>
              <!-- tr>
                <td><label class="control-label">Nom de Shipper </label></td>
                <td><input type="text" name="nom" ngModel="" class="form-control" required/></td>
              </tr>
              <tr>
                <td><label class="control-label">Raison Sociale </label></td>
                <td><input type="text" name="raison_sociale" ngModel="" class="form-control" required/></td>
              </tr -->
            
            <tr>
              <td><label class="control-label">Nom de Shipper </label></td>
              <td><input type="text" name="nom" ngModel="" class="form-control" required/></td>
            </tr>
            <tr>
              <td><label class="control-label">Raison Sociale </label></td>
              <td><input type="text" name="raison_sociale" ngModel="" class="form-control" required/></td>
            </tr>
            <tr>
              <td><label class="control-label">En Affaire de </label></td>
              <td><input type="text" name="depuis" ngModel="" class="form-control" required/></td>
            </tr>
            <tr>
              <td><label class="control-label">Email </label></td>
              <td><input type="email" name="email" ngModel="" class="form-control" required/></td>
            </tr>
            <tr>
              <td><label class="control-label">Tel </label></td>
              <td><input type="text" name="tel" ngModel="" class="form-control" required/></td>
            </tr>
            <tr>
              <td><label class="control-label">Fax </label></td>
              <td><input type="text" name="fax" ngModel="" class="form-control" required/></td>
            </tr>
            <tr>
              <td><label class="control-label">Creer votre login name </label></td>
              <td><input type="text" name="username" ngModel="" class="form-control" required/></td>
            </tr>
            <tr>
              <td><label class="control-label">Creer votre Password </label></td>
              <td><input type="password" name="password" ngModel="" class="form-control" required/></td>
            </tr>  
            <tr><td>Vous devez sasir une adresse </td><td><button routerLink="/register" class="btn btn-ok">Entrer votre adresse</button></td></tr>
            <tr><td>Personnes a contact </td><td><button routerLink="/register" class="btn btn-ok">Entrer personne contact</button></td></tr>
            <tr><td></td></tr>
            <tr>
              <td></td><td><button routerLink="/register" class="btn btn-success">OK</button></td>
            </tr>  
          </table>            
          </form>
        </div>
      </div>
  </div>
</div>