<div class="container">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-primary">        
      <div>Pour registrer, veuillez bien remplir vos coordomees dessous.</div>    
        <p></p><p></p><p></p><p></p>
        <div class="panel-body">
          <form #f="ngForm" (ngSubmit)="onRegister(f.value)">
            <table>              
            <tr>
              <td><label class="control-label">Nom de Shipper </label></td>
              <td><label class="control-label">Raison Sociale </label></td>
              <td><label class="control-label">En Affaire de </label></td>
            </tr>
            <tr>
              <td><input [(ngModel)]="shipper.nom" placeholder="nom de shipper" name="nom" class="form-control" id="nom" required/></td>
              <td><input [(ngModel)]="shipper.raison_sociale" placeholder="raison sociale" name="raison_sociale" class="form-control" required/></td>
              <td><input [(ngModel)]="shipper.depuis" placeholder="en affaire depuis" name="depuis" class="form-control" required/></td>
            </tr>            
            <tr>
                <td><label class="control-label">Email </label></td>
                <td><label class="control-label">Tel </label></td>
                <td><label class="control-label">Fax </label></td>              
              </tr>
              <tr>
                <td><input type="email" name="email" ngModel="" class="form-control" /></td>
                <td><input type="text" name="tel" ngModel="" class="form-control" /></td>
                <td><input type="text" name="fax" ngModel="" class="form-control" /></td>
              </tr>  
              <!--Adresse-->                
            <tr>
                <td><label class="control-label">Numero </label></td>
                <td><label class="control-label">Rue</label></td>
                <td><label class="control-label">Code postal </label></td>
            </tr>
            <tr>                
                <td><input [(ngModel)]="adresse.num" placeholder="numero" name="num" class="form-control" required/></td>
                <td><input [(ngModel)]="adresse.rue" placeholder="nom de la rue" name="rue" class="form-control" required/></td>
                <td><input [(ngModel)]="adresse.code_postal" placeholder="code postal" name="code_postal" class="form-control" required/></td>
              </tr>
              <tr>    
                  <td><label class="control-label">Ville </label></td>
                  <td><label class="control-label">Province/Etat </label></td>
                  <td><label class="control-label">Pays </label></td>
                </tr>              
              <tr>  
                <td><input type="text" name="ville" ngModel="" class="form-control" /></td>
                <td><input type="text" name="province" ngModel="" class="form-control" /></td>
                <td><input type="text" name="num" ngModel="" class="form-control" /></td>
              </tr>
              <tr><p></p> <p></p> Personne a contact</tr>
              <tr>
                <td><label class="control-label">Nom </label></td>
                <td><label class="control-label">Prenom</label></td>
                <td><label class="control-label">Fonction</label></td>
              </tr>
              <tr>                
                <td><input [(ngModel)]="contact.nom" placeholder="nom" name="c_nom" class="form-control" required/></td>
                <td><input [(ngModel)]="contact.prenom" placeholder="nom" name="prenom" class="form-control" required/></td>
                <td><input [(ngModel)]="contact.fonction" placeholder="fonction" name="fonction" class="form-control" required/></td>
              </tr>
              <tr>    
                <td><label class="control-label">Email </label></td>
                <td><label class="control-label">Tel</label></td>
                <td><label class="control-label">Fax</label></td>
              </tr>              
              <tr>  
                <td><input type="text" name="email" ngModel="" class="form-control"/></td>
                <td><input type="text" name="tel" ngModel="" class="form-control"/></td>
                <td><input type="text" name="fax" ngModel="" class="form-control"/></td>
              </tr>
              <tr><p></p> <p></p> Creer votre Login</tr>
              <tr>    
                <td><label class="control-label">Login name </label></td>
                <td><label class="control-label">Password </label></td>
                <td><label class="control-label">Confirmer Password </label></td>
              </tr>              
              <tr>  
                <td><input type="text" name="username" ngModel="" class="form-control" /></td>
                <td><input type="password" name="password" ngModel="" class="form-control" /></td>
                <td><input type="password" name="re_password" ngModel="" class="form-control" /></td>
              </tr>              
            <p></p><p></p>
            <!-- div class="form-group">
              <label for="lastName">Last Name:</label>
             <input [(ngModel)]="user.lastName" placeholder="Last name" name="lastName" class="form-control" id="lastName">
            </div>
          
            <button class="btn btn-success" (click)="createUser()">Create</button-->

            <tr>
              <td></td><td><button class="btn btn-success" (click)="createShipper()" [disabled]="!f.form.valid" >OK</button></td>
            </tr>  
          </table>            
          </form>
        </div>
      </div>
  </div>
</div>