<div class="container">
  <div class="col-sm-9 col-sm-offset-1">
    <div class="panel panel-primary">        
      <div> 
        <div>     
          <button (click)="printBonDeRemorquage('toprint')" class="btn btn-link">Print</button>
          <button (click)="onReset()" class="btn btn-link" [disabled]="(remorquage.id>0)">Reset</button>
          <button (click)="onSave()" class="btn btn-link">Enregistrer</button> 
          <button (click)="onFini()" class="btn btn-link">Fini</button>         
          <button (click)="onCancel()" class="btn btn-link" [disabled]="!(remorquage.id>0)">Cancel</button>
          <br>
        </div>
        <table class="table table-striped">
          <!--tr>
            <td style="width: 20%"><button class="btn btn-success" (click)="printBonDeRemorquage('toprint')" >Print</button></td>
            <td><button class="btn btn-danger" (click)="onReset()" >Reset</button></td>
            <td><button class="btn btn-primary" (click)="onSave()" >Enregistrer</button></td>
            <td><button class="btn btn-success" (click)="onFini()">Fini</button></td>
            <td><button class="btn btn-success" (click)="onCancel()">Cancel</button></td>
          </tr-->  
          <tr>
            <td>
              <h4><strong>
                Remorquage  
              </strong></h4>
            </td>
            <td>
              <h4><input type="date" [ngModel]="remorquage.dateDepart | date: 'yyyy-MM-dd'" name="dateDepart" min="{{remorquage.dateDepart | date: 'yyyy-MM-dd'}}" class="form-control"/></h4> 
            </td>
            <td><h4>BonNumero : {{remorquage.id}} </h4></td>
          </tr>
        </table>
      </div>
      <div class="panel-body">
        <div>
        <table class="table table-striped">    
          <tr>
            <th>Entreprise</th><td><input type="text" style="width: 15pc" [(ngModel)]="remorquage.nomEntreprise" name="nomEntreprise" class="form-control"></td>            
            <th>HeureAppel</th><td style="width: 8pc"><input type="time" style="width: 8pc" [(ngModel)]="remorquage.timeCall" name="timeCall" class="form-control"></td>
            <th>HeureReserve</th><td style="width: 8pc"><input type="time" style="width: 8pc" [(ngModel)]="remorquage.timeResrvation" name="timeResrvation" class="form-control"></td>
          </tr>
          <tr>
            <th>Contact</th><td><input type="text" style="width: 15pc" [(ngModel)]="remorquage.nomContact" name="nomContact" class="form-control"></td>            
            <th>Telephone</th><td><input type="text" [(ngModel)]="remorquage.telContact" name="telContact" class="form-control"></td>
            <th>Extension</th><td><input type="text" [(ngModel)]="remorquage.extTelContact" name="extTelContact" class="form-control"></td>
          </tr>
          <tr>
            <th>Client</th><td><input type="text" style="width: 15pc" [(ngModel)]="remorquage.nomClient" name="nomClient" class="form-control"></td>
            <th>Telephone</th><td><input type="text" [(ngModel)]="remorquage.telClient" name="telClient" class="form-control"></td>
          </tr>
        </table>
        </div>
        <div>
        <table class="table table-striped" style="margin-bottom: 0px" style="margin-top: 0px">
          <!--tr style="margin: 0px">
            <th><label class="control-label">Type</label></th>                                      
            <td>
              <select type="text" [ngModel]="remorquage.typeService" (ngModelChange)="typeServiceChange($event)"  style="margin-bottom: 0px" style="margin-top: 0px">
                <option *ngFor="let s of serviceTypes" [ngValue]="s">{{s}}</option>
              </select>
            </td>
            <th>Description</th>
            <td colspan="5"><textarea name="comments" id="" cols="50" rows="1" [(ngModel)]="remorquage.comments"  style="margin-bottom: 0px" style="margin-top: 0px"></textarea></td>
          </tr-->
          <tr>
            <th><label class="control-label">Type</label></th>
            <th>Marque</th>
            <th>Modele</th>
            <th>Plaque</th>
            <th>Couleur</th>
            <th>Serie</th>
          </tr>
          <tr>
            <td>
              <select type="text" [ngModel]="remorquage.typeService" (ngModelChange)="typeServiceChange($event)"  style="margin-bottom: 0px" style="margin-top: 0px">
                <option *ngFor="let s of serviceTypes" [ngValue]="s">{{s}}</option>
              </select>
            </td>
            <td><input type="text" style="width: 5pc" [(ngModel)]="remorquage.marque" name="marque" class="form-control"/></td>
            <td><input type="text" style="width: 5pc" [(ngModel)]="remorquage.modele" name="modele" class="form-control"/></td>
            <td><input type="text" style="width: 10pc" [(ngModel)]="remorquage.plaque" name="plaque" class="form-control"/></td>
            <td><input type="text" style="width: 10pc" [(ngModel)]="remorquage.couleur" name="couleur" class="form-control"/></td>
            <td><input type="text" style="width: 10pc" [(ngModel)]="remorquage.serie" name="serie" class="form-control"/></td>
          </tr>
          <tr>
              <th>Description</th>
              <td colspan="6"><textarea name="comments" id="" cols="50" rows="1" [(ngModel)]="remorquage.comments"  style="margin-bottom: 0px" style="margin-top: 0px"></textarea></td>
          </tr>
          <tr>    
            <td colspan="8">
              <span>Panne <input type="checkbox" [(ngModel)]="remorquage.panne"></span>
              <span> - Accident <input type="checkbox" [(ngModel)]="remorquage.accident"></span>
              <span> - PullOut <input type="checkbox" [(ngModel)]="remorquage.pullOut"></span>
              <span> - DebaragePorte <input type="checkbox" [(ngModel)]="remorquage.debaragePorte"></span>
              <span> - Survoltage <input type="checkbox" [(ngModel)]="remorquage.survoltage"></span>
              <span> - Essence <input type="checkbox" [(ngModel)]="remorquage.essence"></span>
              <span> - ChangementPneu <input type="checkbox" [(ngModel)]="remorquage.changementPneu"></span>
            </td>
          </tr>
          <tr>
            <th><label class="control-label">Adresse</label></th>
            <th colspan="2">Numero & Rue</th>
            <th>Province</th>
            <th>Ville</th>
          </tr>       
          <tr>
              <th><label class="control-label">Origin</label></th>
              <td colspan="2"><input type="text" [(ngModel)]="remorquage.originAdresse" name="origin" class="form-control" (change)="originChange()"/></td>
              <td>
                <select type="text" [(ngModel)]="remorquage.originProvince" (ngModelChange)="originChange()">
                  <option *ngFor="let p of provinceList" [ngValue]="p">{{p}}</option>
                </select>
              </td>
              <td>
                <select type="text" [(ngModel)]="remorquage.originVille" (ngModelChange)="originChange()">
                  <option *ngFor="let v of villeListO" [ngValue]="v">{{v}}</option>
                </select>
                <input type="text" [(ngModel)]="remorquage.originVille" name="originVille" class="form-control" (change)="originChange()">
              </td>
            </tr>       
            <tr>
              <th><label class="control-label">Destination</label></th>
              <td colspan="2"><input type="text" [(ngModel)]="remorquage.destAdresse" name="origin" class="form-control" (change)="destinationChange()"/></td>
              <td>
                <select type="text" [(ngModel)]="remorquage.destProvince" (ngModelChange)="destinationChange()">
                  <option *ngFor="let p of provinceList" [ngValue]="p">{{p}}</option>
                </select>
              </td>  
              <td>
                <select type="text" [(ngModel)]="remorquage.destVille" (ngModelChange)="destinationChange()">
                  <option *ngFor="let v of villeListD" [ngValue]="v">{{v}}</option>
                </select>
                <input type="text" [(ngModel)]="remorquage.destVille" name="destVille" class="form-control" (change)="destinationChange()">
              </td>
            </tr>               
          </table>
        <table class="table table-striped">
          <tr *ngIf="mode==2">                  
              <th *ngIf="mode==2"><label class="control-label">PrixBase</label></th>                  
              <th *ngIf="mode==2"><label class="control-label">Prix/Km</label></th>                  
              <th *ngIf="mode==2"><label class="control-label">Inclus</label></th>  
              <th><label class="control-label">Distance(kms)</label></th>              
          </tr>
          <tr>
            <td><input type="number" [(ngModel)]="remorquage.prixBase" name="prixBase" class="form-control" (change)="prixCalcul()"/></td>
            <td><input type="number" [(ngModel)]="remorquage.prixKm" name="prixKm" class="form-control" (change)="prixCalcul()"/></td>
            <td><input type="number" [(ngModel)]="remorquage.inclus" name="inclus" class="form-control" (change)="prixCalcul()"/></td>
            <td *ngIf="mode==2">{{remorquage.distance}}</td>
            <td style="text-align: right">
              <table>
                <tr><th>HorsTax:</th><td>{{remorquage.horstax | number : '1.2'}}</td></tr>
                <tr><th>TPS:</th><td>{{remorquage.tps | number : '1.2'}}</td></tr>
                <tr><th>TVQ:</th><td>{{remorquage.tvq | number : '1.2'}}</td></tr>
                <tr><th>TOTAL:</th><td>{{remorquage.total | number : '1.2'}}</td></tr>
              </table>
            </td>
          </tr>            
          <!--tr>
            <td style="width: 20%"><button class="btn btn-success" (click)="printBonDeRemorquage('toprint')" >Print</button></td>
            <td><button class="btn btn-danger" (click)="onReset()" >Reset</button></td>
            <td><button class="btn btn-primary" (click)="onSave()" >Enregistrer</button></td>
            <td><button class="btn btn-success" (click)="onFini()">Fini</button></td>
            <td><button class="btn btn-success" (click)="onCancel()">Cancel</button></td>
          </tr-->  
        </table>
        </div>
      </div>
    </div>
  </div>
  <div>     
    <button (click)="printBonDeRemorquage('toprint')" class="btn btn-link">Print</button>
    <button (click)="onReset()" class="btn btn-link" [disabled]="(remorquage.id>0)">Reset</button>
    <button (click)="onSave()" class="btn btn-link">Enregistrer</button> 
    <button (click)="onFini()" class="btn btn-link">Fini</button>         
    <button (click)="onCancel()" class="btn btn-link"[disabled]="!(remorquage.id>0)">Cancel</button>
    <br>
  </div>
  <br>
  <div class="row" >
    <div class="col-md-12">
      <div class="text-center">
        <h3>
          <div #gmap style="width:100%;height:500px" ></div>
        </h3>
      </div>
    </div>
  </div>
<br>
<!--for test directionService-->
<div id="right-panel" hidden></div>
<div id="toprint" hidden>
    <p style="font-size: 14pt">    
      
        <span style="font-size: 16pt" style="font-weight: bold"> Bon de Remorquage  &nbsp;&nbsp;-&nbsp;&nbsp;  Date : {{remorquage.dateDepart | date: 'yyyy-MM-dd'}}  
          &nbsp;&nbsp;-&nbsp;&nbsp;  Numero : <label *ngIf="remorquage.id>0">{{remorquage.id}}</label></span><br><br>

        Entreprise : {{remorquage.nomEntreprise}}<br>
        Contact : {{remorquage.nomContact}}  -  Tel: {{remorquage.telContact}} ext. {{remorquage.extTelContact}} <br><br>
        
        Client : {{remorquage.nomClient}} <br>
        Telephone : {{remorquage.telClient}} <br><br>

        Heure d'appel : {{remorquage.timeCall}} <br>
        Heure Reserve : {{remorquage.timeResrvation}} <br><br>

        Type : {{remorquage.typeService}}<br>
        Marque : {{remorquage.marque}}  -  Modele : {{remorquage.modele}}  -  Couleur : {{remorquage.couleur}} <br>
        Plaque : {{remorquage.plaque}}  -  Serie : {{remorquage.serie}} <br>
        Description : {{remorquage.comments}} <br>
        <span>Service : </span>
        <span *ngIf="remorquage.panne">Panne </span>
        <span *ngIf="remorquage.accident"> - Accident </span>
        <span *ngIf="remorquage.pullOut"> - PullOut </span>
        <span *ngIf="remorquage.debaragePorte"> - DebaragePorte </span>
        <span *ngIf="remorquage.survoltage"> - Survoltage </span>
        <span *ngIf="remorquage.essence"> - Essence </span>
        <span *ngIf="remorquage.changementPneu"> - ChangementPneu </span>
        <br><br>

        De : {{remorquage.origin}} <br>
        A : {{remorquage.destination}} <br>
        Distance(kms) : {{remorquage.distance}} <br><br>
      </p>
    <table>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td colspan="4" style="text-align: right">
          <table style="font-size: 12pt" style="text-align: right">
            <tr><th>HorsTax:</th><td>{{remorquage.horstax | number : '1.2'}}</td></tr>
            <tr><th>TPS:</th><td>{{remorquage.tps | number : '1.2'}}</td></tr>
            <tr><th>TVQ:</th><td>{{remorquage.tvq | number : '1.2'}}</td></tr>
            <tr><th>TOTAL:</th><td>{{remorquage.total | number : '1.2'}}</td></tr>
          </table>
        </td>
      </tr>            
    </table>
  </div>
</div>
