<div class="container spacer">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <div class="panel-body">
          <table class="table table-striped">
            <tr>
              <th>Prevoir</th><th>Origin</th><th>Destination</th><th>Type Camions</th>
            </tr>
            <tr *ngFor="let d of demandes" (click)="onSearchTruck(d)">
              <td>{{today | date: 'yyyy-MM-dd'}}</td><td>{{d.origin}}</td><td>{{d.destination}}</td><td>{{d.typeCamion}}</td>
              <td><button class="btn btn-link" (click)="gotoDetailDemande(d)">Edit</button></td>
              <td><button class="btn btn-link" (click)="onSearchTruck(d)">EquipmentsMatch</button></td>
              <td><button class="btn btn-link" (click)="deleteDemande(d.id)">Delete</button></td>
            </tr>
          </table>
        </div>
      </div>    
    </div>
  </div>